.button_one {
  button, a {
    color: $white;
    background-color: $red;
    padding: 10px 20px;
    font-family: sharp;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  @media (hover: hover) {
    button:hover, a:hover {
      background-color: $black;
      color: $green-two;
    }
  }
}

.button_two {
  button {
    color: $green-two;
    background-color: transparent;
    font-size: 20px;
    text-decoration: underline;
    font-family: sharp;
    transition: color 0.5s;

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  a {
    color: $green-two;
    background-color: transparent;
    font-size: 20px;
    text-decoration: underline;
    font-family: sharp;
    transition: color 0.5s;

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  @media (hover: hover) {
    button:hover {
      color: $white;
    }

    a:hover {
      color: $white;
    }
  }
}
