---
const { data } = Astro.props;
---

<section id="Alcancías" class="relative">
  <div class="container_all">
    <h2 class="pt-[100px] title">Alcancías</h2>

    <div class="border w-full opacity-70"></div>

    <p class="mt-[65px] text-white text-[14px] pp-light lg:text-[22px] lg:w-[80%]">
      {data}
    </p>

    <div class="button_two text-end mt-[42px] pb-[100px] lg:pb-[50px]">
      <button class="entradas entradas_alcancias2">ALCANCÍAS</button>
    </div>
  </div>
</section>
