---
import SvgFigureWhite from "../../svgs/SvgFigureWhite.astro";
import Modal from "../common/Modal";

import SvgFigureBird from "../../svgs/SvgFigureBird.astro";

const { data } = Astro.props;
---

<section id="Cashless" class="relative pb-[100px]">
  <div class="lg:flex items-center justify-center lg:mb-[100px]">
    <div class="w-[100%] m-auto">
      <SvgFigureWhite />
    </div>
    <div class="hidden lg:block w-[100%] m-auto">
      <SvgFigureWhite />
    </div>
  </div>
  <div class="container_all">
    <h2 class="pt-[100px] title">Cashless</h2>

    <div class="border w-full opacity-70"></div>

    <p class="mt-[68px] text-[14px] text-white pp-book lg:text-[20px] lg:w-[80%]">{data?.Texto_cashless}</p>

    <div class="button_two text-end mt-[50px] mb-[100px]">
      <a class="cursor-pointer" href="#">RECARGA CASHLESS</a>
    </div>

    <Modal client:idle data={data?.Modal_cashless} />

    <div class="absolute w-[90%] right-[-100px] bottom-0 max-w-[500px] lg:right-[-50px] md:bottom-[-80px]">
      <SvgFigureBird />
    </div>
  </div>
</section>
