---
const { data } = Astro.props;
---

<section id="Galerías" class="gallery-container">
  {
    data.map((item, index) => (
      <div class="gallery-item" data-index={index}>
        <img src={item?.url} alt="imagen_experiencia" />
        <div class="white-overlay" />
      </div>
    ))
  }
</section>

<script type="module">
  function animateGalleryItemsSequentially() {
    const items = document.querySelectorAll(".white-overlay");
    let delay = 0;

    items.forEach((item, index) => {
      setTimeout(() => {
        item.classList.add("fade-to-white-animation");
        setTimeout(() => {
          item.classList.remove("fade-to-white-animation");

          if (index === items.length - 1) {
            setTimeout(animateGalleryItemsSequentially, 200);
          }
        }, 200);
      }, delay);
      delay += 200;
    });
  }

  document.addEventListener("DOMContentLoaded", animateGalleryItemsSequentially);
</script>
