---

---

<div class="relative">
  <svg class="svg-anim" viewBox="0 0 473 287" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M262.927 212.555H169.725V230.196H262.927V212.555Z" fill="#FFFBEB"></path>
    <path d="M262.927 230.178H169.725V247.819H262.927V230.178Z" fill="#3D3D3B"></path>
    <path d="M262.927 247.978H169.725V265.619H262.927V247.978Z" fill="#FFFBEB"></path>
    <path d="M258.371 141.993H169.725V159.634H258.371V141.993Z" fill="#FFFBEB"></path>
    <path d="M258.371 159.616H169.725V177.257H258.371V159.616Z" fill="#3D3D3B"></path>
    <path d="M258.371 177.399H169.725V195.039H258.371V177.399Z" fill="#FFFBEB"></path>
    <path d="M258.371 195.039H169.725V212.68H258.371V195.039Z" fill="#3D3D3B"></path>
    <path d="M248.48 71.3605H169.725V89.001H248.48V71.3605Z" fill="#FFFBEB"></path>
    <path d="M248.48 88.9833H169.725V106.624H248.48V88.9833Z" fill="#3D3D3B"></path>
    <path d="M248.48 106.783H169.725V124.424H248.48V106.783Z" fill="#FFFBEB"></path>
    <path d="M248.48 124.406H169.725V142.047H248.48V124.406Z" fill="#3D3D3B"></path>
    <path d="M449.136 212.555H347.195V230.196H449.136V212.555Z" fill="#FFFBEB"></path>
    <path d="M449.119 230.178H355.916V247.819H449.119V230.178Z" fill="#3D3D3B"></path>
    <path d="M449.119 247.978H355.916V265.619H449.119V247.978Z" fill="#FFFBEB"></path>
    <path d="M444.12 141.993H326.74V159.634H444.12V141.993Z" fill="#FFFBEB"></path>
    <path d="M444.138 159.616H347.195V177.257H444.138V159.616Z" fill="#3D3D3B"></path>
    <path d="M444.138 177.399H347.195V195.039H444.138V177.399Z" fill="#FFFBEB"></path>
    <path d="M444.138 195.039H347.195V212.68H444.138V195.039Z" fill="#3D3D3B"></path>
    <path d="M431.021 71.3605H326.74V89.001H431.021V71.3605Z" fill="#FFFBEB"></path>
    <path d="M431.021 88.9833H326.74V106.624H431.021V88.9833Z" fill="#3D3D3B"></path>
    <path d="M431.021 106.783H326.74V124.424H431.021V106.783Z" fill="#FFFBEB"></path>
    <path d="M431.021 124.406H326.74V142.047H431.021V124.406Z" fill="#3D3D3B"></path>
    <path d="M262.838 230.196H356.041V212.555H262.838V230.196Z" fill="#3D3D3B"></path>
    <path d="M258.69 159.616H347.337V141.976H258.69V159.616Z" fill="#3D3D3B"></path>
    <path d="M258.69 177.257H347.337V159.616H258.69V177.257Z" fill="#FFFBEB"></path>
    <path d="M258.69 195.039H347.337V177.399H258.69V195.039Z" fill="#3D3D3B"></path>
    <path d="M258.69 212.662H347.337V195.021H258.69V212.662Z" fill="#FFFBEB"></path>
    <path d="M248.782 88.9833L327.537 88.9833V71.3428L248.782 71.3428V88.9833Z" fill="#3D3D3B"></path>
    <path d="M248.782 106.624L327.537 106.624V88.9833L248.782 88.9833V106.624Z" fill="#FFFBEB"></path>
    <path d="M248.782 124.406L327.537 124.406V106.766L248.782 106.766V124.406Z" fill="#3D3D3B"></path>
    <path d="M248.782 142.047H327.537V124.406L248.782 124.406V142.047Z" fill="#FFFBEB"></path>
    <path d="M248.48 35.423H169.725V53.0635H248.48V35.423Z" fill="#FFFBEB"></path>
    <path d="M248.48 53.0457H169.725V70.6861H248.48V53.0457Z" fill="#3D3D3B"></path>
    <path d="M431.021 0H326.74V17.6405H431.021V0Z" fill="#FFFBEB"></path>
    <path d="M431.021 17.6227H326.74V35.2632H431.021V17.6227Z" fill="#3D3D3B"></path>
    <path d="M431.021 35.423H326.74V53.0635H431.021V35.423Z" fill="#FFFBEB"></path>
    <path d="M431.021 53.0457H326.74V70.6861H431.021V53.0457Z" fill="#3D3D3B"></path>
    <path d="M439.352 230.196H472.339V212.555H439.352V230.196Z" fill="#3D3D3B"></path>
    <path d="M439.352 247.836H472.339V230.196H439.352V247.836Z" fill="#FFFBEB"></path>
    <path d="M439.352 265.601H472.339V247.961H439.352V265.601Z" fill="#3D3D3B"></path>
    <path d="M439.352 284.803H472.339V265.619H439.352V284.803Z" fill="#FFFBEB"></path>
    <path d="M437.88 159.616H472.641V141.976H437.88V159.616Z" fill="#3D3D3B"></path>
    <path d="M437.88 177.257H472.641V159.616H437.88V177.257Z" fill="#FFFBEB"></path>
    <path d="M437.88 195.039H472.641V177.399H437.88V195.039Z" fill="#3D3D3B"></path>
    <path d="M437.88 212.662H472.641V195.021H437.88V212.662Z" fill="#FFFBEB"></path>
    <path d="M431.446 88.9833H472.658V71.3428H431.446V88.9833Z" fill="#3D3D3B"></path>
    <path d="M431.446 106.624H472.658V88.9833H431.446V106.624Z" fill="#FFFBEB"></path>
    <path d="M431.446 124.406H472.658V106.766H431.446V124.406Z" fill="#3D3D3B"></path>
    <path d="M431.446 142.047H472.658V124.406H431.446V142.047Z" fill="#FFFBEB"></path>
    <path d="M13.7197 75.3004L13.7197 149.057H26.7659L26.7659 75.3004H13.7197Z" fill="#FFFBEB"></path>
    <path d="M26.7483 75.3004L26.7483 149.057H39.7945L39.7945 75.3004H26.7483Z" fill="#3D3D3B"></path>
    <path d="M39.9185 75.3004L39.9185 149.057H52.9646L52.9646 75.3004H39.9185Z" fill="#FFFBEB"></path>
    <path d="M169.654 73.295V159.669H182.7V73.295H169.654Z" fill="#FFFBEB"></path>
    <path d="M52.9646 75.3004L52.9646 149.057H66.0108V75.3004H52.9646Z" fill="#3D3D3B"></path>
    <path d="M66.1172 75.3004V149.057H79.1634V75.3004H66.1172Z" fill="#FFFBEB"></path>
    <path d="M79.1633 75.3004V149.057H92.2095V75.3004H79.1633Z" fill="#3D3D3B"></path>
    <path d="M169.76 251.865V131.824H150.279V251.865H169.76Z" fill="#FFFBEB"></path>
    <path d="M150.279 251.847V131.807H130.799V251.847H150.279Z" fill="#3D3D3B"></path>
    <path d="M130.639 251.847V131.807H111.159V251.847H130.639Z" fill="#FFFBEB"></path>
    <path d="M111.176 251.847L111.176 131.807H91.6956V251.847H111.176Z" fill="#3D3D3B"></path>
    <path d="M91.6956 46.7988V133.315H111.176V46.7988H91.6956Z" fill="#FFFBEB"></path>
    <path d="M111.176 46.781V133.297H130.657V46.781H111.176Z" fill="#3D3D3B"></path>
    <path d="M130.816 46.781V133.297H150.297V46.781H130.816Z" fill="#FFFBEB"></path>
    <path d="M150.279 46.781V133.297H169.76V46.781H150.279Z" fill="#3D3D3B"></path>
    <path d="M61.3135 182.403V147.229H46.0161V182.403H61.3135Z" fill="#FFFBEB"></path>
    <path d="M46.0161 182.386V147.211H30.7188V182.386H46.0161Z" fill="#3D3D3B"></path>
    <path d="M92.1387 182.386V147.211H76.8413V182.386H92.1387Z" fill="#FFFBEB"></path>
    <path d="M76.8591 182.403V147.229H61.5618V182.403H76.8591Z" fill="#3D3D3B"></path>
    <path d="M30.5947 182.403L30.5947 147.229H15.2974L15.2974 182.403H30.5947Z" fill="#FFFBEB"></path>
    <path d="M15.2974 182.386L15.2974 147.211H3.8147e-06L3.8147e-06 182.386H15.2974Z" fill="#3D3D3B"></path>
    <path d="M73.7749 217.578V182.403H55.3755V217.578H73.7749Z" fill="#FFFBEB"></path>
    <path d="M55.3755 217.578V182.403H36.9761V217.578H55.3755Z" fill="#3D3D3B"></path>
    <path d="M91.5715 217.595V182.421H73.1722V217.595H91.5715Z" fill="#3D3D3B"></path>
    <path d="M36.7988 217.578V182.403H18.3995L18.3995 217.578H36.7988Z" fill="#FFFBEB"></path>
    <path d="M18.3994 217.578L18.3994 182.403H4.00543e-05L4.00543e-05 217.578H18.3994Z" fill="#3D3D3B"></path>
    <path d="M104.99 286.312V251.137H91.9438V286.312H104.99Z" fill="#FFFBEB"></path>
    <path d="M91.9436 286.312V251.137H78.8974V286.312H91.9436Z" fill="#3D3D3B"></path>
    <path d="M78.7913 286.312V251.137H65.7451V286.312H78.7913Z" fill="#FFFBEB"></path>
    <path d="M65.7449 286.312V251.137H52.6987V286.312H65.7449Z" fill="#3D3D3B"></path>
    <path d="M157.228 286.312V251.137H144.182V286.312H157.228Z" fill="#FFFBEB"></path>
    <path d="M144.182 286.312V251.137H131.135V286.312H144.182Z" fill="#3D3D3B"></path>
    <path d="M131.029 286.312V251.137H117.983V286.312H131.029Z" fill="#FFFBEB"></path>
    <path d="M117.983 286.312V251.137H104.937V286.312H117.983Z" fill="#3D3D3B"></path>
    <path d="M182.7 286.312V217.507H169.654V286.312H182.7Z" fill="#FFFBEB"></path>
    <path d="M170.363 286.312V251.137H157.316V286.312H170.363Z" fill="#3D3D3B"></path>
    <path d="M91.8374 252.575V217.4H68.9179V252.575H91.8374Z" fill="#FFFBEB"></path>
    <path d="M68.9355 252.575V217.4H46.0161V252.575H68.9355Z" fill="#3D3D3B"></path>
    <path d="M45.8213 252.575V217.4H22.9018L22.9018 252.575H45.8213Z" fill="#FFFBEB"></path>
    <path d="M22.9194 252.575L22.9194 217.4H-3.8147e-05L-3.8147e-05 252.575H22.9194Z" fill="#3D3D3B"></path>
    <path d="M182.682 182.386V147.211H169.636V182.386H182.682Z" fill="#FFFBEB"></path>
    <path d="M182.7 217.578V182.403H169.654V217.578H182.7Z" fill="#3D3D3B"></path>
  </svg>

  <svg  viewBox="0 0 473 287" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M262.927 212.555H169.725V230.196H262.927V212.555Z" fill="#FFFBEB"></path>
    <path d="M262.927 230.178H169.725V247.819H262.927V230.178Z" fill="#3D3D3B"></path>
    <path d="M262.927 247.978H169.725V265.619H262.927V247.978Z" fill="#FFFBEB"></path>
    <path d="M258.371 141.993H169.725V159.634H258.371V141.993Z" fill="#3D3D3B"></path>
    <path d="M258.371 159.616H169.725V177.257H258.371V159.616Z" fill="#FFFBEB"></path>
    <path d="M258.371 177.399H169.725V195.039H258.371V177.399Z" fill="#3D3D3B"></path>
    <path d="M258.371 195.039H169.725V212.68H258.371V195.039Z" fill="#FFFBEB"></path>
    <path d="M248.48 71.3605H169.725V89.001H248.48V71.3605Z" fill="#3D3D3B"></path>
    <path d="M248.48 88.9833H169.725V106.624H248.48V88.9833Z" fill="#FFFBEB"></path>
    <path d="M248.48 106.783H169.725V124.424H248.48V106.783Z" fill="#3D3D3B"></path>
    <path d="M248.48 124.406H169.725V142.047H248.48V124.406Z" fill="#FFFBEB"></path>
    <path d="M449.136 212.555H347.195V230.196H449.136V212.555Z" fill="#FFFBEB"></path>
    <path d="M449.119 230.178H355.916V247.819H449.119V230.178Z" fill="#3D3D3B"></path>
    <path d="M449.119 247.978H355.916V265.619H449.119V247.978Z" fill="#FFFBEB"></path>
    <path d="M444.12 141.993H326.74V159.634H444.12V141.993Z" fill="#FFFBEB"></path>
    <path d="M444.138 159.616H347.195V177.257H444.138V159.616Z" fill="#3D3D3B"></path>
    <path d="M444.138 177.399H347.195V195.039H444.138V177.399Z" fill="#FFFBEB"></path>
    <path d="M444.138 195.039H347.195V212.68H444.138V195.039Z" fill="#3D3D3B"></path>
    <path d="M431.021 71.3605H326.74V89.001H431.021V71.3605Z" fill="#FFFBEB"></path>
    <path d="M431.021 88.9833H326.74V106.624H431.021V88.9833Z" fill="#3D3D3B"></path>
    <path d="M431.021 106.783H326.74V124.424H431.021V106.783Z" fill="#FFFBEB"></path>
    <path d="M437.881 124.406H326.74V142.047H437.881V124.406Z" fill="#FFFBEB"></path>
    <path d="M262.838 230.196H356.041V212.555H262.838V230.196Z" fill="#3D3D3B"></path>
    <path d="M258.69 159.616H347.337V141.976H258.69V159.616Z" fill="#FFFBEB"></path>
    <path d="M258.69 177.257H347.337V159.616H258.69V177.257Z" fill="#3D3D3B"></path>
    <path d="M258.69 195.039H347.337V177.399H258.69V195.039Z" fill="#FFFBEB"></path>
    <path d="M258.69 212.662H347.337V195.021H258.69V212.662Z" fill="#3D3D3B"></path>
    <path d="M248.782 88.9833L327.537 88.9833V71.3428L248.782 71.3428V88.9833Z" fill="#FFFBEB"></path>
    <path d="M248.782 106.624L327.537 106.624V88.9833L248.782 88.9833V106.624Z" fill="#3D3D3B"></path>
    <path d="M248.782 124.406L327.537 124.406V106.766L248.782 106.766V124.406Z" fill="#FFFBEB"></path>
    <path d="M248.782 142.047H327.537V124.406L248.782 124.406V142.047Z" fill="#3D3D3B"></path>
    <path d="M248.48 35.423H169.725V53.0635H248.48V35.423Z" fill="#3D3D3B"></path>
    <path d="M248.48 53.0457H169.725V70.6861H248.48V53.0457Z" fill="#FFFBEB"></path>
    <path d="M431.021 0H326.74V17.6405H431.021V0Z" fill="#FFFBEB"></path>
    <path d="M431.021 17.6227H326.74V35.2632H431.021V17.6227Z" fill="#3D3D3B"></path>
    <path d="M431.021 35.423H326.74V53.0635H431.021V35.423Z" fill="#FFFBEB"></path>
    <path d="M431.021 53.0457H326.74V70.6861H431.021V53.0457Z" fill="#3D3D3B"></path>
    <path d="M439.352 230.196H472.339V212.555H439.352V230.196Z" fill="#FFFCE8"></path>
    <path d="M439.352 247.836H472.339V230.196H439.352V247.836Z" fill="#3D3D3B"></path>
    <path d="M439.352 265.601H472.339V247.961H439.352V265.601Z" fill="#FFFCE8"></path>
    <path d="M439.352 284.803H472.339V265.619H439.352V284.803Z" fill="#3D3D3B"></path>
    <path d="M437.88 159.616H472.641V141.976H437.88V159.616Z" fill="#FFFCE8"></path>
    <path d="M437.88 177.257H472.641V159.616H437.88V177.257Z" fill="#3D3D3B"></path>
    <path d="M437.88 195.039H472.641V177.399H437.88V195.039Z" fill="#FFFCE8"></path>
    <path d="M437.88 212.662H472.641V195.021H437.88V212.662Z" fill="#3D3D3B"></path>
    <path d="M431.446 88.9833H472.658V71.3428H431.446V88.9833Z" fill="#FFFCE8"></path>
    <path d="M431.446 106.624H472.658V88.9833H431.446V106.624Z" fill="#3D3D3B"></path>
    <path d="M431.446 124.406H472.658V106.766H431.446V124.406Z" fill="#FFFCE8"></path>
    <path d="M431.446 142.047H472.658V124.406H431.446V142.047Z" fill="#3D3D3B"></path>
    <path d="M13.7197 75.3003L13.7197 149.057H26.7659L26.7659 75.3003H13.7197Z" fill="#3D3D3B"></path>
    <path d="M26.7483 75.3003L26.7483 149.057H39.7945L39.7945 75.3003H26.7483Z" fill="#FFFCE8"></path>
    <path d="M39.9185 75.3003L39.9185 149.057H52.9646L52.9646 75.3003H39.9185Z" fill="#3D3D3B"></path>
    <path d="M169.654 73.295V159.669H182.7V73.295H169.654Z" fill="#FFFBEB"></path>
    <path d="M52.9646 75.3003L52.9646 149.057H66.0108V75.3003H52.9646Z" fill="#FFFCE8"></path>
    <path d="M66.1172 75.3003V149.057H79.1634V75.3003H66.1172Z" fill="#FFFBEB"></path>
    <path d="M79.1633 75.3003V149.057H92.2095V75.3003H79.1633Z" fill="#3D3D3B"></path>
    <path d="M169.76 251.865V131.824H150.279V251.865H169.76Z" fill="#FFFBEB"></path>
    <path d="M150.279 251.847V131.807H130.799V251.847H150.279Z" fill="#3D3D3B"></path>
    <path d="M130.639 251.847V131.807H111.159V251.847H130.639Z" fill="#FFFBEB"></path>
    <path d="M111.176 251.847L111.176 131.807H91.6956V251.847H111.176Z" fill="#3D3D3B"></path>
    <path d="M91.6956 46.7988V133.315H111.176V46.7988H91.6956Z" fill="#FFFBEB"></path>
    <path d="M111.176 46.781V133.297H130.657V46.781H111.176Z" fill="#3D3D3B"></path>
    <path d="M130.816 46.781V133.297H150.297V46.781H130.816Z" fill="#FFFBEB"></path>
    <path d="M150.279 46.781V133.297H169.76V46.781H150.279Z" fill="#3D3D3B"></path>
    <path d="M61.3135 182.403V147.229H46.0161V182.403H61.3135Z" fill="#3D3D3B"></path>
    <path d="M46.0161 182.386V147.211H30.7188V182.386H46.0161Z" fill="#FFFCE8"></path>
    <path d="M92.1387 182.386V147.211H76.8413V182.386H92.1387Z" fill="#FFFBEB"></path>
    <path d="M76.8591 182.403V147.229H61.5618V182.403H76.8591Z" fill="#FFFCE8"></path>
    <path d="M30.5947 182.403L30.5947 147.229H15.2974L15.2974 182.403H30.5947Z" fill="#3D3D3B"></path>
    <path d="M15.2974 182.386L15.2974 147.211H3.8147e-06L3.8147e-06 182.386H15.2974Z" fill="#FFFCE8"></path>
    <path d="M73.7749 217.578V182.403H55.3755V217.578H73.7749Z" fill="#3D3D3B"></path>
    <path d="M55.3755 217.578V182.403H36.9761V217.578H55.3755Z" fill="#FFFCE8"></path>
    <path d="M91.5715 217.595V182.421H73.1722V217.595H91.5715Z" fill="#FFFCE8"></path>
    <path d="M36.7988 217.578V182.403H18.3995L18.3995 217.578H36.7988Z" fill="#3D3D3B"></path>
    <path d="M18.3994 217.578L18.3994 182.403H4.00543e-05L4.00543e-05 217.578H18.3994Z" fill="#FFFCE8"></path>
    <path d="M104.99 286.312V251.137H91.9438V286.312H104.99Z" fill="#FFFBEB"></path>
    <path d="M91.9436 286.312V251.137H78.8974V286.312H91.9436Z" fill="#3D3D3B"></path>
    <path d="M78.7913 286.312V251.137H65.7451V286.312H78.7913Z" fill="#FFFBEB"></path>
    <path d="M65.7449 286.312V251.137H52.6987V286.312H65.7449Z" fill="#3D3D3B"></path>
    <path d="M157.228 286.312V251.137H144.182V286.312H157.228Z" fill="#FFFBEB"></path>
    <path d="M144.182 286.312V251.137H131.135V286.312H144.182Z" fill="#3D3D3B"></path>
    <path d="M131.029 286.312V251.137H117.983V286.312H131.029Z" fill="#FFFBEB"></path>
    <path d="M117.983 286.312V251.137H104.937V286.312H117.983Z" fill="#3D3D3B"></path>
    <path d="M182.7 286.312V217.507H169.654V286.312H182.7Z" fill="#FFFBEB"></path>
    <path d="M170.363 286.312V251.137H157.316V286.312H170.363Z" fill="#3D3D3B"></path>
    <path d="M91.8374 252.575V217.4H68.9179V252.575H91.8374Z" fill="#3D3D3B"></path>
    <path d="M68.9355 252.575V217.4H46.0161V252.575H68.9355Z" fill="#FFFCE8"></path>
    <path d="M45.8213 252.575V217.4H22.9018L22.9018 252.575H45.8213Z" fill="#3D3D3B"></path>
    <path d="M22.9194 252.575L22.9194 217.4H-3.8147e-05L-3.8147e-05 252.575H22.9194Z" fill="#FFFCE8"></path>
    <path d="M182.682 182.386V147.211H169.636V182.386H182.682Z" fill="#FFFBEB"></path>
    <path d="M182.7 217.578V182.403H169.654V217.578H182.7Z" fill="#3D3D3B"></path>
  </svg>
</div>
