---

---

<div class="relative">
  <svg class="svg-anim" viewBox="0 0 232 175" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M106.764 76.0745H52.9453V91.1522H106.764V76.0745Z" fill="#9E1981"></path>
    <path d="M106.764 91.1487H52.9453V106.226H106.764V91.1487Z" fill="#FFFCE8"></path>
    <path d="M52.9453 106.226H71.188V91.1486H52.9453V106.226Z" fill="#9E1981"></path>
    <path d="M52.9453 91.1521H71.188V76.0744H52.9453V91.1521Z" fill="#FFFCE8"></path>
    <path d="M52.9526 115.725H106.771V110.734H52.9526V115.725Z" fill="#9E1981"></path>
    <path d="M52.9526 110.734H106.771V105.743H52.9526V110.734Z" fill="#FFFCE8"></path>
    <path d="M106.771 105.743H88.5285V110.734H106.771V105.743Z" fill="#9E1981"></path>
    <path d="M106.771 110.734H88.5285V115.725H106.771V110.734Z" fill="#FFFCE8"></path>
    <path d="M-1.52588e-05 115.725H53.8187V110.734H-1.52588e-05V115.725Z" fill="#9E1981"></path>
    <path d="M-1.52588e-05 110.734H53.8187V105.743H-1.52588e-05V110.734Z" fill="#FFFCE8"></path>
    <path d="M53.8223 105.743H35.5796V110.734H53.8223V105.743Z" fill="#9E1981"></path>
    <path d="M53.8223 110.734H35.5796V115.725H53.8223V110.734Z" fill="#FFFCE8"></path>
    <path d="M174.867 175V76.6663H160.691V175H174.867Z" fill="#9E1981"></path>
    <path d="M160.695 175V76.6663H146.519V175H160.695Z" fill="#FFFCE8"></path>
    <path d="M146.4 175V76.6663H132.224V175H146.4Z" fill="#9E1981"></path>
    <path d="M132.228 175V76.6663H118.052V175H132.228Z" fill="#FFFCE8"></path>
    <path d="M118.052 76.6662V109.994H132.228V76.6662H118.052Z" fill="#9E1981"></path>
    <path d="M132.224 76.6662V109.994H146.4V76.6662H132.224Z" fill="#FFFCE8"></path>
    <path d="M146.523 76.6662V109.994H160.698V76.6662H146.523Z" fill="#9E1981"></path>
    <path d="M160.695 76.6662V109.994H174.87V76.6662H160.695Z" fill="#FFFCE8"></path>
    <path d="M231.388 156.927V76.6663H217.213V156.927H231.388Z" fill="#9E1981"></path>
    <path d="M217.213 156.927V76.6663H203.037V156.927H217.213Z" fill="#FFFCE8"></path>
    <path d="M202.918 156.927V76.6663H188.743V156.927H202.918Z" fill="#9E1981"></path>
    <path d="M188.746 156.927V76.6663H174.571V156.927H188.746Z" fill="#FFFCE8"></path>
    <path d="M174.571 76.6664V103.87H188.746V76.6664H174.571Z" fill="#9E1981"></path>
    <path d="M188.742 76.6664V103.87H202.918V76.6664H188.742Z" fill="#FFFCE8"></path>
    <path d="M203.041 76.6664V103.87H217.216V76.6664H203.041Z" fill="#9E1981"></path>
    <path d="M217.213 76.6664V103.87H231.388V76.6664H217.213Z" fill="#FFFCE8"></path>
    <path d="M103.559 140.745H106.472V136.559H103.559V140.745Z" fill="#9E1981"></path>
    <path d="M103.559 136.559H106.472V132.372H103.559V136.559Z" fill="#FFFCE8"></path>
    <path d="M103.556 132.427H106.468V128.24H103.556V132.427Z" fill="#9E1981"></path>
    <path d="M103.556 128.24H106.468V124.054H103.556V128.24Z" fill="#FFFCE8"></path>
    <path d="M103.556 124.018H106.468V119.832H103.556V124.018Z" fill="#9E1981"></path>
    <path d="M103.556 119.832H106.468V115.646H103.556V119.832Z" fill="#FFFCE8"></path>
    <path d="M103.588 115.646H100.676V119.832H103.588V115.646Z" fill="#9E1981"></path>
    <path d="M103.588 119.832H100.676V124.018H103.588V119.832Z" fill="#FFFCE8"></path>
    <path d="M103.588 124.054H100.676V128.24H103.588V124.054Z" fill="#9E1981"></path>
    <path d="M103.588 128.24H100.676V132.426H103.588V128.24Z" fill="#FFFCE8"></path>
    <path d="M103.588 132.373H100.676V136.559H103.588V132.373Z" fill="#9E1981"></path>
    <path d="M103.588 136.559H100.676V140.745H103.588V136.559Z" fill="#FFFCE8"></path>
    <path d="M97.778 140.749H100.69V136.562H97.778V140.749Z" fill="#9E1981"></path>
    <path d="M97.778 136.562H100.69V132.376H97.778V136.562Z" fill="#FFFCE8"></path>
    <path d="M97.778 132.427H100.69V128.24H97.778V132.427Z" fill="#9E1981"></path>
    <path d="M97.7744 128.24H100.687V124.054H97.7744V128.24Z" fill="#FFFCE8"></path>
    <path d="M97.778 124.018H100.69V119.832H97.778V124.018Z" fill="#9E1981"></path>
    <path d="M97.7744 119.832H100.687V115.646H97.7744V119.832Z" fill="#FFFCE8"></path>
    <path d="M97.8069 115.646H94.8945V119.832H97.8069V115.646Z" fill="#9E1981"></path>
    <path d="M97.8069 119.828H94.8945V124.014H97.8069V119.828Z" fill="#FFFCE8"></path>
    <path d="M97.8069 124.051H94.8945V128.237H97.8069V124.051Z" fill="#9E1981"></path>
    <path d="M97.8069 128.237H94.8945V132.423H97.8069V128.237Z" fill="#FFFCE8"></path>
    <path d="M97.8069 132.373H94.8945V136.559H97.8069V132.373Z" fill="#9E1981"></path>
    <path d="M97.8069 136.559H94.8945V140.745H97.8069V136.559Z" fill="#FFFCE8"></path>
    <path d="M91.9966 140.749H94.9089V136.562H91.9966V140.749Z" fill="#9E1981"></path>
    <path d="M91.9966 136.562H94.9089V132.376H91.9966V136.562Z" fill="#FFFCE8"></path>
    <path d="M91.9966 132.427H94.9089V128.24H91.9966V132.427Z" fill="#9E1981"></path>
    <path d="M91.9966 128.24H94.9089V124.054H91.9966V128.24Z" fill="#FFFCE8"></path>
    <path d="M91.9966 124.018H94.9089V119.832H91.9966V124.018Z" fill="#9E1981"></path>
    <path d="M91.9966 119.832H94.9089V115.646H91.9966V119.832Z" fill="#FFFCE8"></path>
    <path d="M92.0291 115.646H89.1168V119.832H92.0291V115.646Z" fill="#9E1981"></path>
    <path d="M92.0291 119.832H89.1168V124.018H92.0291V119.832Z" fill="#FFFCE8"></path>
    <path d="M92.0291 124.054H89.1168V128.24H92.0291V124.054Z" fill="#9E1981"></path>
    <path d="M92.0255 128.24H89.1132V132.426H92.0255V128.24Z" fill="#FFFCE8"></path>
    <path d="M92.0255 132.376H89.1132V136.562H92.0255V132.376Z" fill="#9E1981"></path>
    <path d="M92.0255 136.562H89.1132V140.749H92.0255V136.562Z" fill="#FFFCE8"></path>
    <path d="M86.2152 140.745H89.1276V136.559H86.2152V140.745Z" fill="#9E1981"></path>
    <path d="M86.2152 136.559H89.1276V132.372H86.2152V136.559Z" fill="#FFFCE8"></path>
    <path d="M86.2152 132.423H89.1276V128.237H86.2152V132.423Z" fill="#9E1981"></path>
    <path d="M86.2153 128.24H89.1276V124.054H86.2153V128.24Z" fill="#FFFCE8"></path>
    <path d="M86.2152 124.014H89.1276V119.828H86.2152V124.014Z" fill="#9E1981"></path>
    <path d="M86.2153 119.832H89.1276V115.646H86.2153V119.832Z" fill="#FFFCE8"></path>
    <path d="M86.2477 115.646H83.3354V119.832H86.2477V115.646Z" fill="#9E1981"></path>
    <path d="M86.2477 119.832H83.3354V124.018H86.2477V119.832Z" fill="#FFFCE8"></path>
    <path d="M86.2477 124.054H83.3354V128.24H86.2477V124.054Z" fill="#9E1981"></path>
    <path d="M86.2477 128.24H83.3354V132.426H86.2477V128.24Z" fill="#FFFCE8"></path>
    <path d="M86.2441 132.376H83.3318V136.562H86.2441V132.376Z" fill="#9E1981"></path>
    <path d="M86.2441 136.559H83.3318V140.745H86.2441V136.559Z" fill="#FFFCE8"></path>
    <path d="M80.4375 140.745H83.3498V136.559H80.4375V140.745Z" fill="#9E1981"></path>
    <path d="M80.4339 136.559H83.3462V132.372H80.4339V136.559Z" fill="#FFFCE8"></path>
    <path d="M80.4339 132.427H83.3462V128.24H80.4339V132.427Z" fill="#9E1981"></path>
    <path d="M80.4339 128.24H83.3462V124.054H80.4339V128.24Z" fill="#FFFCE8"></path>
    <path d="M80.4339 124.018H83.3462V119.832H80.4339V124.018Z" fill="#9E1981"></path>
    <path d="M83.3462 140.81H80.4339V144.996H83.3462V140.81Z" fill="#FFFCE8"></path>
    <path d="M83.3462 144.942H80.4339V149.128H83.3462V144.942Z" fill="#9E1981"></path>
    <path d="M83.3498 149.128H80.4375V153.315H83.3498V149.128Z" fill="#FFFCE8"></path>
    <path d="M83.3498 153.351H80.4375V157.537H83.3498V153.351Z" fill="#9E1981"></path>
    <path d="M83.3173 157.537H86.2297V153.351H83.3173V157.537Z" fill="#FFFCE8"></path>
    <path d="M83.3173 153.314H86.2297V149.128H83.3173V153.314Z" fill="#9E1981"></path>
    <path d="M83.3209 149.128H86.2333V144.942H83.3209V149.128Z" fill="#FFFCE8"></path>
    <path d="M83.3173 144.993H86.2297V140.806H83.3173V144.993Z" fill="#9E1981"></path>
    <path d="M89.1276 140.81H86.2152V144.996H89.1276V140.81Z" fill="#FFFCE8"></path>
    <path d="M89.1276 144.946H86.2152V149.132H89.1276V144.946Z" fill="#9E1981"></path>
    <path d="M89.1312 149.128H86.2189V153.315H89.1312V149.128Z" fill="#FFFCE8"></path>
    <path d="M89.1312 153.354H86.2189V157.54H89.1312V153.354Z" fill="#9E1981"></path>
    <path d="M89.0951 157.541H92.0074V153.354H89.0951V157.541Z" fill="#FFFCE8"></path>
    <path d="M89.0951 153.314H92.0074V149.128H89.0951V153.314Z" fill="#9E1981"></path>
    <path d="M89.0987 149.132H92.011V144.946H89.0987V149.132Z" fill="#FFFCE8"></path>
    <path d="M89.0987 144.996H92.011V140.81H89.0987V144.996Z" fill="#9E1981"></path>
    <path d="M94.909 140.806H91.9966V144.993H94.909V140.806Z" fill="#FFFCE8"></path>
    <path d="M94.909 144.942H91.9966V149.128H94.909V144.942Z" fill="#9E1981"></path>
    <path d="M94.9126 149.128H92.0002V153.315H94.9126V149.128Z" fill="#FFFCE8"></path>
    <path d="M94.9126 153.351H92.0002V157.537H94.9126V153.351Z" fill="#9E1981"></path>
    <path d="M94.8765 157.537H97.7888V153.351H94.8765V157.537Z" fill="#FFFCE8"></path>
    <path d="M94.8765 153.314H97.7888V149.128H94.8765V153.314Z" fill="#9E1981"></path>
    <path d="M94.8801 149.128H97.7924V144.942H94.8801V149.128Z" fill="#FFFCE8"></path>
    <path d="M94.8801 144.996H97.7924V140.81H94.8801V144.996Z" fill="#9E1981"></path>
    <path d="M100.69 140.806H97.778V144.993H100.69V140.806Z" fill="#FFFCE8"></path>
    <path d="M100.687 144.942H97.7744V149.128H100.687V144.942Z" fill="#9E1981"></path>
    <path d="M100.69 149.128H97.778V153.315H100.69V149.128Z" fill="#FFFCE8"></path>
    <path d="M100.69 153.351H97.778V157.537H100.69V153.351Z" fill="#9E1981"></path>
    <path d="M100.658 157.537H103.57V153.351H100.658V157.537Z" fill="#FFFCE8"></path>
    <path d="M100.658 153.314H103.57V149.128H100.658V153.314Z" fill="#9E1981"></path>
    <path d="M100.661 149.128H103.574V144.942H100.661V149.128Z" fill="#FFFCE8"></path>
    <path d="M100.661 144.993H103.574V140.806H100.661V144.993Z" fill="#9E1981"></path>
    <path d="M106.468 140.806H103.556V144.993H106.468V140.806Z" fill="#FFFCE8"></path>
    <path d="M106.468 144.942H103.556V149.128H106.468V144.942Z" fill="#9E1981"></path>
    <path d="M106.472 149.128H103.559V153.315H106.472V149.128Z" fill="#FFFCE8"></path>
    <path d="M106.472 153.351H103.559V157.537H106.472V153.351Z" fill="#9E1981"></path>
    <path d="M80.4339 119.832H83.3463V115.646H80.4339V119.832Z" fill="#FFFCE8"></path>
    <path d="M57.5538 115.646H54.6415V119.832H57.5538V115.646Z" fill="#9E1981"></path>
    <path d="M57.5538 119.832H54.6415V124.018H57.5538V119.832Z" fill="#FFFCE8"></path>
    <path d="M57.5502 123.968H54.6379V128.154H57.5502V123.968Z" fill="#9E1981"></path>
    <path d="M57.5502 128.154H54.6379V132.34H57.5502V128.154Z" fill="#FFFCE8"></path>
    <path d="M57.5502 132.376H54.6379V136.562H57.5502V132.376Z" fill="#9E1981"></path>
    <path d="M57.5502 136.562H54.6379V140.749H57.5502V136.562Z" fill="#FFFCE8"></path>
    <path d="M57.5213 140.749H60.4337V136.562H57.5213V140.749Z" fill="#9E1981"></path>
    <path d="M57.5213 136.562H60.4337V132.376H57.5213V136.562Z" fill="#FFFCE8"></path>
    <path d="M57.5213 132.34H60.4337V128.154H57.5213V132.34Z" fill="#9E1981"></path>
    <path d="M57.5213 128.154H60.4337V123.968H57.5213V128.154Z" fill="#FFFCE8"></path>
    <path d="M57.5213 124.018H60.4337V119.832H57.5213V124.018Z" fill="#9E1981"></path>
    <path d="M57.5214 119.832H60.4337V115.646H57.5214V119.832Z" fill="#FFFCE8"></path>
    <path d="M63.3316 115.642H60.4193V119.828H63.3316V115.642Z" fill="#9E1981"></path>
    <path d="M63.3316 119.828H60.4193V124.014H63.3316V119.828Z" fill="#FFFCE8"></path>
    <path d="M63.3316 123.964H60.4193V128.15H63.3316V123.964Z" fill="#9E1981"></path>
    <path d="M63.3316 128.15H60.4193V132.336H63.3316V128.15Z" fill="#FFFCE8"></path>
    <path d="M63.3316 132.373H60.4193V136.559H63.3316V132.373Z" fill="#9E1981"></path>
    <path d="M63.3316 136.559H60.4193V140.745H63.3316V136.559Z" fill="#FFFCE8"></path>
    <path d="M63.3027 140.749H66.215V136.562H63.3027V140.749Z" fill="#9E1981"></path>
    <path d="M63.3027 136.562H66.215V132.376H63.3027V136.562Z" fill="#FFFCE8"></path>
    <path d="M63.3027 132.34H66.215V128.154H63.3027V132.34Z" fill="#9E1981"></path>
    <path d="M63.3027 128.154H66.2151V123.968H63.3027V128.154Z" fill="#FFFCE8"></path>
    <path d="M63.3027 124.018H66.215V119.832H63.3027V124.018Z" fill="#9E1981"></path>
    <path d="M63.2991 119.832H66.2114V115.646H63.2991V119.832Z" fill="#FFFCE8"></path>
    <path d="M69.1129 115.646H66.2006V119.832H69.1129V115.646Z" fill="#9E1981"></path>
    <path d="M69.1129 119.832H66.2006V124.018H69.1129V119.832Z" fill="#FFFCE8"></path>
    <path d="M69.1129 123.964H66.2006V128.15H69.1129V123.964Z" fill="#9E1981"></path>
    <path d="M69.1129 128.15H66.2006V132.336H69.1129V128.15Z" fill="#FFFCE8"></path>
    <path d="M69.1129 132.373H66.2006V136.559H69.1129V132.373Z" fill="#9E1981"></path>
    <path d="M69.113 136.559H66.2006V140.745H69.113V136.559Z" fill="#FFFCE8"></path>
    <path d="M69.0841 140.745H71.9964V136.559H69.0841V140.745Z" fill="#9E1981"></path>
    <path d="M69.0841 136.559H71.9964V132.372H69.0841V136.559Z" fill="#FFFCE8"></path>
    <path d="M69.0841 132.336H71.9964V128.15H69.0841V132.336Z" fill="#9E1981"></path>
    <path d="M69.0841 128.15H71.9964V123.964H69.0841V128.15Z" fill="#FFFCE8"></path>
    <path d="M69.0805 124.018H71.9928V119.832H69.0805V124.018Z" fill="#9E1981"></path>
    <path d="M69.0805 119.832H71.9928V115.646H69.0805V119.832Z" fill="#FFFCE8"></path>
    <path d="M74.8943 115.646H71.982V119.832H74.8943V115.646Z" fill="#9E1981"></path>
    <path d="M74.8943 119.832H71.982V124.018H74.8943V119.832Z" fill="#FFFCE8"></path>
    <path d="M74.8943 123.968H71.982V128.154H74.8943V123.968Z" fill="#9E1981"></path>
    <path d="M74.8907 128.15H71.9784V132.336H74.8907V128.15Z" fill="#FFFCE8"></path>
    <path d="M74.8943 132.376H71.982V136.562H74.8943V132.376Z" fill="#9E1981"></path>
    <path d="M74.8907 136.559H71.9784V140.745H74.8907V136.559Z" fill="#FFFCE8"></path>
    <path d="M74.8654 140.745H77.7778V136.559H74.8654V140.745Z" fill="#9E1981"></path>
    <path d="M74.8618 136.559H77.7742V132.372H74.8618V136.559Z" fill="#FFFCE8"></path>
    <path d="M74.8618 132.336H77.7742V128.15H74.8618V132.336Z" fill="#9E1981"></path>
    <path d="M74.8618 128.15H77.7742V123.964H74.8618V128.15Z" fill="#FFFCE8"></path>
    <path d="M74.8618 124.018H77.7742V119.832H74.8618V124.018Z" fill="#9E1981"></path>
    <path d="M74.8618 119.832H77.7742V115.646H74.8618V119.832Z" fill="#FFFCE8"></path>
    <path d="M80.6756 115.646H77.7633V119.832H80.6756V115.646Z" fill="#9E1981"></path>
    <path d="M80.6757 119.832H77.7633V124.018H80.6757V119.832Z" fill="#FFFCE8"></path>
    <path d="M80.672 123.968H77.7597V128.154H80.672V123.968Z" fill="#9E1981"></path>
    <path d="M80.6721 128.154H77.7597V132.34H80.6721V128.154Z" fill="#FFFCE8"></path>
    <path d="M80.6721 132.376H77.7597V136.562H80.6721V132.376Z" fill="#9E1981"></path>
    <path d="M80.6721 136.562H77.7597V140.749H80.6721V136.562Z" fill="#FFFCE8"></path>
    <path d="M228.819 51.6567H225.906V55.843H228.819V51.6567Z" fill="#9E1981"></path>
    <path d="M228.819 55.843H225.906V60.0293H228.819V55.843Z" fill="#FFFCE8"></path>
    <path d="M228.819 60.0654H225.906V64.2517H228.819V60.0654Z" fill="#9E1981"></path>
    <path d="M228.819 64.2517H225.906V68.438H228.819V64.2517Z" fill="#FFFCE8"></path>
    <path d="M228.822 68.3838H225.91V72.57H228.822V68.3838Z" fill="#9E1981"></path>
    <path d="M228.822 72.5701H225.91V76.7563H228.822V72.5701Z" fill="#FFFCE8"></path>
    <path d="M223.008 76.7527H225.921V72.5664H223.008V76.7527Z" fill="#9E1981"></path>
    <path d="M223.008 72.5701H225.921V68.3838H223.008V72.5701Z" fill="#FFFCE8"></path>
    <path d="M223.012 68.4343H225.924V64.2481H223.012V68.4343Z" fill="#9E1981"></path>
    <path d="M223.008 64.248H225.921V60.0618H223.008V64.248Z" fill="#FFFCE8"></path>
    <path d="M223.012 60.0256H225.924V55.8394H223.012V60.0256Z" fill="#9E1981"></path>
    <path d="M223.008 55.8394H225.921V51.6531H223.008V55.8394Z" fill="#FFFCE8"></path>
    <path d="M223.037 51.6531H220.125V55.8393H223.037V51.6531Z" fill="#9E1981"></path>
    <path d="M223.037 55.8394H220.125V60.0256H223.037V55.8394Z" fill="#FFFCE8"></path>
    <path d="M223.037 60.0618H220.125V64.248H223.037V60.0618Z" fill="#9E1981"></path>
    <path d="M223.037 64.248H220.125V68.4343H223.037V64.248Z" fill="#FFFCE8"></path>
    <path d="M223.041 68.3838H220.129V72.5701H223.041V68.3838Z" fill="#9E1981"></path>
    <path d="M223.041 72.5701H220.129V76.7563H223.041V72.5701Z" fill="#FFFCE8"></path>
    <path d="M217.227 76.7563H220.139V72.5701H217.227V76.7563Z" fill="#9E1981"></path>
    <path d="M217.227 72.5701H220.139V68.3838H217.227V72.5701Z" fill="#FFFCE8"></path>
    <path d="M217.231 68.4343H220.143V64.2481H217.231V68.4343Z" fill="#9E1981"></path>
    <path d="M217.231 64.248H220.143V60.0618H217.231V64.248Z" fill="#FFFCE8"></path>
    <path d="M217.231 60.0256H220.143V55.8394H217.231V60.0256Z" fill="#9E1981"></path>
    <path d="M217.231 55.8394H220.143V51.6531H217.231V55.8394Z" fill="#FFFCE8"></path>
    <path d="M217.26 51.6531H214.347V55.8393H217.26V51.6531Z" fill="#9E1981"></path>
    <path d="M217.256 55.8394H214.344V60.0256H217.256V55.8394Z" fill="#FFFCE8"></path>
    <path d="M217.26 60.0618H214.347V64.248H217.26V60.0618Z" fill="#9E1981"></path>
    <path d="M217.256 64.248H214.344V68.4343H217.256V64.248Z" fill="#FFFCE8"></path>
    <path d="M217.26 68.3838H214.347V72.57H217.26V68.3838Z" fill="#9E1981"></path>
    <path d="M217.26 72.5701H214.347V76.7563H217.26V72.5701Z" fill="#FFFCE8"></path>
    <path d="M211.446 76.7563H214.358V72.5701H211.446V76.7563Z" fill="#9E1981"></path>
    <path d="M211.446 72.5701H214.358V68.3838H211.446V72.5701Z" fill="#FFFCE8"></path>
    <path d="M211.449 68.4343H214.362V64.2481H211.449V68.4343Z" fill="#9E1981"></path>
    <path d="M211.449 64.248H214.362V60.0618H211.449V64.248Z" fill="#FFFCE8"></path>
    <path d="M211.449 60.0256H214.362V55.8394H211.449V60.0256Z" fill="#9E1981"></path>
    <path d="M211.449 55.8394H214.362V51.6531H211.449V55.8394Z" fill="#FFFCE8"></path>
    <path d="M211.478 51.6531H208.566V55.8393H211.478V51.6531Z" fill="#9E1981"></path>
    <path d="M211.478 55.8394H208.566V60.0256H211.478V55.8394Z" fill="#FFFCE8"></path>
    <path d="M211.478 60.0618H208.566V64.248H211.478V60.0618Z" fill="#9E1981"></path>
    <path d="M211.478 64.248H208.566V68.4343H211.478V64.248Z" fill="#FFFCE8"></path>
    <path d="M211.478 68.3838H208.566V72.57H211.478V68.3838Z" fill="#9E1981"></path>
    <path d="M211.478 72.5664H208.566V76.7527H211.478V72.5664Z" fill="#FFFCE8"></path>
    <path d="M205.668 76.7563H208.58V72.5701H205.668V76.7563Z" fill="#9E1981"></path>
    <path d="M205.664 72.5701H208.577V68.3838H205.664V72.5701Z" fill="#FFFCE8"></path>
    <path d="M205.668 68.438H208.58V64.2517H205.668V68.438Z" fill="#9E1981"></path>
    <path d="M205.668 64.2517H208.58V60.0654H205.668V64.2517Z" fill="#FFFCE8"></path>
    <path d="M205.682 60.0654H202.77V64.2517H205.682V60.0654Z" fill="#9E1981"></path>
    <path d="M205.682 64.2517H202.77V68.438H205.682V64.2517Z" fill="#FFFCE8"></path>
    <path d="M205.686 68.3838H202.774V72.57H205.686V68.3838Z" fill="#9E1981"></path>
    <path d="M205.686 72.5701H202.774V76.7563H205.686V72.5701Z" fill="#FFFCE8"></path>
    <path d="M199.872 76.7527H202.785V72.5664H199.872V76.7527Z" fill="#9E1981"></path>
    <path d="M199.872 72.5701H202.785V68.3838H199.872V72.5701Z" fill="#FFFCE8"></path>
    <path d="M199.876 68.4343H202.788V64.2481H199.876V68.4343Z" fill="#9E1981"></path>
    <path d="M199.872 64.248H202.785V60.0618H199.872V64.248Z" fill="#FFFCE8"></path>
    <path d="M199.901 60.0654H196.989V64.2517H199.901V60.0654Z" fill="#9E1981"></path>
    <path d="M199.901 64.248H196.989V68.4343H199.901V64.248Z" fill="#FFFCE8"></path>
    <path d="M199.905 68.3838H196.992V72.5701H199.905V68.3838Z" fill="#9E1981"></path>
    <path d="M199.905 72.5701H196.992V76.7563H199.905V72.5701Z" fill="#FFFCE8"></path>
    <path d="M194.091 76.7563H197.003V72.5701H194.091V76.7563Z" fill="#9E1981"></path>
    <path d="M194.091 72.5701H197.003V68.3838H194.091V72.5701Z" fill="#FFFCE8"></path>
    <path d="M194.094 68.4343H197.007V64.2481H194.094V68.4343Z" fill="#9E1981"></path>
    <path d="M194.094 64.248H197.007V60.0618H194.094V64.248Z" fill="#FFFCE8"></path>
    <path d="M194.123 60.0618H191.211V64.248H194.123V60.0618Z" fill="#9E1981"></path>
    <path d="M194.12 64.248H191.207V68.4343H194.12V64.248Z" fill="#FFFCE8"></path>
    <path d="M194.123 68.3838H191.211V72.5701H194.123V68.3838Z" fill="#9E1981"></path>
    <path d="M194.123 72.5701H191.211V76.7563H194.123V72.5701Z" fill="#FFFCE8"></path>
    <path d="M188.309 76.7563H191.222V72.5701H188.309V76.7563Z" fill="#9E1981"></path>
    <path d="M188.309 72.5701H191.222V68.3838H188.309V72.5701Z" fill="#FFFCE8"></path>
    <path d="M188.313 68.4343H191.225V64.2481H188.313V68.4343Z" fill="#9E1981"></path>
    <path d="M188.313 64.248H191.225V60.0618H188.313V64.248Z" fill="#FFFCE8"></path>
    <path d="M188.342 60.0618H185.43V64.248H188.342V60.0618Z" fill="#9E1981"></path>
    <path d="M188.342 64.248H185.43V68.4343H188.342V64.248Z" fill="#FFFCE8"></path>
    <path d="M188.342 68.3838H185.43V72.57H188.342V68.3838Z" fill="#9E1981"></path>
    <path d="M188.342 72.5664H185.43V76.7527H188.342V72.5664Z" fill="#FFFCE8"></path>
    <path d="M182.532 76.7563H185.444V72.5701H182.532V76.7563Z" fill="#9E1981"></path>
    <path d="M182.528 72.5701H185.44V68.3838H182.528V72.5701Z" fill="#FFFCE8"></path>
    <path d="M182.532 68.438H185.444V64.2517H182.532V68.438Z" fill="#9E1981"></path>
    <path d="M182.532 64.2517H185.444V60.0654H182.532V64.2517Z" fill="#FFFCE8"></path>
    <path d="M182.561 60.0618H179.648V64.248H182.561V60.0618Z" fill="#9E1981"></path>
    <path d="M182.561 64.248H179.648V68.4343H182.561V64.248Z" fill="#FFFCE8"></path>
    <path d="M182.564 68.3801H179.652V72.5664H182.564V68.3801Z" fill="#9E1981"></path>
    <path d="M182.561 72.5664H179.648V76.7527H182.561V72.5664Z" fill="#FFFCE8"></path>
    <path d="M176.75 76.7563H179.663V72.5701H176.75V76.7563Z" fill="#9E1981"></path>
    <path d="M176.75 72.5701H179.663V68.3838H176.75V72.5701Z" fill="#FFFCE8"></path>
    <path d="M176.75 68.438H179.663V64.2517H176.75V68.438Z" fill="#9E1981"></path>
    <path d="M176.75 64.2517H179.663V60.0655H176.75V64.2517Z" fill="#FFFCE8"></path>
    <path d="M205.668 60.0293H208.58V55.843H205.668V60.0293Z" fill="#9E1981"></path>
    <path d="M205.668 55.843H208.58V51.6567H205.668V55.843Z" fill="#FFFCE8"></path>
    <path d="M176.862 51.6531H173.95V55.8393H176.862V51.6531Z" fill="#9E1981"></path>
    <path d="M176.862 55.8394H173.95V60.0256H176.862V55.8394Z" fill="#FFFCE8"></path>
    <path d="M176.862 60.0618H173.95V64.248H176.862V60.0618Z" fill="#9E1981"></path>
    <path d="M176.862 64.248H173.95V68.4343H176.862V64.248Z" fill="#FFFCE8"></path>
    <path d="M176.866 68.3801H173.953V72.5664H176.866V68.3801Z" fill="#9E1981"></path>
    <path d="M176.862 72.5664H173.95V76.7527H176.862V72.5664Z" fill="#FFFCE8"></path>
    <path d="M171.052 76.7563H173.964V72.5701H171.052V76.7563Z" fill="#9E1981"></path>
    <path d="M171.052 72.5701H173.964V68.3838H171.052V72.5701Z" fill="#FFFCE8"></path>
    <path d="M171.052 68.438H173.964V64.2517H171.052V68.438Z" fill="#9E1981"></path>
    <path d="M171.052 64.2517H173.964V60.0654H171.052V64.2517Z" fill="#FFFCE8"></path>
    <path d="M171.052 60.0293H173.964V55.843H171.052V60.0293Z" fill="#9E1981"></path>
    <path d="M171.052 55.843H173.964V51.6568H171.052V55.843Z" fill="#FFFCE8"></path>
    <path d="M171.081 51.6567H168.168V55.843H171.081V51.6567Z" fill="#9E1981"></path>
    <path d="M171.081 55.843H168.168V60.0293H171.081V55.843Z" fill="#FFFCE8"></path>
    <path d="M171.081 60.0654H168.168V64.2517H171.081V60.0654Z" fill="#9E1981"></path>
    <path d="M171.081 64.248H168.168V68.4343H171.081V64.248Z" fill="#FFFCE8"></path>
    <path d="M171.084 68.3838H168.172V72.57H171.084V68.3838Z" fill="#9E1981"></path>
    <path d="M171.084 72.5701H168.172V76.7563H171.084V72.5701Z" fill="#FFFCE8"></path>
    <path d="M165.271 76.7563H168.183V72.5701H165.271V76.7563Z" fill="#9E1981"></path>
    <path d="M165.271 72.5701H168.183V68.3838H165.271V72.5701Z" fill="#FFFCE8"></path>
    <path d="M165.274 68.4343H168.187V64.2481H165.274V68.4343Z" fill="#9E1981"></path>
    <path d="M165.271 64.248H168.183V60.0618H165.271V64.248Z" fill="#FFFCE8"></path>
    <path d="M165.274 60.0256H168.187V55.8394H165.274V60.0256Z" fill="#9E1981"></path>
    <path d="M165.271 55.8394H168.183V51.6531H165.271V55.8394Z" fill="#FFFCE8"></path>
    <path d="M165.299 51.6531H162.387V55.8393H165.299V51.6531Z" fill="#9E1981"></path>
    <path d="M165.299 55.8394H162.387V60.0256H165.299V55.8394Z" fill="#FFFCE8"></path>
    <path d="M165.299 60.0618H162.387V64.248H165.299V60.0618Z" fill="#9E1981"></path>
    <path d="M165.299 64.248H162.387V68.4343H165.299V64.248Z" fill="#FFFCE8"></path>
    <path d="M165.303 68.3838H162.391V72.57H165.303V68.3838Z" fill="#9E1981"></path>
    <path d="M165.303 72.5701H162.391V76.7563H165.303V72.5701Z" fill="#FFFCE8"></path>
    <path d="M159.489 76.7563H162.402V72.5701H159.489V76.7563Z" fill="#9E1981"></path>
    <path d="M159.489 72.5701H162.402V68.3838H159.489V72.5701Z" fill="#FFFCE8"></path>
    <path d="M159.493 68.4343H162.405V64.2481H159.493V68.4343Z" fill="#9E1981"></path>
    <path d="M159.493 64.248H162.405V60.0618H159.493V64.248Z" fill="#FFFCE8"></path>
    <path d="M159.493 60.0256H162.405V55.8394H159.493V60.0256Z" fill="#9E1981"></path>
    <path d="M159.493 55.8394H162.405V51.6531H159.493V55.8394Z" fill="#FFFCE8"></path>
    <path d="M159.522 51.6531H156.609V55.8393H159.522V51.6531Z" fill="#9E1981"></path>
    <path d="M159.522 55.8394H156.609V60.0256H159.522V55.8394Z" fill="#FFFCE8"></path>
    <path d="M159.522 60.0618H156.609V64.248H159.522V60.0618Z" fill="#9E1981"></path>
    <path d="M159.522 64.248H156.609V68.4343H159.522V64.248Z" fill="#FFFCE8"></path>
    <path d="M159.522 68.3838H156.609V72.57H159.522V68.3838Z" fill="#9E1981"></path>
    <path d="M159.522 72.5701H156.609V76.7563H159.522V72.5701Z" fill="#FFFCE8"></path>
    <path d="M153.708 76.7563H156.62V72.5701H153.708V76.7563Z" fill="#9E1981"></path>
    <path d="M153.708 72.5701H156.62V68.3838H153.708V72.5701Z" fill="#FFFCE8"></path>
    <path d="M153.711 68.4343H156.624V64.2481H153.711V68.4343Z" fill="#9E1981"></path>
    <path d="M153.711 64.2517H156.624V60.0654H153.711V64.2517Z" fill="#FFFCE8"></path>
    <path d="M153.726 60.0618H150.814V64.248H153.726V60.0618Z" fill="#9E1981"></path>
    <path d="M153.726 64.248H150.814V68.4343H153.726V64.248Z" fill="#FFFCE8"></path>
    <path d="M153.73 68.3801H150.817V72.5664H153.73V68.3801Z" fill="#9E1981"></path>
    <path d="M153.726 72.5664H150.814V76.7527H153.726V72.5664Z" fill="#FFFCE8"></path>
    <path d="M147.916 76.7563H150.828V72.5701H147.916V76.7563Z" fill="#9E1981"></path>
    <path d="M147.916 72.5701H150.828V68.3838H147.916V72.5701Z" fill="#FFFCE8"></path>
    <path d="M147.916 68.438H150.828V64.2517H147.916V68.438Z" fill="#9E1981"></path>
    <path d="M147.916 64.2517H150.828V60.0654H147.916V64.2517Z" fill="#FFFCE8"></path>
    <path d="M147.945 60.0654H145.032V64.2517H147.945V60.0654Z" fill="#9E1981"></path>
    <path d="M147.945 64.2517H145.032V68.438H147.945V64.2517Z" fill="#FFFCE8"></path>
    <path d="M147.948 68.3838H145.036V72.57H147.948V68.3838Z" fill="#9E1981"></path>
    <path d="M147.948 72.5701H145.036V76.7563H147.948V72.5701Z" fill="#FFFCE8"></path>
    <path d="M142.134 76.7563H145.047V72.5701H142.134V76.7563Z" fill="#9E1981"></path>
    <path d="M142.134 72.5701H145.047V68.3838H142.134V72.5701Z" fill="#FFFCE8"></path>
    <path d="M142.138 68.4343H145.05V64.2481H142.138V68.4343Z" fill="#9E1981"></path>
    <path d="M142.134 64.248H145.047V60.0618H142.134V64.248Z" fill="#FFFCE8"></path>
    <path d="M142.163 60.0618H139.251V64.248H142.163V60.0618Z" fill="#9E1981"></path>
    <path d="M142.163 64.248H139.251V68.4343H142.163V64.248Z" fill="#FFFCE8"></path>
    <path d="M142.167 68.3838H139.254V72.57H142.167V68.3838Z" fill="#9E1981"></path>
    <path d="M142.167 72.5701H139.254V76.7563H142.167V72.5701Z" fill="#FFFCE8"></path>
    <path d="M136.353 76.7563H139.265V72.5701H136.353V76.7563Z" fill="#9E1981"></path>
    <path d="M136.353 72.5701H139.265V68.3838H136.353V72.5701Z" fill="#FFFCE8"></path>
    <path d="M136.357 68.4343H139.269V64.2481H136.357V68.4343Z" fill="#9E1981"></path>
    <path d="M136.357 64.248H139.269V60.0618H136.357V64.248Z" fill="#FFFCE8"></path>
    <path d="M136.385 60.0618H133.473V64.248H136.385V60.0618Z" fill="#9E1981"></path>
    <path d="M136.382 64.248H133.469V68.4343H136.382V64.248Z" fill="#FFFCE8"></path>
    <path d="M136.385 68.3838H133.473V72.57H136.385V68.3838Z" fill="#9E1981"></path>
    <path d="M136.385 72.5701H133.473V76.7563H136.385V72.5701Z" fill="#FFFCE8"></path>
    <path d="M130.572 76.7563H133.484V72.5701H130.572V76.7563Z" fill="#9E1981"></path>
    <path d="M130.572 72.5701H133.484V68.3838H130.572V72.5701Z" fill="#FFFCE8"></path>
    <path d="M130.575 68.4343H133.487V64.2481H130.575V68.4343Z" fill="#9E1981"></path>
    <path d="M130.575 64.2517H133.488V60.0655H130.575V64.2517Z" fill="#FFFCE8"></path>
    <path d="M130.604 60.0618H127.692V64.248H130.604V60.0618Z" fill="#9E1981"></path>
    <path d="M130.604 64.248H127.692V68.4343H130.604V64.248Z" fill="#FFFCE8"></path>
    <path d="M130.604 68.3838H127.692V72.57H130.604V68.3838Z" fill="#9E1981"></path>
    <path d="M130.604 72.5664H127.692V76.7527H130.604V72.5664Z" fill="#FFFCE8"></path>
    <path d="M124.794 76.7563H127.706V72.5701H124.794V76.7563Z" fill="#9E1981"></path>
    <path d="M124.794 72.5701H127.706V68.3838H124.794V72.5701Z" fill="#FFFCE8"></path>
    <path d="M124.794 68.438H127.706V64.2517H124.794V68.438Z" fill="#9E1981"></path>
    <path d="M124.794 64.2517H127.706V60.0654H124.794V64.2517Z" fill="#FFFCE8"></path>
    <path d="M153.711 60.0256H156.624V55.8394H153.711V60.0256Z" fill="#9E1981"></path>
    <path d="M153.711 55.843H156.624V51.6568H153.711V55.843Z" fill="#FFFCE8"></path>
    <path d="M125.317 76.6915V0L122.372 0V76.6915H125.317Z" fill="#9E1981"></path>
    <path d="M122.372 76.6915V0L119.427 0V76.6915H122.372Z" fill="#FFFCE8"></path>
    <path d="M119.402 76.6915V0L116.457 0V76.6915H119.402Z" fill="#9E1981"></path>
    <path d="M116.457 76.6915V0L113.513 0V76.6915H116.457Z" fill="#FFFCE8"></path>
    <path d="M106.439 76.0853V152.777H109.384V76.0853H106.439Z" fill="#9E1981"></path>
    <path d="M109.384 76.0853V152.777H112.329V76.0853H109.384Z" fill="#FFFCE8"></path>
    <path d="M112.354 76.0853V152.777H115.299V76.0853H112.354Z" fill="#9E1981"></path>
    <path d="M115.299 76.0853V152.777H118.244V76.0853H115.299Z" fill="#FFFCE8"></path>
    <path d="M84.9594 76.2224H99.503V70.4158H84.9594V76.2224Z" fill="#9E1981"></path>
    <path d="M84.963 70.4194H99.5066V64.6128H84.963V70.4194Z" fill="#FFFCE8"></path>
    <path d="M84.963 64.5623H99.5066V58.7556H84.963V64.5623Z" fill="#9E1981"></path>
    <path d="M84.9594 58.7593H99.503V52.9527H84.9594V58.7593Z" fill="#FFFCE8"></path>
    <path d="M80.4483 76.2224H85.3311V65.9553H80.4483V76.2224Z" fill="#9E1981"></path>
    <path d="M80.4483 65.959H85.3311V55.6918H80.4483V65.959Z" fill="#FFFCE8"></path>
    <path d="M80.4483 55.605H85.3311V45.3378H80.4483V55.605Z" fill="#9E1981"></path>
    <path d="M80.4483 45.3416H85.3311V35.0744H80.4483V45.3416Z" fill="#FFFCE8"></path>
    <path d="M80.6143 35.0745H75.7316V45.3416H80.6143V35.0745Z" fill="#9E1981"></path>
    <path d="M80.6143 45.3379H75.7316V55.605H80.6143V45.3379Z" fill="#FFFCE8"></path>
    <path d="M80.6143 55.6917H75.7316V65.9588H80.6143V55.6917Z" fill="#9E1981"></path>
    <path d="M80.6143 65.9553H75.7316V76.2225H80.6143V65.9553Z" fill="#FFFCE8"></path>
    <path d="M84.9594 53.0247H99.503V47.218H84.9594V53.0247Z" fill="#9E1981"></path>
    <path d="M84.963 47.218H99.5066V41.4114H84.963V47.218Z" fill="#FFFCE8"></path>
    <path d="M84.963 41.3608H99.5067V35.5542H84.963V41.3608Z" fill="#9E1981"></path>
    <path d="M84.963 35.5579H99.5066V29.7512H84.963V35.5579Z" fill="#FFFCE8"></path>
    <path d="M113.982 29.7512H99.438V35.5578H113.982V29.7512Z" fill="#9E1981"></path>
    <path d="M113.982 35.5579H99.438V41.3645H113.982V35.5579Z" fill="#FFFCE8"></path>
    <path d="M113.982 41.4116H99.438V47.2182H113.982V41.4116Z" fill="#9E1981"></path>
    <path d="M113.985 47.218H99.4417V53.0246H113.985V47.218Z" fill="#FFFCE8"></path>
    <path d="M113.985 52.9526H99.4417V58.7593H113.985V52.9526Z" fill="#9E1981"></path>
    <path d="M113.982 58.7556H99.438V64.5622H113.982V58.7556Z" fill="#FFFCE8"></path>
    <path d="M113.982 64.6128H99.438V70.4194H113.982V64.6128Z" fill="#9E1981"></path>
    <path d="M113.985 70.4194H99.4417V76.2261H113.985V70.4194Z" fill="#FFFCE8"></path>
  </svg>
  <svg  viewBox="0 0 232 175" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M106.764 76.0745H52.9453V91.1522H106.764V76.0745Z" fill="#9E1981"></path>
    <path d="M106.764 91.1487H52.9453V106.226H106.764V91.1487Z" fill="#FFFCE8"></path>
    <path d="M52.9453 106.226H71.188V91.1486H52.9453V106.226Z" fill="#9E1981"></path>
    <path d="M52.9453 91.1521H71.188V76.0744H52.9453V91.1521Z" fill="#FFFCE8"></path>
    <path d="M63.9526 115.725H117.771V110.734H63.9526V115.725Z" fill="#9E1981"></path>
    <path d="M63.9526 110.734H117.771V105.743H63.9526V110.734Z" fill="#FFFCE8"></path>
    <path d="M117.771 105.743H99.5285V110.734H117.771V105.743Z" fill="#9E1981"></path>
    <path d="M117.771 110.734H99.5285V115.725H117.771V110.734Z" fill="#FFFCE8"></path>
    <path d="M11 115.725H64.8187V110.734H11V115.725Z" fill="#9E1981"></path>
    <path d="M11 110.734H64.8187V105.743H11V110.734Z" fill="#FFFCE8"></path>
    <path d="M64.8223 105.743H46.5796V110.734H64.8223V105.743Z" fill="#9E1981"></path>
    <path d="M64.8223 110.734H46.5796V115.725H64.8223V110.734Z" fill="#FFFCE8"></path>
    <path d="M174.867 163V64.6663H160.691V163H174.867Z" fill="#9E1981"></path>
    <path d="M160.695 163V64.6663H146.519V163H160.695Z" fill="#FFFCE8"></path>
    <path d="M146.4 163V64.6663H132.224V163H146.4Z" fill="#9E1981"></path>
    <path d="M132.228 163V64.6663H118.052V163H132.228Z" fill="#FFFCE8"></path>
    <path d="M118.052 64.6662V97.9939H132.228V64.6662H118.052Z" fill="#9E1981"></path>
    <path d="M132.224 64.6662V97.9939H146.4V64.6662H132.224Z" fill="#FFFCE8"></path>
    <path d="M146.523 64.6662V97.9939H160.698V64.6662H146.523Z" fill="#9E1981"></path>
    <path d="M160.695 64.6662V97.9939H174.87V64.6662H160.695Z" fill="#FFFCE8"></path>
    <path d="M230.388 143.927V63.6663H216.213V143.927H230.388Z" fill="#9E1981"></path>
    <path d="M216.213 143.927V63.6663H202.037V143.927H216.213Z" fill="#FFFCE8"></path>
    <path d="M201.918 143.927V63.6663H187.743V143.927H201.918Z" fill="#9E1981"></path>
    <path d="M187.746 143.927V63.6663H173.571V143.927H187.746Z" fill="#FFFCE8"></path>
    <path d="M173.571 63.6664V90.8699H187.746V63.6664H173.571Z" fill="#9E1981"></path>
    <path d="M187.742 63.6664V90.8699H201.918V63.6664H187.742Z" fill="#FFFCE8"></path>
    <path d="M202.041 63.6664V90.8699H216.216V63.6664H202.041Z" fill="#9E1981"></path>
    <path d="M216.213 63.6664V90.8699H230.388V63.6664H216.213Z" fill="#FFFCE8"></path>
    <path d="M103.559 140.745H106.472V136.559H103.559V140.745Z" fill="#FFFCE8"></path>
    <path d="M103.559 136.559H106.472V132.372H103.559V136.559Z" fill="#9E1981"></path>
    <path d="M103.556 132.427H106.468V128.24H103.556V132.427Z" fill="#FFFCE8"></path>
    <path d="M103.556 128.24H106.468V124.054H103.556V128.24Z" fill="#9E1981"></path>
    <path d="M103.556 124.018H106.468V119.832H103.556V124.018Z" fill="#FFFCE8"></path>
    <path d="M103.556 119.832H106.468V115.646H103.556V119.832Z" fill="#9E1981"></path>
    <path d="M103.588 115.646H100.676V119.832H103.588V115.646Z" fill="#FFFCE8"></path>
    <path d="M103.588 119.832H100.676V124.018H103.588V119.832Z" fill="#9E1981"></path>
    <path d="M103.588 124.054H100.676V128.24H103.588V124.054Z" fill="#FFFCE8"></path>
    <path d="M103.588 128.24H100.676V132.426H103.588V128.24Z" fill="#9E1981"></path>
    <path d="M103.588 132.373H100.676V136.559H103.588V132.373Z" fill="#FFFCE8"></path>
    <path d="M103.588 136.559H100.676V140.745H103.588V136.559Z" fill="#9E1981"></path>
    <path d="M97.778 140.749H100.69V136.562H97.778V140.749Z" fill="#FFFCE8"></path>
    <path d="M97.778 136.562H100.69V132.376H97.778V136.562Z" fill="#9E1981"></path>
    <path d="M97.778 132.427H100.69V128.24H97.778V132.427Z" fill="#FFFCE8"></path>
    <path d="M97.7744 128.24H100.687V124.054H97.7744V128.24Z" fill="#9E1981"></path>
    <path d="M97.778 124.018H100.69V119.832H97.778V124.018Z" fill="#FFFCE8"></path>
    <path d="M97.7744 119.832H100.687V115.646H97.7744V119.832Z" fill="#9E1981"></path>
    <path d="M97.8069 115.646H94.8945V119.832H97.8069V115.646Z" fill="#FFFCE8"></path>
    <path d="M97.8069 119.828H94.8945V124.014H97.8069V119.828Z" fill="#9E1981"></path>
    <path d="M97.8069 124.051H94.8945V128.237H97.8069V124.051Z" fill="#FFFCE8"></path>
    <path d="M97.8069 128.237H94.8945V132.423H97.8069V128.237Z" fill="#9E1981"></path>
    <path d="M97.8069 132.373H94.8945V136.559H97.8069V132.373Z" fill="#FFFCE8"></path>
    <path d="M97.8069 136.559H94.8945V140.745H97.8069V136.559Z" fill="#9E1981"></path>
    <path d="M91.9966 140.749H94.9089V136.562H91.9966V140.749Z" fill="#FFFCE8"></path>
    <path d="M91.9966 136.562H94.9089V132.376H91.9966V136.562Z" fill="#9E1981"></path>
    <path d="M91.9966 132.427H94.9089V128.24H91.9966V132.427Z" fill="#FFFCE8"></path>
    <path d="M91.9966 128.24H94.9089V124.054H91.9966V128.24Z" fill="#9E1981"></path>
    <path d="M91.9966 124.018H94.9089V119.832H91.9966V124.018Z" fill="#FFFCE8"></path>
    <path d="M91.9966 119.832H94.9089V115.646H91.9966V119.832Z" fill="#9E1981"></path>
    <path d="M92.0291 115.646H89.1168V119.832H92.0291V115.646Z" fill="#FFFCE8"></path>
    <path d="M92.0291 119.832H89.1168V124.018H92.0291V119.832Z" fill="#9E1981"></path>
    <path d="M92.0291 124.054H89.1168V128.24H92.0291V124.054Z" fill="#FFFCE8"></path>
    <path d="M92.0255 128.24H89.1132V132.426H92.0255V128.24Z" fill="#9E1981"></path>
    <path d="M92.0255 132.376H89.1132V136.562H92.0255V132.376Z" fill="#FFFCE8"></path>
    <path d="M92.0255 136.562H89.1132V140.749H92.0255V136.562Z" fill="#9E1981"></path>
    <path d="M86.2152 140.745H89.1276V136.559H86.2152V140.745Z" fill="#FFFCE8"></path>
    <path d="M86.2152 136.559H89.1276V132.372H86.2152V136.559Z" fill="#9E1981"></path>
    <path d="M86.2152 132.423H89.1276V128.237H86.2152V132.423Z" fill="#FFFCE8"></path>
    <path d="M86.2153 128.24H89.1276V124.054H86.2153V128.24Z" fill="#9E1981"></path>
    <path d="M86.2152 124.014H89.1276V119.828H86.2152V124.014Z" fill="#FFFCE8"></path>
    <path d="M86.2153 119.832H89.1276V115.646H86.2153V119.832Z" fill="#9E1981"></path>
    <path d="M86.2477 115.646H83.3354V119.832H86.2477V115.646Z" fill="#FFFCE8"></path>
    <path d="M86.2477 119.832H83.3354V124.018H86.2477V119.832Z" fill="#9E1981"></path>
    <path d="M86.2477 124.054H83.3354V128.24H86.2477V124.054Z" fill="#FFFCE8"></path>
    <path d="M86.2477 128.24H83.3354V132.426H86.2477V128.24Z" fill="#9E1981"></path>
    <path d="M86.2441 132.376H83.3318V136.562H86.2441V132.376Z" fill="#FFFCE8"></path>
    <path d="M86.2441 136.559H83.3318V140.745H86.2441V136.559Z" fill="#9E1981"></path>
    <path d="M80.4375 140.745H83.3498V136.559H80.4375V140.745Z" fill="#FFFCE8"></path>
    <path d="M80.4339 136.559H83.3462V132.372H80.4339V136.559Z" fill="#9E1981"></path>
    <path d="M80.4339 132.427H83.3462V128.24H80.4339V132.427Z" fill="#FFFCE8"></path>
    <path d="M80.4339 128.24H83.3462V124.054H80.4339V128.24Z" fill="#9E1981"></path>
    <path d="M80.4339 124.018H83.3462V119.832H80.4339V124.018Z" fill="#FFFCE8"></path>
    <path d="M83.3462 140.81H80.4339V144.996H83.3462V140.81Z" fill="#9E1981"></path>
    <path d="M83.3462 144.942H80.4339V149.128H83.3462V144.942Z" fill="#FFFCE8"></path>
    <path d="M83.3498 149.128H80.4375V153.315H83.3498V149.128Z" fill="#9E1981"></path>
    <path d="M83.3498 153.351H80.4375V157.537H83.3498V153.351Z" fill="#FFFCE8"></path>
    <path d="M83.3173 157.537H86.2297V153.351H83.3173V157.537Z" fill="#9E1981"></path>
    <path d="M83.3173 153.314H86.2297V149.128H83.3173V153.314Z" fill="#FFFCE8"></path>
    <path d="M83.3209 149.128H86.2333V144.942H83.3209V149.128Z" fill="#9E1981"></path>
    <path d="M83.3173 144.993H86.2297V140.806H83.3173V144.993Z" fill="#FFFCE8"></path>
    <path d="M89.1276 140.81H86.2152V144.996H89.1276V140.81Z" fill="#9E1981"></path>
    <path d="M89.1276 144.946H86.2152V149.132H89.1276V144.946Z" fill="#FFFCE8"></path>
    <path d="M89.1312 149.128H86.2189V153.315H89.1312V149.128Z" fill="#9E1981"></path>
    <path d="M89.1312 153.354H86.2189V157.54H89.1312V153.354Z" fill="#FFFCE8"></path>
    <path d="M89.0951 157.541H92.0074V153.354H89.0951V157.541Z" fill="#9E1981"></path>
    <path d="M89.0951 153.314H92.0074V149.128H89.0951V153.314Z" fill="#FFFCE8"></path>
    <path d="M89.0987 149.132H92.011V144.946H89.0987V149.132Z" fill="#9E1981"></path>
    <path d="M89.0987 144.996H92.011V140.81H89.0987V144.996Z" fill="#FFFCE8"></path>
    <path d="M94.909 140.806H91.9966V144.993H94.909V140.806Z" fill="#9E1981"></path>
    <path d="M94.909 144.942H91.9966V149.128H94.909V144.942Z" fill="#FFFCE8"></path>
    <path d="M94.9126 149.128H92.0002V153.315H94.9126V149.128Z" fill="#9E1981"></path>
    <path d="M94.9126 153.351H92.0002V157.537H94.9126V153.351Z" fill="#FFFCE8"></path>
    <path d="M94.8765 157.537H97.7888V153.351H94.8765V157.537Z" fill="#9E1981"></path>
    <path d="M94.8765 153.314H97.7888V149.128H94.8765V153.314Z" fill="#FFFCE8"></path>
    <path d="M94.8801 149.128H97.7924V144.942H94.8801V149.128Z" fill="#9E1981"></path>
    <path d="M94.8801 144.996H97.7924V140.81H94.8801V144.996Z" fill="#FFFCE8"></path>
    <path d="M100.69 140.806H97.778V144.993H100.69V140.806Z" fill="#9E1981"></path>
    <path d="M100.687 144.942H97.7744V149.128H100.687V144.942Z" fill="#FFFCE8"></path>
    <path d="M100.69 149.128H97.778V153.315H100.69V149.128Z" fill="#9E1981"></path>
    <path d="M100.69 153.351H97.778V157.537H100.69V153.351Z" fill="#FFFCE8"></path>
    <path d="M100.658 157.537H103.57V153.351H100.658V157.537Z" fill="#9E1981"></path>
    <path d="M100.658 153.314H103.57V149.128H100.658V153.314Z" fill="#FFFCE8"></path>
    <path d="M100.661 149.128H103.574V144.942H100.661V149.128Z" fill="#9E1981"></path>
    <path d="M100.661 144.993H103.574V140.806H100.661V144.993Z" fill="#FFFCE8"></path>
    <path d="M106.468 140.806H103.556V144.993H106.468V140.806Z" fill="#9E1981"></path>
    <path d="M106.468 144.942H103.556V149.128H106.468V144.942Z" fill="#FFFCE8"></path>
    <path d="M106.472 149.128H103.559V153.315H106.472V149.128Z" fill="#9E1981"></path>
    <path d="M106.472 153.351H103.559V157.537H106.472V153.351Z" fill="#FFFCE8"></path>
    <path d="M80.4339 119.832H83.3463V115.646H80.4339V119.832Z" fill="#9E1981"></path>
    <path d="M57.5538 115.646H54.6415V119.832H57.5538V115.646Z" fill="#FFFCE8"></path>
    <path d="M57.5538 119.832H54.6415V124.018H57.5538V119.832Z" fill="#9E1981"></path>
    <path d="M57.5502 123.968H54.6379V128.154H57.5502V123.968Z" fill="#FFFCE8"></path>
    <path d="M57.5502 128.154H54.6379V132.34H57.5502V128.154Z" fill="#9E1981"></path>
    <path d="M57.5502 132.376H54.6379V136.562H57.5502V132.376Z" fill="#FFFCE8"></path>
    <path d="M57.5502 136.562H54.6379V140.749H57.5502V136.562Z" fill="#9E1981"></path>
    <path d="M57.5213 140.749H60.4337V136.562H57.5213V140.749Z" fill="#FFFCE8"></path>
    <path d="M57.5213 136.562H60.4337V132.376H57.5213V136.562Z" fill="#9E1981"></path>
    <path d="M57.5213 132.34H60.4337V128.154H57.5213V132.34Z" fill="#FFFCE8"></path>
    <path d="M57.5213 128.154H60.4337V123.968H57.5213V128.154Z" fill="#9E1981"></path>
    <path d="M57.5213 124.018H60.4337V119.832H57.5213V124.018Z" fill="#FFFCE8"></path>
    <path d="M57.5214 119.832H60.4337V115.646H57.5214V119.832Z" fill="#9E1981"></path>
    <path d="M63.3316 115.642H60.4193V119.828H63.3316V115.642Z" fill="#FFFCE8"></path>
    <path d="M63.3316 119.828H60.4193V124.014H63.3316V119.828Z" fill="#9E1981"></path>
    <path d="M63.3316 123.964H60.4193V128.15H63.3316V123.964Z" fill="#FFFCE8"></path>
    <path d="M63.3316 128.15H60.4193V132.336H63.3316V128.15Z" fill="#9E1981"></path>
    <path d="M63.3316 132.373H60.4193V136.559H63.3316V132.373Z" fill="#FFFCE8"></path>
    <path d="M63.3316 136.559H60.4193V140.745H63.3316V136.559Z" fill="#9E1981"></path>
    <path d="M63.3027 140.749H66.215V136.562H63.3027V140.749Z" fill="#FFFCE8"></path>
    <path d="M63.3027 136.562H66.215V132.376H63.3027V136.562Z" fill="#9E1981"></path>
    <path d="M63.3027 132.34H66.215V128.154H63.3027V132.34Z" fill="#FFFCE8"></path>
    <path d="M63.3027 128.154H66.2151V123.968H63.3027V128.154Z" fill="#9E1981"></path>
    <path d="M63.3027 124.018H66.215V119.832H63.3027V124.018Z" fill="#FFFCE8"></path>
    <path d="M63.2991 119.832H66.2114V115.646H63.2991V119.832Z" fill="#9E1981"></path>
    <path d="M69.1129 115.646H66.2006V119.832H69.1129V115.646Z" fill="#FFFCE8"></path>
    <path d="M69.1129 119.832H66.2006V124.018H69.1129V119.832Z" fill="#9E1981"></path>
    <path d="M69.1129 123.964H66.2006V128.15H69.1129V123.964Z" fill="#FFFCE8"></path>
    <path d="M69.1129 128.15H66.2006V132.336H69.1129V128.15Z" fill="#9E1981"></path>
    <path d="M69.1129 132.373H66.2006V136.559H69.1129V132.373Z" fill="#FFFCE8"></path>
    <path d="M69.113 136.559H66.2006V140.745H69.113V136.559Z" fill="#9E1981"></path>
    <path d="M69.0841 140.745H71.9964V136.559H69.0841V140.745Z" fill="#FFFCE8"></path>
    <path d="M69.0841 136.559H71.9964V132.372H69.0841V136.559Z" fill="#9E1981"></path>
    <path d="M69.0841 132.336H71.9964V128.15H69.0841V132.336Z" fill="#FFFCE8"></path>
    <path d="M69.0841 128.15H71.9964V123.964H69.0841V128.15Z" fill="#9E1981"></path>
    <path d="M69.0805 124.018H71.9928V119.832H69.0805V124.018Z" fill="#FFFCE8"></path>
    <path d="M69.0805 119.832H71.9928V115.646H69.0805V119.832Z" fill="#9E1981"></path>
    <path d="M74.8943 115.646H71.982V119.832H74.8943V115.646Z" fill="#FFFCE8"></path>
    <path d="M74.8943 119.832H71.982V124.018H74.8943V119.832Z" fill="#9E1981"></path>
    <path d="M74.8943 123.968H71.982V128.154H74.8943V123.968Z" fill="#FFFCE8"></path>
    <path d="M74.8907 128.15H71.9784V132.336H74.8907V128.15Z" fill="#9E1981"></path>
    <path d="M74.8943 132.376H71.982V136.562H74.8943V132.376Z" fill="#FFFCE8"></path>
    <path d="M74.8907 136.559H71.9784V140.745H74.8907V136.559Z" fill="#9E1981"></path>
    <path d="M74.8654 140.745H77.7778V136.559H74.8654V140.745Z" fill="#FFFCE8"></path>
    <path d="M74.8618 136.559H77.7742V132.372H74.8618V136.559Z" fill="#9E1981"></path>
    <path d="M74.8618 132.336H77.7742V128.15H74.8618V132.336Z" fill="#FFFCE8"></path>
    <path d="M74.8618 128.15H77.7742V123.964H74.8618V128.15Z" fill="#9E1981"></path>
    <path d="M74.8618 124.018H77.7742V119.832H74.8618V124.018Z" fill="#FFFCE8"></path>
    <path d="M74.8618 119.832H77.7742V115.646H74.8618V119.832Z" fill="#9E1981"></path>
    <path d="M80.6756 115.646H77.7633V119.832H80.6756V115.646Z" fill="#FFFCE8"></path>
    <path d="M80.6757 119.832H77.7633V124.018H80.6757V119.832Z" fill="#9E1981"></path>
    <path d="M80.672 123.968H77.7597V128.154H80.672V123.968Z" fill="#FFFCE8"></path>
    <path d="M80.6721 128.154H77.7597V132.34H80.6721V128.154Z" fill="#9E1981"></path>
    <path d="M80.6721 132.376H77.7597V136.562H80.6721V132.376Z" fill="#FFFCE8"></path>
    <path d="M80.6721 136.562H77.7597V140.749H80.6721V136.562Z" fill="#9E1981"></path>
    <path d="M228.819 51.6567H225.906V55.843H228.819V51.6567Z" fill="#FFFCE8"></path>
    <path d="M228.819 55.843H225.906V60.0293H228.819V55.843Z" fill="#9E1981"></path>
    <path d="M228.819 60.0654H225.906V64.2517H228.819V60.0654Z" fill="#FFFCE8"></path>
    <path d="M228.819 64.2517H225.906V68.438H228.819V64.2517Z" fill="#9E1981"></path>
    <path d="M228.822 68.3838H225.91V72.57H228.822V68.3838Z" fill="#FFFCE8"></path>
    <path d="M228.822 72.5701H225.91V76.7563H228.822V72.5701Z" fill="#9E1981"></path>
    <path d="M223.008 76.7527H225.921V72.5664H223.008V76.7527Z" fill="#FFFCE8"></path>
    <path d="M223.008 72.5701H225.921V68.3838H223.008V72.5701Z" fill="#9E1981"></path>
    <path d="M223.012 68.4343H225.924V64.2481H223.012V68.4343Z" fill="#FFFCE8"></path>
    <path d="M223.008 64.248H225.921V60.0618H223.008V64.248Z" fill="#9E1981"></path>
    <path d="M223.012 60.0256H225.924V55.8394H223.012V60.0256Z" fill="#FFFCE8"></path>
    <path d="M223.008 55.8394H225.921V51.6531H223.008V55.8394Z" fill="#9E1981"></path>
    <path d="M223.037 51.6531H220.125V55.8393H223.037V51.6531Z" fill="#FFFCE8"></path>
    <path d="M223.037 55.8394H220.125V60.0256H223.037V55.8394Z" fill="#9E1981"></path>
    <path d="M223.037 60.0618H220.125V64.248H223.037V60.0618Z" fill="#FFFCE8"></path>
    <path d="M223.037 64.248H220.125V68.4343H223.037V64.248Z" fill="#9E1981"></path>
    <path d="M223.041 68.3838H220.129V72.5701H223.041V68.3838Z" fill="#FFFCE8"></path>
    <path d="M223.041 72.5701H220.129V76.7563H223.041V72.5701Z" fill="#9E1981"></path>
    <path d="M217.227 76.7563H220.139V72.5701H217.227V76.7563Z" fill="#FFFCE8"></path>
    <path d="M217.227 72.5701H220.139V68.3838H217.227V72.5701Z" fill="#9E1981"></path>
    <path d="M217.231 68.4343H220.143V64.2481H217.231V68.4343Z" fill="#FFFCE8"></path>
    <path d="M217.231 64.248H220.143V60.0618H217.231V64.248Z" fill="#9E1981"></path>
    <path d="M217.231 60.0256H220.143V55.8394H217.231V60.0256Z" fill="#FFFCE8"></path>
    <path d="M217.231 55.8394H220.143V51.6531H217.231V55.8394Z" fill="#9E1981"></path>
    <path d="M217.26 51.6531H214.347V55.8393H217.26V51.6531Z" fill="#FFFCE8"></path>
    <path d="M217.256 55.8394H214.344V60.0256H217.256V55.8394Z" fill="#9E1981"></path>
    <path d="M217.26 60.0618H214.347V64.248H217.26V60.0618Z" fill="#FFFCE8"></path>
    <path d="M217.256 64.248H214.344V68.4343H217.256V64.248Z" fill="#9E1981"></path>
    <path d="M217.26 68.3838H214.347V72.57H217.26V68.3838Z" fill="#FFFCE8"></path>
    <path d="M217.26 72.5701H214.347V76.7563H217.26V72.5701Z" fill="#9E1981"></path>
    <path d="M211.446 76.7563H214.358V72.5701H211.446V76.7563Z" fill="#FFFCE8"></path>
    <path d="M211.446 72.5701H214.358V68.3838H211.446V72.5701Z" fill="#9E1981"></path>
    <path d="M211.449 68.4343H214.362V64.2481H211.449V68.4343Z" fill="#FFFCE8"></path>
    <path d="M211.449 64.248H214.362V60.0618H211.449V64.248Z" fill="#9E1981"></path>
    <path d="M211.449 60.0256H214.362V55.8394H211.449V60.0256Z" fill="#FFFCE8"></path>
    <path d="M211.449 55.8394H214.362V51.6531H211.449V55.8394Z" fill="#9E1981"></path>
    <path d="M211.478 51.6531H208.566V55.8393H211.478V51.6531Z" fill="#FFFCE8"></path>
    <path d="M211.478 55.8394H208.566V60.0256H211.478V55.8394Z" fill="#9E1981"></path>
    <path d="M211.478 60.0618H208.566V64.248H211.478V60.0618Z" fill="#FFFCE8"></path>
    <path d="M211.478 64.248H208.566V68.4343H211.478V64.248Z" fill="#9E1981"></path>
    <path d="M211.478 68.3838H208.566V72.57H211.478V68.3838Z" fill="#FFFCE8"></path>
    <path d="M211.478 72.5664H208.566V76.7527H211.478V72.5664Z" fill="#9E1981"></path>
    <path d="M205.668 76.7563H208.58V72.5701H205.668V76.7563Z" fill="#FFFCE8"></path>
    <path d="M205.664 72.5701H208.577V68.3838H205.664V72.5701Z" fill="#9E1981"></path>
    <path d="M205.668 68.438H208.58V64.2517H205.668V68.438Z" fill="#FFFCE8"></path>
    <path d="M205.668 64.2517H208.58V60.0654H205.668V64.2517Z" fill="#9E1981"></path>
    <path d="M205.682 60.0654H202.77V64.2517H205.682V60.0654Z" fill="#FFFCE8"></path>
    <path d="M205.682 64.2517H202.77V68.438H205.682V64.2517Z" fill="#9E1981"></path>
    <path d="M205.686 68.3838H202.774V72.57H205.686V68.3838Z" fill="#FFFCE8"></path>
    <path d="M205.686 72.5701H202.774V76.7563H205.686V72.5701Z" fill="#9E1981"></path>
    <path d="M199.872 76.7527H202.785V72.5664H199.872V76.7527Z" fill="#FFFCE8"></path>
    <path d="M199.872 72.5701H202.785V68.3838H199.872V72.5701Z" fill="#9E1981"></path>
    <path d="M199.876 68.4343H202.788V64.2481H199.876V68.4343Z" fill="#FFFCE8"></path>
    <path d="M199.872 64.248H202.785V60.0618H199.872V64.248Z" fill="#9E1981"></path>
    <path d="M199.901 60.0654H196.989V64.2517H199.901V60.0654Z" fill="#FFFCE8"></path>
    <path d="M199.901 64.248H196.989V68.4343H199.901V64.248Z" fill="#9E1981"></path>
    <path d="M199.905 68.3838H196.992V72.5701H199.905V68.3838Z" fill="#FFFCE8"></path>
    <path d="M199.905 72.5701H196.992V76.7563H199.905V72.5701Z" fill="#9E1981"></path>
    <path d="M194.091 76.7563H197.003V72.5701H194.091V76.7563Z" fill="#FFFCE8"></path>
    <path d="M194.091 72.5701H197.003V68.3838H194.091V72.5701Z" fill="#9E1981"></path>
    <path d="M194.094 68.4343H197.007V64.2481H194.094V68.4343Z" fill="#FFFCE8"></path>
    <path d="M194.094 64.248H197.007V60.0618H194.094V64.248Z" fill="#9E1981"></path>
    <path d="M194.123 60.0618H191.211V64.248H194.123V60.0618Z" fill="#FFFCE8"></path>
    <path d="M194.12 64.248H191.207V68.4343H194.12V64.248Z" fill="#9E1981"></path>
    <path d="M194.123 68.3838H191.211V72.5701H194.123V68.3838Z" fill="#FFFCE8"></path>
    <path d="M194.123 72.5701H191.211V76.7563H194.123V72.5701Z" fill="#9E1981"></path>
    <path d="M188.309 76.7563H191.222V72.5701H188.309V76.7563Z" fill="#FFFCE8"></path>
    <path d="M188.309 72.5701H191.222V68.3838H188.309V72.5701Z" fill="#9E1981"></path>
    <path d="M188.313 68.4343H191.225V64.2481H188.313V68.4343Z" fill="#FFFCE8"></path>
    <path d="M188.313 64.248H191.225V60.0618H188.313V64.248Z" fill="#9E1981"></path>
    <path d="M188.342 60.0618H185.43V64.248H188.342V60.0618Z" fill="#FFFCE8"></path>
    <path d="M188.342 64.248H185.43V68.4343H188.342V64.248Z" fill="#9E1981"></path>
    <path d="M188.342 68.3838H185.43V72.57H188.342V68.3838Z" fill="#FFFCE8"></path>
    <path d="M188.342 72.5664H185.43V76.7527H188.342V72.5664Z" fill="#9E1981"></path>
    <path d="M182.532 76.7563H185.444V72.5701H182.532V76.7563Z" fill="#FFFCE8"></path>
    <path d="M182.528 72.5701H185.44V68.3838H182.528V72.5701Z" fill="#9E1981"></path>
    <path d="M182.532 68.438H185.444V64.2517H182.532V68.438Z" fill="#FFFCE8"></path>
    <path d="M182.532 64.2517H185.444V60.0654H182.532V64.2517Z" fill="#9E1981"></path>
    <path d="M182.561 60.0618H179.648V64.248H182.561V60.0618Z" fill="#FFFCE8"></path>
    <path d="M182.561 64.248H179.648V68.4343H182.561V64.248Z" fill="#9E1981"></path>
    <path d="M182.564 68.3801H179.652V72.5664H182.564V68.3801Z" fill="#FFFCE8"></path>
    <path d="M182.561 72.5664H179.648V76.7527H182.561V72.5664Z" fill="#9E1981"></path>
    <path d="M176.75 76.7563H179.663V72.5701H176.75V76.7563Z" fill="#FFFCE8"></path>
    <path d="M176.75 72.5701H179.663V68.3838H176.75V72.5701Z" fill="#9E1981"></path>
    <path d="M176.75 68.438H179.663V64.2517H176.75V68.438Z" fill="#FFFCE8"></path>
    <path d="M176.75 64.2517H179.663V60.0655H176.75V64.2517Z" fill="#9E1981"></path>
    <path d="M205.668 60.0293H208.58V55.843H205.668V60.0293Z" fill="#FFFCE8"></path>
    <path d="M205.668 55.843H208.58V51.6567H205.668V55.843Z" fill="#9E1981"></path>
    <path d="M176.862 51.6531H173.95V55.8393H176.862V51.6531Z" fill="#FFFCE8"></path>
    <path d="M176.862 55.8394H173.95V60.0256H176.862V55.8394Z" fill="#9E1981"></path>
    <path d="M176.862 60.0618H173.95V64.248H176.862V60.0618Z" fill="#FFFCE8"></path>
    <path d="M176.862 64.248H173.95V68.4343H176.862V64.248Z" fill="#9E1981"></path>
    <path d="M176.866 68.3801H173.953V72.5664H176.866V68.3801Z" fill="#FFFCE8"></path>
    <path d="M176.862 72.5664H173.95V76.7527H176.862V72.5664Z" fill="#9E1981"></path>
    <path d="M171.052 76.7563H173.964V72.5701H171.052V76.7563Z" fill="#FFFCE8"></path>
    <path d="M171.052 72.5701H173.964V68.3838H171.052V72.5701Z" fill="#9E1981"></path>
    <path d="M171.052 68.438H173.964V64.2517H171.052V68.438Z" fill="#FFFCE8"></path>
    <path d="M171.052 64.2517H173.964V60.0654H171.052V64.2517Z" fill="#9E1981"></path>
    <path d="M171.052 60.0293H173.964V55.843H171.052V60.0293Z" fill="#FFFCE8"></path>
    <path d="M171.052 55.843H173.964V51.6568H171.052V55.843Z" fill="#9E1981"></path>
    <path d="M171.081 51.6567H168.168V55.843H171.081V51.6567Z" fill="#FFFCE8"></path>
    <path d="M171.081 55.843H168.168V60.0293H171.081V55.843Z" fill="#9E1981"></path>
    <path d="M171.081 60.0654H168.168V64.2517H171.081V60.0654Z" fill="#FFFCE8"></path>
    <path d="M171.081 64.248H168.168V68.4343H171.081V64.248Z" fill="#9E1981"></path>
    <path d="M171.084 68.3838H168.172V72.57H171.084V68.3838Z" fill="#FFFCE8"></path>
    <path d="M171.084 72.5701H168.172V76.7563H171.084V72.5701Z" fill="#9E1981"></path>
    <path d="M165.271 76.7563H168.183V72.5701H165.271V76.7563Z" fill="#FFFCE8"></path>
    <path d="M165.271 72.5701H168.183V68.3838H165.271V72.5701Z" fill="#9E1981"></path>
    <path d="M165.274 68.4343H168.187V64.2481H165.274V68.4343Z" fill="#FFFCE8"></path>
    <path d="M165.271 64.248H168.183V60.0618H165.271V64.248Z" fill="#9E1981"></path>
    <path d="M165.274 60.0256H168.187V55.8394H165.274V60.0256Z" fill="#FFFCE8"></path>
    <path d="M165.271 55.8394H168.183V51.6531H165.271V55.8394Z" fill="#9E1981"></path>
    <path d="M165.299 51.6531H162.387V55.8393H165.299V51.6531Z" fill="#FFFCE8"></path>
    <path d="M165.299 55.8394H162.387V60.0256H165.299V55.8394Z" fill="#9E1981"></path>
    <path d="M165.299 60.0618H162.387V64.248H165.299V60.0618Z" fill="#FFFCE8"></path>
    <path d="M165.299 64.248H162.387V68.4343H165.299V64.248Z" fill="#9E1981"></path>
    <path d="M165.303 68.3838H162.391V72.57H165.303V68.3838Z" fill="#FFFCE8"></path>
    <path d="M165.303 72.5701H162.391V76.7563H165.303V72.5701Z" fill="#9E1981"></path>
    <path d="M159.489 76.7563H162.402V72.5701H159.489V76.7563Z" fill="#FFFCE8"></path>
    <path d="M159.489 72.5701H162.402V68.3838H159.489V72.5701Z" fill="#9E1981"></path>
    <path d="M159.493 68.4343H162.405V64.2481H159.493V68.4343Z" fill="#FFFCE8"></path>
    <path d="M159.493 64.248H162.405V60.0618H159.493V64.248Z" fill="#9E1981"></path>
    <path d="M159.493 60.0256H162.405V55.8394H159.493V60.0256Z" fill="#FFFCE8"></path>
    <path d="M159.493 55.8394H162.405V51.6531H159.493V55.8394Z" fill="#9E1981"></path>
    <path d="M159.522 51.6531H156.609V55.8393H159.522V51.6531Z" fill="#FFFCE8"></path>
    <path d="M159.522 55.8394H156.609V60.0256H159.522V55.8394Z" fill="#9E1981"></path>
    <path d="M159.522 60.0618H156.609V64.248H159.522V60.0618Z" fill="#FFFCE8"></path>
    <path d="M159.522 64.248H156.609V68.4343H159.522V64.248Z" fill="#9E1981"></path>
    <path d="M159.522 68.3838H156.609V72.57H159.522V68.3838Z" fill="#FFFCE8"></path>
    <path d="M159.522 72.5701H156.609V76.7563H159.522V72.5701Z" fill="#9E1981"></path>
    <path d="M153.708 76.7563H156.62V72.5701H153.708V76.7563Z" fill="#FFFCE8"></path>
    <path d="M153.708 72.5701H156.62V68.3838H153.708V72.5701Z" fill="#9E1981"></path>
    <path d="M153.711 68.4343H156.624V64.2481H153.711V68.4343Z" fill="#FFFCE8"></path>
    <path d="M153.711 64.2517H156.624V60.0654H153.711V64.2517Z" fill="#9E1981"></path>
    <path d="M153.726 60.0618H150.814V64.248H153.726V60.0618Z" fill="#FFFCE8"></path>
    <path d="M153.726 64.248H150.814V68.4343H153.726V64.248Z" fill="#9E1981"></path>
    <path d="M153.73 68.3801H150.817V72.5664H153.73V68.3801Z" fill="#FFFCE8"></path>
    <path d="M153.726 72.5664H150.814V76.7527H153.726V72.5664Z" fill="#9E1981"></path>
    <path d="M147.916 76.7563H150.828V72.5701H147.916V76.7563Z" fill="#FFFCE8"></path>
    <path d="M147.916 72.5701H150.828V68.3838H147.916V72.5701Z" fill="#9E1981"></path>
    <path d="M147.916 68.438H150.828V64.2517H147.916V68.438Z" fill="#FFFCE8"></path>
    <path d="M147.916 64.2517H150.828V60.0654H147.916V64.2517Z" fill="#9E1981"></path>
    <path d="M147.945 60.0654H145.032V64.2517H147.945V60.0654Z" fill="#FFFCE8"></path>
    <path d="M147.945 64.2517H145.032V68.438H147.945V64.2517Z" fill="#9E1981"></path>
    <path d="M147.948 68.3838H145.036V72.57H147.948V68.3838Z" fill="#FFFCE8"></path>
    <path d="M147.948 72.5701H145.036V76.7563H147.948V72.5701Z" fill="#9E1981"></path>
    <path d="M142.134 76.7563H145.047V72.5701H142.134V76.7563Z" fill="#FFFCE8"></path>
    <path d="M142.134 72.5701H145.047V68.3838H142.134V72.5701Z" fill="#9E1981"></path>
    <path d="M142.138 68.4343H145.05V64.2481H142.138V68.4343Z" fill="#FFFCE8"></path>
    <path d="M142.134 64.248H145.047V60.0618H142.134V64.248Z" fill="#9E1981"></path>
    <path d="M142.163 60.0618H139.251V64.248H142.163V60.0618Z" fill="#FFFCE8"></path>
    <path d="M142.163 64.248H139.251V68.4343H142.163V64.248Z" fill="#9E1981"></path>
    <path d="M142.167 68.3838H139.254V72.57H142.167V68.3838Z" fill="#FFFCE8"></path>
    <path d="M142.167 72.5701H139.254V76.7563H142.167V72.5701Z" fill="#9E1981"></path>
    <path d="M136.353 76.7563H139.265V72.5701H136.353V76.7563Z" fill="#FFFCE8"></path>
    <path d="M136.353 72.5701H139.265V68.3838H136.353V72.5701Z" fill="#9E1981"></path>
    <path d="M136.357 68.4343H139.269V64.2481H136.357V68.4343Z" fill="#FFFCE8"></path>
    <path d="M136.357 64.248H139.269V60.0618H136.357V64.248Z" fill="#9E1981"></path>
    <path d="M136.385 60.0618H133.473V64.248H136.385V60.0618Z" fill="#FFFCE8"></path>
    <path d="M136.382 64.248H133.469V68.4343H136.382V64.248Z" fill="#9E1981"></path>
    <path d="M136.385 68.3838H133.473V72.57H136.385V68.3838Z" fill="#FFFCE8"></path>
    <path d="M136.385 72.5701H133.473V76.7563H136.385V72.5701Z" fill="#9E1981"></path>
    <path d="M130.572 76.7563H133.484V72.5701H130.572V76.7563Z" fill="#FFFCE8"></path>
    <path d="M130.572 72.5701H133.484V68.3838H130.572V72.5701Z" fill="#9E1981"></path>
    <path d="M130.575 68.4343H133.487V64.2481H130.575V68.4343Z" fill="#FFFCE8"></path>
    <path d="M130.575 64.2517H133.488V60.0655H130.575V64.2517Z" fill="#9E1981"></path>
    <path d="M130.604 60.0618H127.692V64.248H130.604V60.0618Z" fill="#FFFCE8"></path>
    <path d="M130.604 64.248H127.692V68.4343H130.604V64.248Z" fill="#9E1981"></path>
    <path d="M130.604 68.3838H127.692V72.57H130.604V68.3838Z" fill="#FFFCE8"></path>
    <path d="M130.604 72.5664H127.692V76.7527H130.604V72.5664Z" fill="#9E1981"></path>
    <path d="M124.794 76.7563H127.706V72.5701H124.794V76.7563Z" fill="#FFFCE8"></path>
    <path d="M124.794 72.5701H127.706V68.3838H124.794V72.5701Z" fill="#9E1981"></path>
    <path d="M124.794 68.438H127.706V64.2517H124.794V68.438Z" fill="#FFFCE8"></path>
    <path d="M124.794 64.2517H127.706V60.0654H124.794V64.2517Z" fill="#9E1981"></path>
    <path d="M153.711 60.0256H156.624V55.8394H153.711V60.0256Z" fill="#FFFCE8"></path>
    <path d="M153.711 55.843H156.624V51.6568H153.711V55.843Z" fill="#9E1981"></path>
    <path d="M125.317 86.6915V10H122.372V86.6915H125.317Z" fill="#9E1981"></path>
    <path d="M122.372 86.6915V10H119.427V86.6915H122.372Z" fill="#FFFCE8"></path>
    <path d="M119.402 86.6915V10H116.457V86.6915H119.402Z" fill="#9E1981"></path>
    <path d="M116.457 86.6915V10H113.513V86.6915H116.457Z" fill="#FFFCE8"></path>
    <path d="M106.439 76.0853V152.777H109.384V76.0853H106.439Z" fill="#9E1981"></path>
    <path d="M109.384 76.0853V152.777H112.329V76.0853H109.384Z" fill="#FFFCE8"></path>
    <path d="M112.354 76.0853V152.777H115.299V76.0853H112.354Z" fill="#9E1981"></path>
    <path d="M115.299 76.0853V152.777H118.244V76.0853H115.299Z" fill="#FFFCE8"></path>
    <path d="M84.9594 76.2224H99.503V70.4158H84.9594V76.2224Z" fill="#9E1981"></path>
    <path d="M88.963 70.4194H103.507V64.6128H88.963V70.4194Z" fill="#FFFCE8"></path>
    <path d="M88.963 64.5623H103.507V58.7556H88.963V64.5623Z" fill="#9E1981"></path>
    <path d="M88.9594 58.7593H103.503V52.9527H88.9594V58.7593Z" fill="#FFFCE8"></path>
    <path d="M84.4483 76.2224H89.3311V65.9553H84.4483V76.2224Z" fill="#9E1981"></path>
    <path d="M84.4483 65.959H89.3311V55.6918H84.4483V65.959Z" fill="#FFFCE8"></path>
    <path d="M84.4483 55.605H89.3311V45.3378H84.4483V55.605Z" fill="#9E1981"></path>
    <path d="M84.4483 45.3416H89.3311V35.0744H84.4483V45.3416Z" fill="#FFFCE8"></path>
    <path d="M84.6143 35.0745H79.7316V45.3416H84.6143V35.0745Z" fill="#9E1981"></path>
    <path d="M84.6143 45.3379H79.7316V55.605H84.6143V45.3379Z" fill="#FFFCE8"></path>
    <path d="M84.6143 55.6917H79.7316V65.9588H84.6143V55.6917Z" fill="#9E1981"></path>
    <path d="M84.6143 65.9553H79.7316V76.2225H84.6143V65.9553Z" fill="#FFFCE8"></path>
    <path d="M88.9594 53.0247H103.503V47.218H88.9594V53.0247Z" fill="#9E1981"></path>
    <path d="M88.963 47.218H103.507V41.4114H88.963V47.218Z" fill="#FFFCE8"></path>
    <path d="M88.963 41.3608H103.507V35.5542H88.963V41.3608Z" fill="#9E1981"></path>
    <path d="M88.963 35.5579H103.507V29.7512H88.963V35.5579Z" fill="#FFFCE8"></path>
    <path d="M117.982 29.7512H103.438V35.5578H117.982V29.7512Z" fill="#9E1981"></path>
    <path d="M117.982 35.5579H103.438V41.3645H117.982V35.5579Z" fill="#FFFCE8"></path>
    <path d="M117.982 41.4116H103.438V47.2182H117.982V41.4116Z" fill="#9E1981"></path>
    <path d="M117.985 47.218H103.442V53.0246H117.985V47.218Z" fill="#FFFCE8"></path>
    <path d="M117.985 52.9526H103.442V58.7593H117.985V52.9526Z" fill="#9E1981"></path>
    <path d="M117.982 58.7556H103.438V64.5622H117.982V58.7556Z" fill="#FFFCE8"></path>
    <path d="M117.982 64.6128H103.438V70.4194H117.982V64.6128Z" fill="#9E1981"></path>
    <path d="M113.985 70.4194H99.4417V76.2261H113.985V70.4194Z" fill="#FFFCE8"></path>
  </svg>
</div>
