<div class="relative">
  <svg class="svg-anim" viewBox="0 0 480 245" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M135.003 201.524V126.604H156.776V201.524H135.003Z" fill="#9E1981"></path>
    <path d="M156.772 201.524V126.604H178.545V201.524H156.772Z" fill="#13A538"></path>
    <path d="M178.733 201.524V126.604H200.506V201.524H178.733Z" fill="#9E1981"></path>
    <path d="M200.502 201.529V126.608H222.275V201.529H200.502Z" fill="#13A538"></path>
    <path d="M222.275 52.6138V127.534H200.502V52.6138H222.275Z" fill="#9E1981"></path>
    <path d="M200.506 52.6186V127.539H178.733V52.6186H200.506Z" fill="#13A538"></path>
    <path d="M178.55 52.6185V127.539H156.776V52.6185H178.55Z" fill="#9E1981"></path>
    <path d="M156.781 52.6139V127.535H135.008V52.6139H156.781Z" fill="#13A538"></path>
    <path d="M244 52V126.921H222.227V52H244Z" fill="#13A538"></path>
    <path d="M222.227 201.921V127H244V201.921H222.227Z" fill="#9E1981"></path>
    <path d="M363.141 91.7431L222.505 91.7431V83.3601L363.141 83.3601V91.7431Z" fill="#13A538"></path>
    <path d="M363.141 83.3648L222.505 83.3648V74.9818L363.141 74.9818V83.3648Z" fill="#9E1981"></path>
    <path d="M363.141 74.9066L222.505 74.9066V66.5235L363.141 66.5235V74.9066Z" fill="#13A538"></path>
    <path d="M363.141 66.5282L222.505 66.5282V58.1452L363.141 58.1452V66.5282Z" fill="#9E1981"></path>
    <path d="M459.007 58.794L316.895 58.794V50.411L459.007 50.411V58.794Z" fill="#13A538"></path>
    <path d="M459.007 50.411L316.895 50.411V42.028L459.007 42.028V50.411Z" fill="#9E1981"></path>
    <path d="M459.007 41.9575L316.895 41.9575V33.5744L459.007 33.5744V41.9575Z" fill="#13A538"></path>
    <path d="M459.007 33.5744L316.895 33.5744V25.1914L459.007 25.1914V33.5744Z" fill="#9E1981"></path>
    <path d="M480 25.2243L389.319 25.2243V16.8413L480 16.8413V25.2243Z" fill="#13A538"></path>
    <path d="M480 16.846L389.319 16.846V8.46295L480 8.46295V16.846Z" fill="#9E1981"></path>
    <path d="M480 8.38303L420.971 8.38303V-9.53674e-07L480 -9.53674e-07V8.38303Z" fill="#13A538"></path>
    <path d="M135.506 90.4549V136.489H120.922V90.4549H135.506Z" fill="#13A538"></path>
    <path d="M120.926 90.4549V136.489H106.342V90.4549H120.926Z" fill="#9E1981"></path>
    <path d="M106.215 90.4549V136.489H91.6304V90.4549H106.215Z" fill="#13A538"></path>
    <path d="M91.635 90.4549V136.489H77.0505V90.4549H91.635Z" fill="#9E1981"></path>
    <path d="M76.9048 90.4549V136.489H62.3203V90.4549H76.9048Z" fill="#13A538"></path>
    <rect width="117" height="46" transform="matrix(-1 0 0 1 339 92)" fill="#9E1981"></rect>
    <path d="M338.777 92.3318V138.366H324.192V92.3318H338.777Z" fill="#9E1981"></path>
    <path d="M324.197 92.3366V138.37H309.613V92.3366H324.197Z" fill="#13A538"></path>
    <path d="M309.486 92.3318V138.366H294.901V92.3318H309.486Z" fill="#9E1981"></path>
    <path d="M294.906 92.3318V138.366H280.321V92.3318H294.906Z" fill="#13A538"></path>
    <path d="M280.176 92.3366V138.37H265.591V92.3366H280.176Z" fill="#9E1981"></path>
    <path d="M265.596 92.3366V138.37H251.011V92.3366H265.596Z" fill="#13A538"></path>
    <path d="M250.884 92.3318V138.366H236.3V92.3318H250.884Z" fill="#9E1981"></path>
    <path d="M236.305 92.3318V138.366H221.72V92.3318H236.305Z" fill="#13A538"></path>
    <path d="M45.9022 69.1846H135.036V79.9138H45.9022V69.1846Z" fill="#13A538"></path>
    <path d="M45.9022 79.9091H135.036V90.6382H45.9022V79.9091Z" fill="#9E1981"></path>
    <path d="M251.199 158.539V136.587H265.784V158.539H251.199Z" fill="#13A538"></path>
    <path d="M265.779 158.544V136.592H280.364V158.544H265.779Z" fill="#9E1981"></path>
    <path d="M221.8 158.544V136.592H236.384V158.544H221.8Z" fill="#13A538"></path>
    <path d="M236.38 158.544V136.592H250.964V158.544H236.38Z" fill="#9E1981"></path>
    <path d="M280.486 158.539V136.587H295.07V158.539H280.486Z" fill="#13A538"></path>
    <path d="M295.07 158.539V136.587H309.655V158.539H295.07Z" fill="#9E1981"></path>
    <path d="M236.403 180.501V158.549H250.988V180.501H236.403Z" fill="#13A538"></path>
    <path d="M250.983 180.501V158.549H265.567V180.501H250.983Z" fill="#9E1981"></path>
    <path d="M222.294 180.501V158.549H236.878V180.501H222.294Z" fill="#9E1981"></path>
    <path d="M265.695 180.501V158.549H280.279V180.501H265.695Z" fill="#13A538"></path>
    <path d="M280.274 180.501V158.549H294.859V180.501H280.274Z" fill="#9E1981"></path>
    <path d="M207.437 223.394V201.442H222.021V223.394H207.437Z" fill="#13A538"></path>
    <path d="M222.016 223.398V201.447H236.601V223.398H222.016Z" fill="#9E1981"></path>
    <path d="M236.728 223.398V201.447H251.312V223.398H236.728Z" fill="#13A538"></path>
    <path d="M251.307 223.394V201.442H265.892V223.394H251.307Z" fill="#9E1981"></path>
    <path d="M149.023 223.394V201.442H163.608V223.394H149.023Z" fill="#13A538"></path>
    <path d="M163.603 223.394V201.442H178.188V223.394H163.603Z" fill="#9E1981"></path>
    <path d="M178.314 223.398V201.447H192.899V223.398H178.314Z" fill="#13A538"></path>
    <path d="M192.894 223.398V201.447H207.479V223.398H192.894Z" fill="#9E1981"></path>
    <path d="M105.04 223.398V201.447H119.624V223.398H105.04Z" fill="#9E1981"></path>
    <path d="M119.746 223.398V201.447H134.331V223.398H119.746Z" fill="#13A538"></path>
    <path d="M134.331 223.398V201.447H148.915V223.398H134.331Z" fill="#9E1981"></path>
    <path d="M134.853 244.636V222.684H149.437V244.636H134.853Z" fill="#13A538"></path>
    <path d="M149.432 244.636V222.684H164.017V244.636H149.432Z" fill="#9E1981"></path>
    <path d="M164.144 244.636V222.684H178.728V244.636H164.144Z" fill="#13A538"></path>
    <path d="M120.16 244.636V222.684H134.744V244.636H120.16Z" fill="#9E1981"></path>
    <path d="M222.073 202.345V180.393H236.657V202.345H222.073Z" fill="#13A538"></path>
    <path d="M236.652 202.34V180.388H251.237V202.34H236.652Z" fill="#9E1981"></path>
    <path d="M251.364 202.345V180.393H265.948V202.345H251.364Z" fill="#13A538"></path>
    <path d="M265.944 202.345V180.393H280.528V202.345H265.944Z" fill="#9E1981"></path>
    <path d="M91.4375 158.539V136.587H106.022V158.539H91.4375Z" fill="#13A538"></path>
    <path d="M76.8579 158.544V136.592H91.4424V158.544H76.8579Z" fill="#9E1981"></path>
    <path d="M120.837 158.544V136.592H135.421V158.544H120.837Z" fill="#13A538"></path>
    <path d="M106.257 158.544V136.592H120.842V158.544H106.257Z" fill="#9E1981"></path>
    <path d="M106.229 180.501V158.549H120.813V180.501H106.229Z" fill="#13A538"></path>
    <path d="M91.6492 180.501V158.549H106.234V180.501H91.6492Z" fill="#9E1981"></path>
    <path d="M120.334 180.505V158.553H134.918V180.505H120.334Z" fill="#9E1981"></path>
    <path d="M76.9377 180.501V158.549H91.5222V180.501H76.9377Z" fill="#13A538"></path>
    <path d="M62.9456 158.535V136.583H77.53V158.535H62.9456Z" fill="#13A538"></path>
    <path d="M120.564 202.345V180.393H135.149V202.345H120.564Z" fill="#13A538"></path>
    <path d="M105.98 202.345V180.393H120.564V202.345H105.98Z" fill="#9E1981"></path>
    <path d="M91.2729 202.345V180.393H105.857V202.345H91.2729Z" fill="#13A538"></path>
    <path d="M316.952 41.6941V49.9361H307.544V41.6941H316.952Z" fill="#13A538"></path>
    <path d="M307.548 41.6941V49.9361H298.14V41.6941H307.548Z" fill="#9E1981"></path>
    <path d="M298.258 41.6941V49.9361H288.85V41.6941H298.258Z" fill="#13A538"></path>
    <path d="M288.855 41.6941V49.9361H279.447V41.6941H288.855Z" fill="#9E1981"></path>
    <path d="M279.367 41.6941V49.9361H269.959V41.6941H279.367Z" fill="#13A538"></path>
    <path d="M269.964 41.6941V49.9361H260.556V41.6941H269.964Z" fill="#9E1981"></path>
    <path d="M260.556 41.6941V49.9361H251.148V41.6941H260.556Z" fill="#13A538"></path>
    <path d="M251.147 41.6941V49.9361H241.739V41.6941H251.147Z" fill="#9E1981"></path>
    <path d="M241.665 41.6942V49.9361H232.257V41.6942H241.665Z" fill="#13A538"></path>
    <path d="M232.261 41.6942V49.9361H222.853V41.6942H232.261Z" fill="#9E1981"></path>
    <path d="M134.989 52.7994V61.0414H125.581V52.7994H134.989Z" fill="#13A538"></path>
    <path d="M125.585 52.7994V61.0414H116.177V52.7994H125.585Z" fill="#9E1981"></path>
    <path d="M116.102 52.7947V61.0367H106.694V52.7947H116.102Z" fill="#13A538"></path>
    <path d="M107.042 52.7947V61.0367H66.9419V52.7947H107.042Z" fill="#9E1981"></path>
    <path d="M66.9419 69.2458V61.0038H107.042V69.2458H66.9419Z" fill="#13A538"></path>
    <path d="M48.3235 68.8837V71.6107H8.22318V68.8837H48.3235Z" fill="#9E1981"></path>
    <path d="M8.22803 74.3235V71.5966H48.3283V74.3235H8.22803Z" fill="#13A538"></path>
    <path d="M48.3235 74.3189V77.0458H6.12155V74.3189H48.3235Z" fill="#9E1981"></path>
    <path d="M6.12158 79.7634V77.0364H48.3235V79.7634H6.12158Z" fill="#13A538"></path>
    <path d="M48.3281 79.7587V82.4856H3.25349V79.7587H48.3281Z" fill="#9E1981"></path>
    <path d="M3.24902 85.2032V82.4762H48.3237V85.2032H3.24902Z" fill="#13A538"></path>
    <path d="M48.3235 84.7424V87.4693H1.52588e-05V84.7424H48.3235Z" fill="#9E1981"></path>
    <path d="M0 90.1869L0 87.46H48.3235V90.1869H0Z" fill="#13A538"></path>
    <path d="M106.694 69.2411V60.9991H116.102V69.2411H106.694Z" fill="#9E1981"></path>
    <path d="M116.182 69.2411V60.9991H125.59V69.2411H116.182Z" fill="#13A538"></path>
    <path d="M125.585 69.2411V60.9991H134.993V69.2411H125.585Z" fill="#9E1981"></path>
    <path d="M49.1133 52.7947V61.0367H39.7053V52.7947H49.1133Z" fill="#13A538"></path>
    <path d="M39.7056 69.2457V61.0038H49.1136V69.2457H39.7056Z" fill="#9E1981"></path>
    <path d="M67.1724 52.9264V44.6844H106.882V52.9264H67.1724Z" fill="#13A538"></path>
    <path d="M106.882 52.9264V44.6844H116.29V52.9264H106.882Z" fill="#9E1981"></path>
    <path d="M116.37 52.9311V44.6891H125.778V52.9311H116.37Z" fill="#13A538"></path>
    <path d="M57.8818 52.7947V61.0367H48.4739V52.7947H57.8818Z" fill="#9E1981"></path>
    <path d="M48.4739 69.2458V61.0038H57.8819V69.2458H48.4739Z" fill="#13A538"></path>
    <path d="M48.6621 52.9264V44.6844H58.0701V52.9264H48.6621Z" fill="#13A538"></path>
    <path d="M116.291 36.4847V44.7267H106.883V36.4847H116.291Z" fill="#13A538"></path>
    <path d="M67.1394 52.7994V61.0414H57.7314V52.7994H67.1394Z" fill="#13A538"></path>
    <path d="M57.7314 69.2411V60.9991H67.1394V69.2411H57.7314Z" fill="#9E1981"></path>
    <path d="M57.9197 52.9264V44.6844H67.3277V52.9264H57.9197Z" fill="#9E1981"></path>
    <path d="M67.3276 36.4848V44.7267H57.9196V36.4848H67.3276Z" fill="#13A538"></path>
    <path d="M106.887 36.4847V44.7267H67.1771V36.4847H106.887Z" fill="#9E1981"></path>
    <path d="M222.858 58.1405V49.8985H232.266V58.1405H222.858Z" fill="#13A538"></path>
    <path d="M232.261 58.1452V49.9032H241.669V58.1452H232.261Z" fill="#9E1981"></path>
    <path d="M241.749 58.1405V49.8985H251.157V58.1405H241.749Z" fill="#13A538"></path>
    <path d="M251.152 58.1405V49.8985H260.56V58.1405H251.152Z" fill="#9E1981"></path>
    <path d="M260.56 58.1405V49.8985H269.968V58.1405H260.56Z" fill="#13A538"></path>
    <path d="M269.964 58.1405V49.8985H279.372V58.1405H269.964Z" fill="#9E1981"></path>
    <path d="M279.452 58.1452V49.9032H288.86V58.1452H279.452Z" fill="#13A538"></path>
    <path d="M288.855 58.1452V49.9032H298.263V58.1452H288.855Z" fill="#9E1981"></path>
    <path d="M298.145 58.1405V49.8985H307.553V58.1405H298.145Z" fill="#13A538"></path>
    <path d="M307.548 58.1405V49.8985H316.956V58.1405H307.548Z" fill="#9E1981"></path>
  </svg>

  <svg viewBox="0 0 480 246" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M213.275 53.678V128.599H191.502V53.678H213.275Z" fill="#9E1981"></path>
    <path d="M191.506 53.6828V128.603H169.733V53.6828H191.506Z" fill="#13A538"></path>
    <path d="M169.55 53.6827V128.603H147.776V53.6827H169.55Z" fill="#9E1981"></path>
    <path d="M147.781 53.6781V128.599H126.008V53.6781H147.781Z" fill="#13A538"></path>
    <path d="M235 54.0642V128.985H213.227V54.0642H235Z" fill="#13A538"></path>
    <path d="M134.003 202.985V128.064H155.776V202.985H134.003Z" fill="#9E1981"></path>
    <path d="M155.771 202.985V128.064H177.545V202.985H155.771Z" fill="#13A538"></path>
    <path d="M177.733 202.985V128.064H199.506V202.985H177.733Z" fill="#9E1981"></path>
    <path d="M199.501 202.99V128.069H221.275V202.99H199.501Z" fill="#13A538"></path>
    <path d="M221.227 203.381V128.461H243V203.381H221.227Z" fill="#9E1981"></path>
    <path d="M363.141 92.4431L222.505 92.4431V84.06L363.141 84.06V92.4431Z" fill="#9E1981"></path>
    <path d="M363.141 84.0648L222.505 84.0648V75.6817L363.141 75.6817V84.0648Z" fill="#13A538"></path>
    <path d="M363.141 75.6065L222.505 75.6065V67.2235L363.141 67.2235V75.6065Z" fill="#9E1981"></path>
    <path d="M363.141 67.2282L222.505 67.2282V58.8452L363.141 58.8452V67.2282Z" fill="#13A538"></path>
    <path d="M459.007 59.494L316.895 59.494V51.111L459.007 51.111V59.494Z" fill="#9E1981"></path>
    <path d="M459.007 51.111L316.895 51.111V42.7279L459.007 42.7279V51.111Z" fill="#13A538"></path>
    <path d="M459.007 42.6574L316.895 42.6574V34.2744L459.007 34.2744V42.6574Z" fill="#9E1981"></path>
    <path d="M459.007 34.2744L316.895 34.2744V25.8913L459.007 25.8913V34.2744Z" fill="#13A538"></path>
    <path d="M480 25.9243L389.319 25.9243V17.5412L480 17.5412V25.9243Z" fill="#9E1981"></path>
    <path d="M480 17.546L389.319 17.546V9.16293L480 9.16293V17.546Z" fill="#13A538"></path>
    <path d="M480 9.08301L420.971 9.08301V0.699981L480 0.699981V9.08301Z" fill="#9E1981"></path>
    <path d="M135.506 91.1548V137.189H120.922V91.1548H135.506Z" fill="#9E1981"></path>
    <path d="M120.926 91.1548V137.189H106.342V91.1548H120.926Z" fill="#13A538"></path>
    <path d="M106.215 91.1548V137.189H91.6304V91.1548H106.215Z" fill="#9E1981"></path>
    <path d="M91.635 91.1548V137.189H77.0505V91.1548H91.635Z" fill="#13A538"></path>
    <path d="M76.9048 91.1548V137.189H62.3203V91.1548H76.9048Z" fill="#9E1981"></path>
    <rect width="117" height="46" transform="matrix(-1 0 0 1 339 92.0642)" fill="#9E1981"></rect>
    <path d="M338.777 92.396V138.43H324.192V92.396H338.777Z" fill="#13A538"></path>
    <path d="M324.197 92.4008V138.435H309.613V92.4008H324.197Z" fill="#13A538"></path>
    <path d="M309.486 92.396V138.43H294.901V92.396H309.486Z" fill="#9E1981"></path>
    <path d="M294.906 92.396V138.43H280.321V92.396H294.906Z" fill="#9E1981"></path>
    <path d="M280.176 92.4008V138.435H265.591V92.4008H280.176Z" fill="#13A538"></path>
    <path d="M265.596 92.4008V138.435H251.011V92.4008H265.596Z" fill="#13A538"></path>
    <path d="M250.884 92.396V138.43H236.3V92.396H250.884Z" fill="#9E1981"></path>
    <path d="M236.305 92.396V138.43H221.72V92.396H236.305Z" fill="#9E1981"></path>
    <path d="M45.9022 69.8846H135.036V80.6137H45.9022V69.8846Z" fill="#13A538"></path>
    <path d="M45.9022 80.6091H135.036V91.3382H45.9022V80.6091Z" fill="#9E1981"></path>
    <path d="M251.199 159.239V137.287H265.784V159.239H251.199Z" fill="#9E1981"></path>
    <path d="M265.779 159.244V137.292H280.364V159.244H265.779Z" fill="#13A538"></path>
    <path d="M221.8 159.244V137.292H236.384V159.244H221.8Z" fill="#9E1981"></path>
    <path d="M236.38 159.244V137.292H250.964V159.244H236.38Z" fill="#13A538"></path>
    <path d="M280.486 159.239V137.287H295.07V159.239H280.486Z" fill="#9E1981"></path>
    <path d="M295.07 159.239V137.287H309.655V159.239H295.07Z" fill="#13A538"></path>
    <path d="M236.403 181.201V159.249H250.988V181.201H236.403Z" fill="#9E1981"></path>
    <path d="M250.983 181.201V159.249H265.567V181.201H250.983Z" fill="#13A538"></path>
    <path d="M222.294 181.201V159.249H236.878V181.201H222.294Z" fill="#13A538"></path>
    <path d="M265.695 181.201V159.249H280.279V181.201H265.695Z" fill="#9E1981"></path>
    <path d="M280.274 181.201V159.249H294.859V181.201H280.274Z" fill="#13A538"></path>
    <path d="M207.437 224.094V202.142H222.021V224.094H207.437Z" fill="#13A538"></path>
    <path d="M222.016 224.098V202.146H236.601V224.098H222.016Z" fill="#13A538"></path>
    <path d="M236.728 224.098V202.146H251.312V224.098H236.728Z" fill="#9E1981"></path>
    <path d="M251.307 224.094V202.142H265.892V224.094H251.307Z" fill="#13A538"></path>
    <path d="M149.023 224.094V202.142H163.608V224.094H149.023Z" fill="#13A538"></path>
    <path d="M163.603 224.094V202.142H178.188V224.094H163.603Z" fill="#9E1981"></path>
    <path d="M178.314 224.098V202.146H192.899V224.098H178.314Z" fill="#13A538"></path>
    <path d="M192.894 224.098V202.146H207.479V224.098H192.894Z" fill="#9E1981"></path>
    <path d="M105.04 224.098V202.146H119.624V224.098H105.04Z" fill="#13A538"></path>
    <path d="M119.746 224.098V202.146H134.331V224.098H119.746Z" fill="#9E1981"></path>
    <path d="M134.331 224.098V202.146H148.915V224.098H134.331Z" fill="#9E1981"></path>
    <path d="M134.853 245.336V223.384H149.437V245.336H134.853Z" fill="#9E1981"></path>
    <path d="M149.432 245.336V223.384H164.017V245.336H149.432Z" fill="#13A538"></path>
    <path d="M164.144 245.336V223.384H178.728V245.336H164.144Z" fill="#9E1981"></path>
    <path d="M120.16 245.336V223.384H134.744V245.336H120.16Z" fill="#13A538"></path>
    <path d="M222.073 203.044V181.093H236.657V203.044H222.073Z" fill="#9E1981"></path>
    <path d="M236.652 203.04V181.088H251.237V203.04H236.652Z" fill="#13A538"></path>
    <path d="M251.364 203.044V181.093H265.948V203.044H251.364Z" fill="#9E1981"></path>
    <path d="M265.944 203.044V181.093H280.528V203.044H265.944Z" fill="#13A538"></path>
    <path d="M91.4375 159.239V137.287H106.022V159.239H91.4375Z" fill="#13A538"></path>
    <path d="M76.8579 159.244V137.292H91.4424V159.244H76.8579Z" fill="#9E1981"></path>
    <path d="M120.837 159.244V137.292H135.421V159.244H120.837Z" fill="#13A538"></path>
    <path d="M106.257 159.244V137.292H120.842V159.244H106.257Z" fill="#9E1981"></path>
    <path d="M106.229 181.201V159.249H120.813V181.201H106.229Z" fill="#9E1981"></path>
    <path d="M91.6492 181.201V159.249H106.234V181.201H91.6492Z" fill="#13A538"></path>
    <path d="M120.334 181.205V159.253H134.918V181.205H120.334Z" fill="#13A538"></path>
    <path d="M76.9377 181.201V159.249H91.5222V181.201H76.9377Z" fill="#9E1981"></path>
    <path d="M62.9456 159.235V137.283H77.53V159.235H62.9456Z" fill="#13A538"></path>
    <path d="M120.564 203.044V181.093H135.149V203.044H120.564Z" fill="#9E1981"></path>
    <path d="M105.98 203.044V181.093H120.564V203.044H105.98Z" fill="#13A538"></path>
    <path d="M91.2729 203.044V181.093H105.857V203.044H91.2729Z" fill="#9E1981"></path>
    <path d="M316.952 42.3941V50.636H307.544V42.3941H316.952Z" fill="#9E1981"></path>
    <path d="M307.548 42.3941V50.636H298.14V42.3941H307.548Z" fill="#13A538"></path>
    <path d="M298.258 42.3941V50.636H288.85V42.3941H298.258Z" fill="#9E1981"></path>
    <path d="M288.855 42.3941V50.636H279.447V42.3941H288.855Z" fill="#13A538"></path>
    <path d="M279.367 42.3941V50.636H269.959V42.3941H279.367Z" fill="#9E1981"></path>
    <path d="M269.964 42.3941V50.636H260.556V42.3941H269.964Z" fill="#13A538"></path>
    <path d="M260.556 42.3941V50.636H251.148V42.3941H260.556Z" fill="#9E1981"></path>
    <path d="M251.147 42.3941V50.636H241.739V42.3941H251.147Z" fill="#13A538"></path>
    <path d="M241.665 42.3941V50.636H232.257V42.3941H241.665Z" fill="#9E1981"></path>
    <path d="M232.261 42.3941V50.636H222.853V42.3941H232.261Z" fill="#13A538"></path>
    <path d="M134.989 53.4994V61.7414H125.581V53.4994H134.989Z" fill="#9E1981"></path>
    <path d="M125.585 53.4994V61.7414H116.177V53.4994H125.585Z" fill="#13A538"></path>
    <path d="M116.102 53.4947V61.7366H106.694V53.4947H116.102Z" fill="#9E1981"></path>
    <path d="M107.042 53.4947V61.7367H66.9419V53.4947H107.042Z" fill="#13A538"></path>
    <path d="M66.9419 69.9457V61.7037H107.042V69.9457H66.9419Z" fill="#9E1981"></path>
    <path d="M48.3235 69.5837V72.3107H8.22318V69.5837H48.3235Z" fill="#13A538"></path>
    <path d="M8.22803 75.0235V72.2966H48.3283V75.0235H8.22803Z" fill="#9E1981"></path>
    <path d="M48.3235 75.0188V77.7458H6.12155V75.0188H48.3235Z" fill="#13A538"></path>
    <path d="M6.12158 80.4633V77.7363H48.3235V80.4633H6.12158Z" fill="#9E1981"></path>
    <path d="M48.3281 80.4586V83.1855H3.25349V80.4586H48.3281Z" fill="#13A538"></path>
    <path d="M3.24902 85.9031V83.1761H48.3237V85.9031H3.24902Z" fill="#9E1981"></path>
    <path d="M48.3235 85.4424V88.1693H1.52588e-05V85.4424H48.3235Z" fill="#13A538"></path>
    <path d="M0 90.8869L0 88.1599H48.3235V90.8869H0Z" fill="#9E1981"></path>
    <path d="M106.694 69.9411V61.6991H116.102V69.9411H106.694Z" fill="#13A538"></path>
    <path d="M116.182 69.941V61.699H125.59V69.941H116.182Z" fill="#9E1981"></path>
    <path d="M125.585 69.941V61.699H134.993V69.941H125.585Z" fill="#13A538"></path>
    <path d="M49.1133 53.4947V61.7367H39.7053V53.4947H49.1133Z" fill="#9E1981"></path>
    <path d="M39.7056 69.9457V61.7037H49.1136V69.9457H39.7056Z" fill="#13A538"></path>
    <path d="M67.1724 53.6263V45.3843H106.882V53.6263H67.1724Z" fill="#9E1981"></path>
    <path d="M106.882 53.6263V45.3843H116.29V53.6263H106.882Z" fill="#13A538"></path>
    <path d="M116.37 53.631V45.389H125.778V53.631H116.37Z" fill="#9E1981"></path>
    <path d="M57.8818 53.4947V61.7367H48.4739V53.4947H57.8818Z" fill="#13A538"></path>
    <path d="M48.4739 69.9457V61.7037H57.8819V69.9457H48.4739Z" fill="#9E1981"></path>
    <path d="M48.6621 53.6263V45.3843H58.0701V53.6263H48.6621Z" fill="#9E1981"></path>
    <path d="M116.291 37.1847V45.4267H106.883V37.1847H116.291Z" fill="#9E1981"></path>
    <path d="M67.1394 53.4994V61.7414H57.7314V53.4994H67.1394Z" fill="#9E1981"></path>
    <path d="M57.7314 69.941V61.699H67.1394V69.941H57.7314Z" fill="#13A538"></path>
    <path d="M57.9197 53.6263V45.3843H67.3277V53.6263H57.9197Z" fill="#13A538"></path>
    <path d="M67.3276 37.1847V45.4267H57.9196V37.1847H67.3276Z" fill="#9E1981"></path>
    <path d="M106.887 37.1847V45.4267H67.1771V37.1847H106.887Z" fill="#13A538"></path>
    <path d="M222.858 58.8404V50.5984H232.266V58.8404H222.858Z" fill="#9E1981"></path>
    <path d="M232.261 58.8452V50.6032H241.669V58.8452H232.261Z" fill="#13A538"></path>
    <path d="M241.749 58.8404V50.5984H251.157V58.8404H241.749Z" fill="#9E1981"></path>
    <path d="M251.152 58.8404V50.5984H260.56V58.8404H251.152Z" fill="#13A538"></path>
    <path d="M260.56 58.8404V50.5984H269.968V58.8404H260.56Z" fill="#9E1981"></path>
    <path d="M269.964 58.8404V50.5984H279.372V58.8404H269.964Z" fill="#13A538"></path>
    <path d="M279.452 58.8452V50.6032H288.86V58.8452H279.452Z" fill="#9E1981"></path>
    <path d="M288.855 58.8452V50.6032H298.263V58.8452H288.855Z" fill="#13A538"></path>
    <path d="M298.145 58.8404V50.5984H307.553V58.8404H298.145Z" fill="#9E1981"></path>
    <path d="M307.548 58.8404V50.5984H316.956V58.8404H307.548Z" fill="#13A538"></path>
  </svg>
</div>
