---

---

<div class="relative">
  <svg class="svg-anim" viewBox="0 0 585 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M568.755 219.848L584.658 219.848L584.658 164.849L568.755 164.849L568.755 219.848Z" fill="#FFFBEB"></path>
    <path d="M568.755 165.527L584.658 165.527L584.658 110.528L568.755 110.528L568.755 165.527Z" fill="#E7511D"></path>
    <path d="M568.755 110.541L584.658 110.541L584.658 55.542L568.755 55.5419L568.755 110.541Z" fill="#FFFBEB"></path>
    <path d="M568.755 55.0633L584.658 55.0633L584.658 0.064106L568.755 0.0641046L568.755 55.0633Z" fill="#E7511D"></path>
    <path d="M568.914 0.0507826L553.01 0.0507812L553.01 55.05L568.914 55.05L568.914 0.0507826Z" fill="#FFFBEB"></path>
    <path d="M568.914 55.5284L553.01 55.5284L553.01 110.528L568.914 110.528L568.914 55.5284Z" fill="#E7511D"></path>
    <path d="M568.914 110.515L553.01 110.515L553.01 165.514L568.914 165.514L568.914 110.515Z" fill="#FFFBEB"></path>
    <path d="M568.914 164.835L553.01 164.835L553.01 219.835L568.914 219.835L568.914 164.835Z" fill="#E7511D"></path>
    <path d="M537.173 219.848L553.077 219.848L553.077 164.849L537.173 164.849L537.173 219.848Z" fill="#FFFBEB"></path>
    <path d="M537.173 165.527L553.077 165.527L553.077 110.528L537.173 110.528L537.173 165.527Z" fill="#E7511D"></path>
    <path d="M537.333 55.5284L521.429 55.5284L521.429 110.528L537.333 110.528L537.333 55.5284Z" fill="#E7511D"></path>
    <path d="M537.333 110.515L521.429 110.515L521.429 165.514L537.333 165.514L537.333 110.515Z" fill="#FFFBEB"></path>
    <path d="M537.333 164.835L521.429 164.835L521.429 219.835L537.333 219.835L537.333 164.835Z" fill="#E7511D"></path>
    <path d="M505.605 219.848L521.509 219.848L521.509 164.849L505.605 164.849L505.605 219.848Z" fill="#FFFBEB"></path>
    <path d="M505.605 165.527L521.509 165.527L521.509 110.528L505.605 110.528L505.605 165.527Z" fill="#E7511D"></path>
    <path d="M505.605 110.541L521.509 110.541L521.509 55.542L505.605 55.5419L505.605 110.541Z" fill="#FFFBEB"></path>
    <path d="M505.605 55.4696L521.509 55.4696L521.509 0.470417L505.605 0.470416L505.605 55.4696Z" fill="#E7511D"></path>
    <path d="M505.764 0.457094L489.861 0.457092L489.861 55.4563L505.764 55.4563L505.764 0.457094Z" fill="#FFFBEB"></path>
    <path d="M505.764 55.5284L489.861 55.5284L489.861 110.528L505.764 110.528L505.764 55.5284Z" fill="#E7511D"></path>
    <path d="M505.764 110.515L489.861 110.515L489.861 165.514L505.764 165.514L505.764 110.515Z" fill="#FFFBEB"></path>
    <path d="M505.764 164.835L489.861 164.835L489.861 219.835L505.764 219.835L505.764 164.835Z" fill="#E7511D"></path>
    <path d="M474.023 219.848L489.927 219.848L489.927 164.849L474.023 164.849L474.023 219.848Z" fill="#FFFBEB"></path>
    <path d="M474.023 165.527L489.927 165.527L489.927 110.528L474.023 110.528L474.023 165.527Z" fill="#E7511D"></path>
    <path d="M474.023 110.541L489.927 110.541L489.927 55.542L474.023 55.5419L474.023 110.541Z" fill="#FFFBEB"></path>
    <path d="M474.023 55.4696L489.927 55.4696L489.927 0.470417L474.023 0.470416L474.023 55.4696Z" fill="#E7511D"></path>
    <path d="M474.183 0.457094L458.279 0.457092L458.279 55.4563L474.183 55.4563L474.183 0.457094Z" fill="#FFFBEB"></path>
    <path d="M474.183 55.5284L458.279 55.5284L458.279 110.528L474.183 110.528L474.183 55.5284Z" fill="#E7511D"></path>
    <path d="M474.183 110.515L458.279 110.515L458.279 165.514L474.183 165.514L474.183 110.515Z" fill="#FFFBEB"></path>
    <path d="M474.183 164.835L458.279 164.835L458.279 219.835L474.183 219.835L474.183 164.835Z" fill="#E7511D"></path>
    <path d="M442.442 219.848L458.345 219.848L458.345 164.849L442.442 164.849L442.442 219.848Z" fill="#FFFBEB"></path>
    <path d="M442.442 165.527L458.345 165.527L458.345 110.528L442.442 110.528L442.442 165.527Z" fill="#E7511D"></path>
    <path d="M442.442 110.541L458.345 110.541L458.345 55.542L442.442 55.5419L442.442 110.541Z" fill="#FFFBEB"></path>
    <path d="M442.535 55.5286L426.631 55.5286L426.631 110.528L442.535 110.528L442.535 55.5286Z" fill="#E7511D"></path>
    <path d="M442.535 110.515L426.631 110.515L426.631 165.514L442.535 165.514L442.535 110.515Z" fill="#FFFBEB"></path>
    <path d="M442.535 164.835L426.631 164.835L426.631 219.835L442.535 219.835L442.535 164.835Z" fill="#E7511D"></path>
    <path d="M410.794 219.848L426.698 219.848L426.698 164.849L410.794 164.849L410.794 219.848Z" fill="#FFFBEB"></path>
    <path d="M410.794 165.527L426.698 165.527L426.698 110.528L410.794 110.528L410.794 165.527Z" fill="#E7511D"></path>
    <path d="M410.794 110.541L426.698 110.541L426.698 55.542L410.794 55.5419L410.794 110.541Z" fill="#FFFBEB"></path>
    <path d="M410.953 55.5286L395.049 55.5286L395.049 110.528L410.953 110.528L410.953 55.5286Z" fill="#E7511D"></path>
    <path d="M410.953 110.515L395.049 110.515L395.049 165.514L410.953 165.514L410.953 110.515Z" fill="#FFFBEB"></path>
    <path d="M410.953 164.835L395.049 164.835L395.049 219.835L410.953 219.835L410.953 164.835Z" fill="#E7511D"></path>
    <path d="M379.212 219.848L395.116 219.848L395.116 164.849L379.212 164.849L379.212 219.848Z" fill="#FFFBEB"></path>
    <path d="M379.212 165.527L395.116 165.527L395.116 110.528L379.212 110.528L379.212 165.527Z" fill="#E7511D"></path>
    <path d="M379.212 110.541L395.116 110.541L395.116 55.542L379.212 55.5419L379.212 110.541Z" fill="#FFFBEB"></path>
    <path d="M379.372 55.5286L363.468 55.5286L363.468 110.528L379.372 110.528L379.372 55.5286Z" fill="#E7511D"></path>
    <path d="M379.372 110.515L363.468 110.515L363.468 165.514L379.372 165.514L379.372 110.515Z" fill="#FFFBEB"></path>
    <path d="M379.372 164.835L363.468 164.835L363.468 219.835L379.372 219.835L379.372 164.835Z" fill="#E7511D"></path>
    <path d="M347.644 219.848L363.548 219.848L363.548 164.849L347.644 164.849L347.644 219.848Z" fill="#FFFBEB"></path>
    <path d="M347.644 165.527L363.548 165.527L363.548 110.528L347.644 110.528L347.644 165.527Z" fill="#E7511D"></path>
    <path d="M347.644 110.541L363.548 110.541L363.548 55.542L347.644 55.5419L347.644 110.541Z" fill="#FFFBEB"></path>
    <path d="M347.803 55.5286L331.899 55.5286L331.899 110.528L347.803 110.528L347.803 55.5286Z" fill="#E7511D"></path>
    <path d="M347.803 110.515L331.899 110.515L331.899 165.514L347.803 165.514L347.803 110.515Z" fill="#FFFBEB"></path>
    <path d="M347.803 164.835L331.899 164.835L331.899 219.835L347.803 219.835L347.803 164.835Z" fill="#E7511D"></path>
    <path d="M316.062 219.848L331.966 219.848L331.966 164.849L316.062 164.849L316.062 219.848Z" fill="#FFFBEB"></path>
    <path d="M316.062 165.527L331.966 165.527L331.966 110.528L316.062 110.528L316.062 165.527Z" fill="#E7511D"></path>
    <path d="M316.062 110.541L331.966 110.541L331.966 55.542L316.062 55.5419L316.062 110.541Z" fill="#FFFBEB"></path>
    <path d="M316.221 55.5284L300.318 55.5284L300.318 110.528L316.221 110.528L316.221 55.5284Z" fill="#E7511D"></path>
    <path d="M316.221 110.515L300.318 110.515L300.318 165.514L316.221 165.514L316.221 110.515Z" fill="#FFFBEB"></path>
    <path d="M316.221 164.835L300.318 164.835L300.318 219.835L316.221 219.835L316.221 164.835Z" fill="#E7511D"></path>
    <path d="M284.48 219.848L300.384 219.848L300.384 164.849L284.48 164.849L284.48 219.848Z" fill="#FFFBEB"></path>
    <path d="M284.48 165.527L300.384 165.527L300.384 110.528L284.48 110.528L284.48 165.527Z" fill="#E7511D"></path>
    <path d="M284.48 110.541L300.384 110.541L300.384 55.542L284.48 55.5419L284.48 110.541Z" fill="#FFFBEB"></path>
    <path d="M442.442 55.4696L458.345 55.4696L458.345 0.470417L442.442 0.470416L442.442 55.4696Z" fill="#E7511D"></path>
    <path d="M285.092 55.5284L269.188 55.5284L269.188 110.528L285.092 110.528L285.092 55.5284Z" fill="#E7511D"></path>
    <path d="M285.092 110.515L269.188 110.515L269.188 165.514L285.092 165.514L285.092 110.515Z" fill="#FFFBEB"></path>
    <path d="M285.092 164.835L269.188 164.835L269.188 219.835L285.092 219.835L285.092 164.835Z" fill="#E7511D"></path>
    <path d="M253.351 219.848L269.255 219.848L269.255 164.849L253.351 164.849L253.351 219.848Z" fill="#FFFBEB"></path>
    <path d="M253.511 164.835L237.607 164.835L237.607 219.835L253.511 219.835L253.511 164.835Z" fill="#E7511D"></path>
    <path d="M221.783 219.848L237.687 219.848L237.687 164.849L221.783 164.849L221.783 219.848Z" fill="#FFFBEB"></path>
    <path d="M221.783 165.527L237.687 165.527L237.687 110.528L221.783 110.528L221.783 165.527Z" fill="#E7511D"></path>
    <path d="M221.942 55.5284L206.038 55.5284L206.038 110.528L221.942 110.528L221.942 55.5284Z" fill="#E7511D"></path>
    <path d="M221.942 110.515L206.038 110.515L206.038 165.514L221.942 165.514L221.942 110.515Z" fill="#FFFBEB"></path>
    <path d="M221.942 164.835L206.038 164.835L206.038 219.835L221.942 219.835L221.942 164.835Z" fill="#E7511D"></path>
    <path d="M190.201 219.848L206.105 219.848L206.105 164.849L190.201 164.849L190.201 219.848Z" fill="#FFFBEB"></path>
    <path d="M190.201 165.527L206.105 165.527L206.105 110.528L190.201 110.528L190.201 165.527Z" fill="#E7511D"></path>
    <path d="M190.201 110.541L206.105 110.541L206.105 55.542L190.201 55.5419L190.201 110.541Z" fill="#FFFBEB"></path>
    <path d="M190.361 55.5284L174.457 55.5284L174.457 110.528L190.361 110.528L190.361 55.5284Z" fill="#E7511D"></path>
    <path d="M190.361 110.515L174.457 110.515L174.457 165.514L190.361 165.514L190.361 110.515Z" fill="#FFFBEB"></path>
    <path d="M190.361 164.835L174.457 164.835L174.457 219.835L190.361 219.835L190.361 164.835Z" fill="#E7511D"></path>
    <path d="M158.62 219.848L174.523 219.848L174.523 164.849L158.62 164.849L158.62 219.848Z" fill="#FFFBEB"></path>
    <path d="M158.62 165.527L174.523 165.527L174.523 110.528L158.62 110.528L158.62 165.527Z" fill="#E7511D"></path>
    <path d="M158.62 110.541L174.523 110.541L174.523 55.542L158.62 55.5419L158.62 110.541Z" fill="#FFFBEB"></path>
    <path d="M158.713 55.5286L142.809 55.5286L142.809 110.528L158.713 110.528L158.713 55.5286Z" fill="#E7511D"></path>
    <path d="M158.713 110.515L142.809 110.515L142.809 165.514L158.713 165.514L158.713 110.515Z" fill="#FFFBEB"></path>
    <path d="M158.713 164.835L142.809 164.835L142.809 219.835L158.713 219.835L158.713 164.835Z" fill="#E7511D"></path>
    <path d="M126.971 219.848L142.875 219.848L142.875 164.849L126.971 164.849L126.971 219.848Z" fill="#FFFBEB"></path>
    <path d="M126.971 165.527L142.875 165.527L142.875 110.528L126.971 110.528L126.971 165.527Z" fill="#E7511D"></path>
    <path d="M126.971 110.541L142.875 110.541L142.875 55.542L126.971 55.5419L126.971 110.541Z" fill="#FFFBEB"></path>
    <path d="M127.118 110.515L111.214 110.515L111.214 165.514L127.118 165.514L127.118 110.515Z" fill="#FFFBEB"></path>
    <path d="M127.118 164.835L111.214 164.835L111.214 219.835L127.118 219.835L127.118 164.835Z" fill="#E7511D"></path>
    <path d="M95.3901 219.848L111.294 219.848L111.294 164.849L95.3901 164.849L95.3901 219.848Z" fill="#FFFBEB"></path>
    <path d="M95.3899 165.527L111.294 165.527L111.294 110.528L95.3899 110.528L95.3899 165.527Z" fill="#E7511D"></path>
    <path d="M95.3899 110.541L111.294 110.541L111.294 55.542L95.3899 55.5419L95.3899 110.541Z" fill="#FFFBEB"></path>
    <path d="M95.5496 55.5286L79.6458 55.5286L79.6457 110.528L95.5496 110.528L95.5496 55.5286Z" fill="#E7511D"></path>
    <path d="M95.5496 110.515L79.6458 110.515L79.6457 165.514L95.5496 165.514L95.5496 110.515Z" fill="#FFFBEB"></path>
    <path d="M95.5496 164.835L79.6458 164.835L79.6457 219.835L95.5496 219.835L95.5496 164.835Z" fill="#E7511D"></path>
    <path d="M63.8083 219.848L79.7122 219.848L79.7122 164.849L63.8084 164.849L63.8083 219.848Z" fill="#FFFBEB"></path>
    <path d="M63.8083 165.527L79.7122 165.527L79.7122 110.528L63.8084 110.528L63.8083 165.527Z" fill="#E7511D"></path>
    <path d="M63.8083 110.541L79.7122 110.541L79.7122 55.542L63.8084 55.5419L63.8083 110.541Z" fill="#FFFBEB"></path>
    <path d="M63.9812 110.515L48.0774 110.515L48.0774 165.514L63.9812 165.514L63.9812 110.515Z" fill="#FFFBEB"></path>
    <path d="M63.9812 164.835L48.0774 164.835L48.0774 219.835L63.9812 219.835L63.9812 164.835Z" fill="#E7511D"></path>
    <path d="M32.24 219.848L48.1438 219.848L48.1438 164.849L32.24 164.849L32.24 219.848Z" fill="#FFFBEB"></path>
    <path d="M32.2402 165.527L48.144 165.527L48.144 110.528L32.2402 110.528L32.2402 165.527Z" fill="#E7511D"></path>
    <path d="M32.3862 55.5284L16.4824 55.5284L16.4824 110.528L32.3862 110.528L32.3862 55.5284Z" fill="#E7511D"></path>
    <path d="M32.3862 110.515L16.4824 110.515L16.4824 165.514L32.3862 165.514L32.3862 110.515Z" fill="#FFFBEB"></path>
    <path d="M32.3862 164.835L16.4824 164.835L16.4824 219.835L32.3862 219.835L32.3862 164.835Z" fill="#E7511D"></path>
    <path d="M0.658446 219.848L16.5623 219.848L16.5623 164.849L0.658451 164.849L0.658446 219.848Z" fill="#FFFBEB"></path>
    <path d="M0.658446 165.527L16.5623 165.527L16.5623 110.528L0.658451 110.528L0.658446 165.527Z" fill="#E7511D"></path>
    <path d="M0.658446 110.541L16.5623 110.541L16.5623 55.542L0.658451 55.5419L0.658446 110.541Z" fill="#FFFBEB"></path>
  </svg>
  <svg viewBox="0 0 585 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M568.755 219.949L584.658 219.949L584.658 164.95L568.755 164.95L568.755 219.949Z" fill="#E8501D"></path>
    <path d="M568.755 165.628L584.658 165.628L584.658 110.629L568.755 110.629L568.755 165.628Z" fill="#F7F6F7"></path>
    <path d="M568.755 110.642L584.658 110.642L584.658 55.643L568.755 55.643L568.755 110.642Z" fill="#E8501D"></path>
    <path d="M568.755 55.1643L584.658 55.1643L584.658 0.165119L568.755 0.165118L568.755 55.1643Z" fill="#F7F6F7"></path>
    <path d="M568.914 0.151857L553.01 0.151855L553.01 55.151L568.914 55.151L568.914 0.151857Z" fill="#E8501D"></path>
    <path d="M568.914 55.6295L553.01 55.6295L553.01 110.629L568.914 110.629L568.914 55.6295Z" fill="#F7F6F7"></path>
    <path d="M568.914 110.616L553.01 110.616L553.01 165.615L568.914 165.615L568.914 110.616Z" fill="#E8501D"></path>
    <path d="M568.914 164.936L553.01 164.936L553.01 219.936L568.914 219.936L568.914 164.936Z" fill="#F7F6F7"></path>
    <path d="M537.173 219.949L553.077 219.949L553.077 164.95L537.173 164.95L537.173 219.949Z" fill="#E8501D"></path>
    <path d="M537.173 165.628L553.077 165.628L553.077 110.629L537.173 110.629L537.173 165.628Z" fill="#F7F6F7"></path>
    <path d="M537.333 55.6295L521.429 55.6295L521.429 110.629L537.333 110.629L537.333 55.6295Z" fill="#F7F6F7"></path>
    <path d="M537.333 110.616L521.429 110.616L521.429 165.615L537.333 165.615L537.333 110.616Z" fill="#E8501D"></path>
    <path d="M537.333 164.936L521.429 164.936L521.429 219.936L537.333 219.936L537.333 164.936Z" fill="#F7F6F7"></path>
    <path d="M505.605 219.949L521.509 219.949L521.509 164.95L505.605 164.95L505.605 219.949Z" fill="#E8501D"></path>
    <path d="M505.605 165.628L521.509 165.628L521.509 110.629L505.605 110.629L505.605 165.628Z" fill="#F7F6F7"></path>
    <path d="M505.605 110.642L521.509 110.642L521.509 55.643L505.605 55.643L505.605 110.642Z" fill="#E8501D"></path>
    <path d="M505.605 55.5707L521.509 55.5707L521.509 0.571491L505.605 0.57149L505.605 55.5707Z" fill="#F7F6F7"></path>
    <path d="M505.764 0.558107L489.861 0.558105L489.861 55.5573L505.764 55.5573L505.764 0.558107Z" fill="#E8501D"></path>
    <path d="M505.764 55.6295L489.861 55.6295L489.861 110.629L505.764 110.629L505.764 55.6295Z" fill="#F7F6F7"></path>
    <path d="M505.764 110.616L489.861 110.616L489.861 165.615L505.764 165.615L505.764 110.616Z" fill="#E8501D"></path>
    <path d="M505.764 164.936L489.861 164.936L489.861 219.936L505.764 219.936L505.764 164.936Z" fill="#F7F6F7"></path>
    <path d="M474.023 219.949L489.927 219.949L489.927 164.95L474.023 164.95L474.023 219.949Z" fill="#E8501D"></path>
    <path d="M474.023 165.628L489.927 165.628L489.927 110.629L474.023 110.629L474.023 165.628Z" fill="#F7F6F7"></path>
    <path d="M474.023 110.642L489.927 110.642L489.927 55.643L474.023 55.643L474.023 110.642Z" fill="#E8501D"></path>
    <path d="M474.023 55.5707L489.927 55.5707L489.927 0.571491L474.023 0.57149L474.023 55.5707Z" fill="#F7F6F7"></path>
    <path d="M474.183 0.558107L458.279 0.558105L458.279 55.5573L474.183 55.5573L474.183 0.558107Z" fill="#E8501D"></path>
    <path d="M474.183 55.6295L458.279 55.6295L458.279 110.629L474.183 110.629L474.183 55.6295Z" fill="#F7F6F7"></path>
    <path d="M474.183 110.616L458.279 110.616L458.279 165.615L474.183 165.615L474.183 110.616Z" fill="#E8501D"></path>
    <path d="M474.183 164.936L458.279 164.936L458.279 219.936L474.183 219.936L474.183 164.936Z" fill="#F7F6F7"></path>
    <path d="M442.442 219.949L458.345 219.949L458.345 164.95L442.442 164.95L442.442 219.949Z" fill="#E8501D"></path>
    <path d="M442.442 165.628L458.345 165.628L458.345 110.629L442.442 110.629L442.442 165.628Z" fill="#F7F6F7"></path>
    <path d="M442.442 110.642L458.345 110.642L458.345 55.643L442.442 55.643L442.442 110.642Z" fill="#E8501D"></path>
    <path d="M442.535 55.6298L426.631 55.6298L426.631 110.629L442.535 110.629L442.535 55.6298Z" fill="#F7F6F7"></path>
    <path d="M442.535 110.616L426.631 110.616L426.631 165.615L442.535 165.615L442.535 110.616Z" fill="#E8501D"></path>
    <path d="M442.535 164.936L426.631 164.936L426.631 219.936L442.535 219.936L442.535 164.936Z" fill="#F7F6F7"></path>
    <path d="M410.794 219.949L426.698 219.949L426.698 164.95L410.794 164.95L410.794 219.949Z" fill="#E8501D"></path>
    <path d="M410.794 165.628L426.698 165.628L426.698 110.629L410.794 110.629L410.794 165.628Z" fill="#F7F6F7"></path>
    <path d="M410.794 110.642L426.698 110.642L426.698 55.643L410.794 55.643L410.794 110.642Z" fill="#E8501D"></path>
    <path d="M410.953 55.6298L395.049 55.6298L395.049 110.629L410.953 110.629L410.953 55.6298Z" fill="#F7F6F7"></path>
    <path d="M410.953 110.616L395.049 110.616L395.049 165.615L410.953 165.615L410.953 110.616Z" fill="#E8501D"></path>
    <path d="M410.953 164.936L395.049 164.936L395.049 219.936L410.953 219.936L410.953 164.936Z" fill="#F7F6F7"></path>
    <path d="M379.212 219.949L395.116 219.949L395.116 164.95L379.212 164.95L379.212 219.949Z" fill="#E8501D"></path>
    <path d="M379.212 165.628L395.116 165.628L395.116 110.629L379.212 110.629L379.212 165.628Z" fill="#F7F6F7"></path>
    <path d="M379.212 110.642L395.116 110.642L395.116 55.643L379.212 55.643L379.212 110.642Z" fill="#E8501D"></path>
    <path d="M379.372 55.6298L363.468 55.6298L363.468 110.629L379.372 110.629L379.372 55.6298Z" fill="#F7F6F7"></path>
    <path d="M379.372 110.616L363.468 110.616L363.468 165.615L379.372 165.615L379.372 110.616Z" fill="#E8501D"></path>
    <path d="M379.372 164.936L363.468 164.936L363.468 219.936L379.372 219.936L379.372 164.936Z" fill="#F7F6F7"></path>
    <path d="M347.644 219.949L363.548 219.949L363.548 164.95L347.644 164.95L347.644 219.949Z" fill="#E8501D"></path>
    <path d="M347.644 165.628L363.548 165.628L363.548 110.629L347.644 110.629L347.644 165.628Z" fill="#F7F6F7"></path>
    <path d="M347.644 110.642L363.548 110.642L363.548 55.643L347.644 55.643L347.644 110.642Z" fill="#E8501D"></path>
    <path d="M347.803 55.6298L331.899 55.6298L331.899 110.629L347.803 110.629L347.803 55.6298Z" fill="#F7F6F7"></path>
    <path d="M347.803 110.616L331.899 110.616L331.899 165.615L347.803 165.615L347.803 110.616Z" fill="#E8501D"></path>
    <path d="M347.803 164.936L331.899 164.936L331.899 219.936L347.803 219.936L347.803 164.936Z" fill="#F7F6F7"></path>
    <path d="M316.062 219.949L331.966 219.949L331.966 164.95L316.062 164.95L316.062 219.949Z" fill="#E8501D"></path>
    <path d="M316.062 165.628L331.966 165.628L331.966 110.629L316.062 110.629L316.062 165.628Z" fill="#F7F6F7"></path>
    <path d="M316.062 110.642L331.966 110.642L331.966 55.643L316.062 55.643L316.062 110.642Z" fill="#E8501D"></path>
    <path d="M316.221 55.6295L300.318 55.6295L300.318 110.629L316.221 110.629L316.221 55.6295Z" fill="#F7F6F7"></path>
    <path d="M316.221 110.616L300.318 110.616L300.318 165.615L316.221 165.615L316.221 110.616Z" fill="#E8501D"></path>
    <path d="M316.221 164.936L300.318 164.936L300.318 219.936L316.221 219.936L316.221 164.936Z" fill="#F7F6F7"></path>
    <path d="M284.48 219.949L300.384 219.949L300.384 164.95L284.48 164.95L284.48 219.949Z" fill="#E8501D"></path>
    <path d="M284.48 165.628L300.384 165.628L300.384 110.629L284.48 110.629L284.48 165.628Z" fill="#F7F6F7"></path>
    <path d="M284.48 110.642L300.384 110.642L300.384 55.643L284.48 55.643L284.48 110.642Z" fill="#E8501D"></path>
    <path d="M442.442 55.5707L458.345 55.5707L458.345 0.571491L442.442 0.57149L442.442 55.5707Z" fill="#F7F6F7"></path>
    <path d="M285.092 55.6295L269.188 55.6295L269.188 110.629L285.092 110.629L285.092 55.6295Z" fill="#F7F6F7"></path>
    <path d="M285.092 110.616L269.188 110.616L269.188 165.615L285.092 165.615L285.092 110.616Z" fill="#E8501D"></path>
    <path d="M285.092 164.936L269.188 164.936L269.188 219.936L285.092 219.936L285.092 164.936Z" fill="#F7F6F7"></path>
    <path d="M253.351 219.949L269.255 219.949L269.255 164.95L253.351 164.95L253.351 219.949Z" fill="#E8501D"></path>
    <path d="M253.511 164.936L237.607 164.936L237.607 219.936L253.511 219.936L253.511 164.936Z" fill="#F7F6F7"></path>
    <path d="M221.783 219.949L237.687 219.949L237.687 164.95L221.783 164.95L221.783 219.949Z" fill="#E8501D"></path>
    <path d="M221.783 165.628L237.687 165.628L237.687 110.629L221.783 110.629L221.783 165.628Z" fill="#F7F6F7"></path>
    <path d="M221.942 55.6295L206.038 55.6295L206.038 110.629L221.942 110.629L221.942 55.6295Z" fill="#F7F6F7"></path>
    <path d="M221.942 110.616L206.038 110.616L206.038 165.615L221.942 165.615L221.942 110.616Z" fill="#E8501D"></path>
    <path d="M221.942 164.936L206.038 164.936L206.038 219.936L221.942 219.936L221.942 164.936Z" fill="#F7F6F7"></path>
    <path d="M190.201 219.949L206.105 219.949L206.105 164.95L190.201 164.95L190.201 219.949Z" fill="#E8501D"></path>
    <path d="M190.201 165.628L206.105 165.628L206.105 110.629L190.201 110.629L190.201 165.628Z" fill="#F7F6F7"></path>
    <path d="M190.201 110.642L206.105 110.642L206.105 55.643L190.201 55.643L190.201 110.642Z" fill="#E8501D"></path>
    <path d="M190.361 55.6295L174.457 55.6295L174.457 110.629L190.361 110.629L190.361 55.6295Z" fill="#F7F6F7"></path>
    <path d="M190.361 110.616L174.457 110.616L174.457 165.615L190.361 165.615L190.361 110.616Z" fill="#E8501D"></path>
    <path d="M190.361 164.936L174.457 164.936L174.457 219.936L190.361 219.936L190.361 164.936Z" fill="#F7F6F7"></path>
    <path d="M158.62 219.949L174.523 219.949L174.523 164.95L158.62 164.95L158.62 219.949Z" fill="#E8501D"></path>
    <path d="M158.62 165.628L174.523 165.628L174.523 110.629L158.62 110.629L158.62 165.628Z" fill="#F7F6F7"></path>
    <path d="M158.62 110.642L174.523 110.642L174.523 55.643L158.62 55.643L158.62 110.642Z" fill="#E8501D"></path>
    <path d="M158.713 55.6298L142.809 55.6298L142.809 110.629L158.713 110.629L158.713 55.6298Z" fill="#F7F6F7"></path>
    <path d="M158.713 110.616L142.809 110.616L142.809 165.615L158.713 165.615L158.713 110.616Z" fill="#E8501D"></path>
    <path d="M158.713 164.936L142.809 164.936L142.809 219.936L158.713 219.936L158.713 164.936Z" fill="#F7F6F7"></path>
    <path d="M126.971 219.949L142.875 219.949L142.875 164.95L126.971 164.95L126.971 219.949Z" fill="#E8501D"></path>
    <path d="M126.971 165.628L142.875 165.628L142.875 110.629L126.971 110.629L126.971 165.628Z" fill="#F7F6F7"></path>
    <path d="M126.971 110.642L142.875 110.642L142.875 55.643L126.971 55.643L126.971 110.642Z" fill="#E8501D"></path>
    <path d="M127.118 110.616L111.214 110.616L111.214 165.615L127.118 165.615L127.118 110.616Z" fill="#E8501D"></path>
    <path d="M127.118 164.936L111.214 164.936L111.214 219.936L127.118 219.936L127.118 164.936Z" fill="#F7F6F7"></path>
    <path d="M95.3901 219.949L111.294 219.949L111.294 164.95L95.3901 164.95L95.3901 219.949Z" fill="#E8501D"></path>
    <path d="M95.3899 165.628L111.294 165.628L111.294 110.629L95.3899 110.629L95.3899 165.628Z" fill="#F7F6F7"></path>
    <path d="M95.3899 110.642L111.294 110.642L111.294 55.643L95.3899 55.643L95.3899 110.642Z" fill="#E8501D"></path>
    <path d="M95.5496 55.6298L79.6458 55.6298L79.6457 110.629L95.5496 110.629L95.5496 55.6298Z" fill="#F7F6F7"></path>
    <path d="M95.5496 110.616L79.6458 110.616L79.6457 165.615L95.5496 165.615L95.5496 110.616Z" fill="#E8501D"></path>
    <path d="M95.5496 164.936L79.6458 164.936L79.6457 219.936L95.5496 219.936L95.5496 164.936Z" fill="#F7F6F7"></path>
    <path d="M63.8083 219.949L79.7122 219.949L79.7122 164.95L63.8084 164.95L63.8083 219.949Z" fill="#E8501D"></path>
    <path d="M63.8083 165.628L79.7122 165.628L79.7122 110.629L63.8084 110.629L63.8083 165.628Z" fill="#F7F6F7"></path>
    <path d="M63.8083 110.642L79.7122 110.642L79.7122 55.643L63.8084 55.643L63.8083 110.642Z" fill="#E8501D"></path>
    <path d="M63.9812 110.616L48.0774 110.616L48.0774 165.615L63.9812 165.615L63.9812 110.616Z" fill="#E8501D"></path>
    <path d="M63.9812 164.936L48.0774 164.936L48.0774 219.936L63.9812 219.936L63.9812 164.936Z" fill="#F7F6F7"></path>
    <path d="M32.24 219.949L48.1438 219.949L48.1438 164.95L32.24 164.95L32.24 219.949Z" fill="#E8501D"></path>
    <path d="M32.2402 165.628L48.144 165.628L48.144 110.629L32.2402 110.629L32.2402 165.628Z" fill="#F7F6F7"></path>
    <path d="M32.3862 55.6295L16.4824 55.6295L16.4824 110.629L32.3862 110.629L32.3862 55.6295Z" fill="#F7F6F7"></path>
    <path d="M32.3862 110.616L16.4824 110.616L16.4824 165.615L32.3862 165.615L32.3862 110.616Z" fill="#E8501D"></path>
    <path d="M32.3862 164.936L16.4824 164.936L16.4824 219.936L32.3862 219.936L32.3862 164.936Z" fill="#F7F6F7"></path>
    <path d="M0.658446 219.949L16.5623 219.949L16.5623 164.95L0.658451 164.95L0.658446 219.949Z" fill="#E8501D"></path>
    <path d="M0.658446 165.628L16.5623 165.628L16.5623 110.629L0.658451 110.629L0.658446 165.628Z" fill="#F7F6F7"></path>
    <path d="M0.658446 110.642L16.5623 110.642L16.5623 55.643L0.658451 55.643L0.658446 110.642Z" fill="#E8501D"></path>
  </svg>
</div>
