<div class="relative">
  <svg class="svg-anim" viewBox="0 0 584 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.9038 0H0L0 54.9992H15.9038V0Z" fill="#3D3D3B"></path>
    <path d="M15.9038 54.3208H0L0 109.32H15.9038V54.3208Z" fill="#F7F6F7"></path>
    <path d="M15.9038 109.307H0L0 164.306H15.9038V109.307Z" fill="#3D3D3B"></path>
    <path d="M15.9038 164.785H0L0 219.784H15.9038V164.785Z" fill="#F7F6F7"></path>
    <path d="M15.7441 219.797H31.6479V164.798H15.7441V219.797Z" fill="#3D3D3B"></path>
    <path d="M15.7441 164.319H31.6479V109.32H15.7441V164.319Z" fill="#F7F6F7"></path>
    <path d="M15.7441 109.333H31.6479V54.3343H15.7441V109.333Z" fill="#3D3D3B"></path>
    <path d="M15.7441 55.0125H31.6479V0.0132637H15.7441V55.0125Z" fill="#F7F6F7"></path>
    <path d="M47.4854 0H31.5815V54.9992H47.4854V0Z" fill="#3D3D3B"></path>
    <path d="M47.4854 54.3208H31.5815V109.32H47.4854V54.3208Z" fill="#F7F6F7"></path>
    <path d="M47.3259 164.319H63.2297V109.32H47.3259V164.319Z" fill="#F7F6F7"></path>
    <path d="M47.3259 109.333H63.2297V54.3343H47.3259V109.333Z" fill="#3D3D3B"></path>
    <path d="M47.3259 55.0125H63.2297V0.0132637H47.3259V55.0125Z" fill="#F7F6F7"></path>
    <path d="M79.0537 -0.000244141H63.1499V54.9989H79.0537V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M79.0537 54.3208H63.1499V109.32H79.0537V54.3208Z" fill="#F7F6F7"></path>
    <path d="M79.0537 109.307H63.1499V164.306H79.0537V109.307Z" fill="#3D3D3B"></path>
    <path d="M79.0537 164.378H63.1499V219.378H79.0537V164.378Z" fill="#F7F6F7"></path>
    <path d="M78.894 219.391H94.7979V164.391H78.894V219.391Z" fill="#3D3D3B"></path>
    <path d="M78.894 164.319H94.7979V109.32H78.894V164.319Z" fill="#F7F6F7"></path>
    <path d="M78.894 109.333H94.7979V54.3343H78.894V109.333Z" fill="#3D3D3B"></path>
    <path d="M78.894 55.0125H94.7979V0.0132637H78.894V55.0125Z" fill="#F7F6F7"></path>
    <path d="M110.635 0H94.7314V54.9992H110.635V0Z" fill="#3D3D3B"></path>
    <path d="M110.635 54.3208H94.7314V109.32H110.635V54.3208Z" fill="#F7F6F7"></path>
    <path d="M110.635 109.307H94.7314V164.306H110.635V109.307Z" fill="#3D3D3B"></path>
    <path d="M110.635 164.378H94.7314V219.378H110.635V164.378Z" fill="#F7F6F7"></path>
    <path d="M110.476 219.391H126.38V164.391H110.476V219.391Z" fill="#3D3D3B"></path>
    <path d="M110.476 164.319H126.38V109.32H110.476V164.319Z" fill="#F7F6F7"></path>
    <path d="M110.476 109.333H126.38V54.3343H110.476V109.333Z" fill="#3D3D3B"></path>
    <path d="M110.476 55.0125H126.38V0.0132637H110.476V55.0125Z" fill="#F7F6F7"></path>
    <path d="M142.217 -0.000244141H126.313V54.9989H142.217V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M142.217 54.3208H126.313V109.32H142.217V54.3208Z" fill="#F7F6F7"></path>
    <path d="M142.217 109.307H126.313V164.306H142.217V109.307Z" fill="#3D3D3B"></path>
    <path d="M142.124 164.319H158.028V109.32H142.124V164.319Z" fill="#F7F6F7"></path>
    <path d="M142.124 109.333H158.028V54.3343H142.124V109.333Z" fill="#3D3D3B"></path>
    <path d="M142.124 55.0125H158.028V0.0132637H142.124V55.0125Z" fill="#F7F6F7"></path>
    <path d="M173.865 0H157.961V54.9992H173.865V0Z" fill="#3D3D3B"></path>
    <path d="M173.865 54.3208H157.961V109.32H173.865V54.3208Z" fill="#F7F6F7"></path>
    <path d="M173.865 109.307H157.961V164.306H173.865V109.307Z" fill="#3D3D3B"></path>
    <path d="M173.705 164.319H189.609V109.32H173.705V164.319Z" fill="#F7F6F7"></path>
    <path d="M173.705 109.333H189.609V54.3343H173.705V109.333Z" fill="#3D3D3B"></path>
    <path d="M173.705 55.0125H189.609V0.0132637H173.705V55.0125Z" fill="#F7F6F7"></path>
    <path d="M205.446 -0.000244141H189.542V54.9989H205.446V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M205.446 54.3208H189.542V109.32H205.446V54.3208Z" fill="#F7F6F7"></path>
    <path d="M205.446 109.307H189.542V164.306H205.446V109.307Z" fill="#3D3D3B"></path>
    <path d="M205.287 164.319H221.191V109.32H205.287V164.319Z" fill="#F7F6F7"></path>
    <path d="M205.287 109.333H221.191V54.3343H205.287V109.333Z" fill="#3D3D3B"></path>
    <path d="M205.287 55.0125H221.191V0.0132637H205.287V55.0125Z" fill="#F7F6F7"></path>
    <path d="M237.015 0H221.111V54.9992H237.015V0Z" fill="#3D3D3B"></path>
    <path d="M237.015 54.3208H221.111V109.32H237.015V54.3208Z" fill="#F7F6F7"></path>
    <path d="M237.015 109.307H221.111V164.306H237.015V109.307Z" fill="#3D3D3B"></path>
    <path d="M236.855 164.319H252.759V109.32H236.855V164.319Z" fill="#F7F6F7"></path>
    <path d="M236.855 109.333H252.759V54.3343H236.855V109.333Z" fill="#3D3D3B"></path>
    <path d="M236.855 55.0125H252.759V0.0132637H236.855V55.0125Z" fill="#F7F6F7"></path>
    <path d="M268.596 -0.000244141H252.693V54.9989H268.596V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M268.596 54.3208H252.693V109.32H268.596V54.3208Z" fill="#F7F6F7"></path>
    <path d="M268.596 109.307H252.693V164.306H268.596V109.307Z" fill="#3D3D3B"></path>
    <path d="M268.437 164.319H284.341V109.32H268.437V164.319Z" fill="#F7F6F7"></path>
    <path d="M268.437 109.333H284.341V54.3343H268.437V109.333Z" fill="#3D3D3B"></path>
    <path d="M268.437 55.0125H284.341V0.0132637H268.437V55.0125Z" fill="#F7F6F7"></path>
    <path d="M300.178 0H284.274V54.9992H300.178V0Z" fill="#3D3D3B"></path>
    <path d="M300.178 54.3208H284.274V109.32H300.178V54.3208Z" fill="#F7F6F7"></path>
    <path d="M300.178 109.307H284.274V164.306H300.178V109.307Z" fill="#3D3D3B"></path>
    <path d="M142.217 164.378H126.313V219.378H142.217V164.378Z" fill="#F7F6F7"></path>
    <path d="M299.566 164.319H315.47V109.32H299.566V164.319Z" fill="#F7F6F7"></path>
    <path d="M299.566 109.333H315.47V54.3343H299.566V109.333Z" fill="#3D3D3B"></path>
    <path d="M299.566 55.0125H315.47V0.0132637H299.566V55.0125Z" fill="#F7F6F7"></path>
    <path d="M331.308 0H315.404V54.9992H331.308V0Z" fill="#3D3D3B"></path>
    <path d="M331.148 55.0125H347.052V0.0132637H331.148V55.0125Z" fill="#F7F6F7"></path>
    <path d="M362.876 -0.000244141H346.972V54.9989H362.876V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M362.876 54.3208H346.972V109.32H362.876V54.3208Z" fill="#F7F6F7"></path>
    <path d="M362.716 164.319H378.62V109.32H362.716V164.319Z" fill="#F7F6F7"></path>
    <path d="M362.716 109.333H378.62V54.3343H362.716V109.333Z" fill="#3D3D3B"></path>
    <path d="M362.716 55.0125H378.62V0.0132637H362.716V55.0125Z" fill="#F7F6F7"></path>
    <path d="M394.457 0H378.553V54.9992H394.457V0Z" fill="#3D3D3B"></path>
    <path d="M394.457 54.3208H378.553V109.32H394.457V54.3208Z" fill="#F7F6F7"></path>
    <path d="M394.457 109.307H378.553V164.306H394.457V109.307Z" fill="#3D3D3B"></path>
    <path d="M394.298 164.319H410.202V109.32H394.298V164.319Z" fill="#F7F6F7"></path>
    <path d="M394.298 109.333H410.202V54.3343H394.298V109.333Z" fill="#3D3D3B"></path>
    <path d="M394.298 55.0125H410.202V0.0132637H394.298V55.0125Z" fill="#F7F6F7"></path>
    <path d="M426.039 -0.000244141H410.135V54.9989H426.039V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M426.039 54.3208H410.135V109.32H426.039V54.3208Z" fill="#F7F6F7"></path>
    <path d="M426.039 109.307H410.135V164.306H426.039V109.307Z" fill="#3D3D3B"></path>
    <path d="M425.946 164.319H441.85V109.32H425.946V164.319Z" fill="#F7F6F7"></path>
    <path d="M425.946 109.333H441.85V54.3343H425.946V109.333Z" fill="#3D3D3B"></path>
    <path d="M425.946 55.0125H441.85V0.0132637H425.946V55.0125Z" fill="#F7F6F7"></path>
    <path d="M457.687 0H441.783V54.9992H457.687V0Z" fill="#3D3D3B"></path>
    <path d="M457.687 54.3208H441.783V109.32H457.687V54.3208Z" fill="#F7F6F7"></path>
    <path d="M457.687 109.307H441.783V164.306H457.687V109.307Z" fill="#3D3D3B"></path>
    <path d="M457.541 109.333H473.444V54.3343H457.541V109.333Z" fill="#3D3D3B"></path>
    <path d="M457.541 55.0125H473.444V0.0132637H457.541V55.0125Z" fill="#F7F6F7"></path>
    <path d="M489.269 -0.000244141H473.365V54.9989H489.269V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M489.269 54.3208H473.365V109.32H489.269V54.3208Z" fill="#F7F6F7"></path>
    <path d="M489.269 109.307H473.365V164.306H489.269V109.307Z" fill="#3D3D3B"></path>
    <path d="M489.109 164.319H505.013V109.32H489.109V164.319Z" fill="#F7F6F7"></path>
    <path d="M489.109 109.333H505.013V54.3343H489.109V109.333Z" fill="#3D3D3B"></path>
    <path d="M489.109 55.0125H505.013V0.0132637H489.109V55.0125Z" fill="#F7F6F7"></path>
    <path d="M520.85 0H504.946V54.9992H520.85V0Z" fill="#3D3D3B"></path>
    <path d="M520.85 54.3208H504.946V109.32H520.85V54.3208Z" fill="#F7F6F7"></path>
    <path d="M520.85 109.307H504.946V164.306H520.85V109.307Z" fill="#3D3D3B"></path>
    <path d="M520.677 109.333H536.581V54.3343H520.677V109.333Z" fill="#3D3D3B"></path>
    <path d="M520.677 55.0125H536.581V0.0132637H520.677V55.0125Z" fill="#F7F6F7"></path>
    <path d="M552.418 -0.000244141H536.515V54.9989H552.418V-0.000244141Z" fill="#3D3D3B"></path>
    <path d="M552.418 54.3208H536.514V109.32H552.418V54.3208Z" fill="#F7F6F7"></path>
    <path d="M552.272 164.319H568.176V109.32H552.272V164.319Z" fill="#F7F6F7"></path>
    <path d="M552.272 109.333H568.176V54.3343H552.272V109.333Z" fill="#3D3D3B"></path>
    <path d="M552.272 55.0125H568.176V0.0132637H552.272V55.0125Z" fill="#F7F6F7"></path>
    <path d="M584 0H568.096V54.9992H584V0Z" fill="#3D3D3B"></path>
    <path d="M584 54.3208H568.096V109.32H584V54.3208Z" fill="#F7F6F7"></path>
    <path d="M584 109.307H568.096V164.306H584V109.307Z" fill="#3D3D3B"></path>
  </svg>
  <svg viewBox="0 0 584 221" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.9038 0.797363H0L0 55.7966H15.9038V0.797363Z" fill="#F7F6F7"></path>
    <path d="M15.9038 55.1182H0L0 110.117H15.9038V55.1182Z" fill="#3D3D3B"></path>
    <path d="M15.9038 110.104H0L0 165.103H15.9038V110.104Z" fill="#F7F6F7"></path>
    <path d="M15.9038 165.582H0L0 220.581H15.9038V165.582Z" fill="#3D3D3B"></path>
    <path d="M15.7441 220.594H31.6479V165.595H15.7441V220.594Z" fill="#F7F6F7"></path>
    <path d="M15.7441 165.117H31.6479V110.118H15.7441V165.117Z" fill="#3D3D3B"></path>
    <path d="M15.7441 110.13H31.6479V55.1312H15.7441V110.13Z" fill="#F7F6F7"></path>
    <path d="M15.7441 55.8096H31.6479V0.810383H15.7441V55.8096Z" fill="#3D3D3B"></path>
    <path d="M47.4854 0.797363H31.5815V55.7966H47.4854V0.797363Z" fill="#F7F6F7"></path>
    <path d="M47.4854 55.1182H31.5815V110.117H47.4854V55.1182Z" fill="#3D3D3B"></path>
    <path d="M47.3259 165.117H63.2297V110.118H47.3259V165.117Z" fill="#3D3D3B"></path>
    <path d="M47.3259 110.13H63.2297V55.1312H47.3259V110.13Z" fill="#F7F6F7"></path>
    <path d="M47.3259 55.8096H63.2297V0.810383H47.3259V55.8096Z" fill="#3D3D3B"></path>
    <path d="M79.0537 0.796875H63.1499V55.7961H79.0537V0.796875Z" fill="#F7F6F7"></path>
    <path d="M79.0537 55.1182H63.1499V110.117H79.0537V55.1182Z" fill="#3D3D3B"></path>
    <path d="M79.0537 110.104H63.1499V165.103H79.0537V110.104Z" fill="#F7F6F7"></path>
    <path d="M79.0537 165.175H63.1499V220.174H79.0537V165.175Z" fill="#3D3D3B"></path>
    <path d="M78.894 220.188H94.7979V165.189H78.894V220.188Z" fill="#F7F6F7"></path>
    <path d="M78.894 165.117H94.7979V110.118H78.894V165.117Z" fill="#3D3D3B"></path>
    <path d="M78.894 110.13H94.7979V55.1312H78.894V110.13Z" fill="#F7F6F7"></path>
    <path d="M78.894 55.8096H94.7979V0.810383H78.894V55.8096Z" fill="#3D3D3B"></path>
    <path d="M110.635 0.797363H94.7314V55.7966H110.635V0.797363Z" fill="#F7F6F7"></path>
    <path d="M110.635 55.1182H94.7314V110.117H110.635V55.1182Z" fill="#3D3D3B"></path>
    <path d="M110.635 110.104H94.7314V165.103H110.635V110.104Z" fill="#F7F6F7"></path>
    <path d="M110.635 165.175H94.7314V220.174H110.635V165.175Z" fill="#3D3D3B"></path>
    <path d="M110.476 220.188H126.38V165.189H110.476V220.188Z" fill="#F7F6F7"></path>
    <path d="M110.476 165.117H126.38V110.118H110.476V165.117Z" fill="#3D3D3B"></path>
    <path d="M110.476 110.13H126.38V55.1312H110.476V110.13Z" fill="#F7F6F7"></path>
    <path d="M110.476 55.8096H126.38V0.810383H110.476V55.8096Z" fill="#3D3D3B"></path>
    <path d="M142.217 0.796875H126.313V55.7961H142.217V0.796875Z" fill="#F7F6F7"></path>
    <path d="M142.217 55.1182H126.313V110.117H142.217V55.1182Z" fill="#3D3D3B"></path>
    <path d="M142.217 110.104H126.313V165.103H142.217V110.104Z" fill="#F7F6F7"></path>
    <path d="M142.124 165.116H158.028V110.117H142.124V165.116Z" fill="#3D3D3B"></path>
    <path d="M142.124 110.13H158.028V55.1312H142.124V110.13Z" fill="#F7F6F7"></path>
    <path d="M142.124 55.8096H158.028V0.810383H142.124V55.8096Z" fill="#3D3D3B"></path>
    <path d="M173.865 0.797363H157.961V55.7966H173.865V0.797363Z" fill="#F7F6F7"></path>
    <path d="M173.865 55.1182H157.961V110.117H173.865V55.1182Z" fill="#3D3D3B"></path>
    <path d="M173.865 110.104H157.961V165.103H173.865V110.104Z" fill="#F7F6F7"></path>
    <path d="M173.705 165.116H189.609V110.117H173.705V165.116Z" fill="#3D3D3B"></path>
    <path d="M173.705 110.13H189.609V55.1312H173.705V110.13Z" fill="#F7F6F7"></path>
    <path d="M173.705 55.8096H189.609V0.810383H173.705V55.8096Z" fill="#3D3D3B"></path>
    <path d="M205.446 0.796875H189.542V55.7961H205.446V0.796875Z" fill="#F7F6F7"></path>
    <path d="M205.446 55.1182H189.542V110.117H205.446V55.1182Z" fill="#3D3D3B"></path>
    <path d="M205.446 110.104H189.542V165.103H205.446V110.104Z" fill="#F7F6F7"></path>
    <path d="M205.287 165.116H221.191V110.117H205.287V165.116Z" fill="#3D3D3B"></path>
    <path d="M205.287 110.13H221.191V55.1312H205.287V110.13Z" fill="#F7F6F7"></path>
    <path d="M205.287 55.8096H221.191V0.810383H205.287V55.8096Z" fill="#3D3D3B"></path>
    <path d="M237.015 0.797363H221.111V55.7966H237.015V0.797363Z" fill="#F7F6F7"></path>
    <path d="M237.015 55.1182H221.111V110.117H237.015V55.1182Z" fill="#3D3D3B"></path>
    <path d="M237.015 110.104H221.111V165.103H237.015V110.104Z" fill="#F7F6F7"></path>
    <path d="M236.855 165.116H252.759V110.117H236.855V165.116Z" fill="#3D3D3B"></path>
    <path d="M236.855 110.13H252.759V55.1312H236.855V110.13Z" fill="#F7F6F7"></path>
    <path d="M236.855 55.8096H252.759V0.810383H236.855V55.8096Z" fill="#3D3D3B"></path>
    <path d="M268.596 0.796875H252.693V55.7961H268.596V0.796875Z" fill="#F7F6F7"></path>
    <path d="M268.596 55.1182H252.693V110.117H268.596V55.1182Z" fill="#3D3D3B"></path>
    <path d="M268.596 110.104H252.693V165.103H268.596V110.104Z" fill="#F7F6F7"></path>
    <path d="M268.437 165.117H284.341V110.118H268.437V165.117Z" fill="#3D3D3B"></path>
    <path d="M268.437 110.13H284.341V55.1312H268.437V110.13Z" fill="#F7F6F7"></path>
    <path d="M268.437 55.8096H284.341V0.810383H268.437V55.8096Z" fill="#3D3D3B"></path>
    <path d="M300.178 0.797363H284.274V55.7966H300.178V0.797363Z" fill="#F7F6F7"></path>
    <path d="M300.178 55.1182H284.274V110.117H300.178V55.1182Z" fill="#3D3D3B"></path>
    <path d="M300.178 110.104H284.274V165.103H300.178V110.104Z" fill="#F7F6F7"></path>
    <path d="M142.217 165.175H126.313V220.174H142.217V165.175Z" fill="#3D3D3B"></path>
    <path d="M299.566 165.117H315.47V110.118H299.566V165.117Z" fill="#3D3D3B"></path>
    <path d="M299.566 110.13H315.47V55.1312H299.566V110.13Z" fill="#F7F6F7"></path>
    <path d="M299.566 55.8096H315.47V0.810383H299.566V55.8096Z" fill="#3D3D3B"></path>
    <path d="M331.308 0.797363H315.404V55.7966H331.308V0.797363Z" fill="#F7F6F7"></path>
    <path d="M331.148 55.8096H347.052V0.810383H331.148V55.8096Z" fill="#3D3D3B"></path>
    <path d="M362.876 0.796875H346.972V55.7961H362.876V0.796875Z" fill="#F7F6F7"></path>
    <path d="M362.876 55.1182H346.972V110.117H362.876V55.1182Z" fill="#3D3D3B"></path>
    <path d="M362.716 165.117H378.62V110.118H362.716V165.117Z" fill="#3D3D3B"></path>
    <path d="M362.716 110.13H378.62V55.1312H362.716V110.13Z" fill="#F7F6F7"></path>
    <path d="M362.716 55.8096H378.62V0.810383H362.716V55.8096Z" fill="#3D3D3B"></path>
    <path d="M394.457 0.797363H378.553V55.7966H394.457V0.797363Z" fill="#F7F6F7"></path>
    <path d="M394.457 55.1182H378.553V110.117H394.457V55.1182Z" fill="#3D3D3B"></path>
    <path d="M394.457 110.104H378.553V165.103H394.457V110.104Z" fill="#F7F6F7"></path>
    <path d="M394.298 165.117H410.202V110.118H394.298V165.117Z" fill="#3D3D3B"></path>
    <path d="M394.298 110.13H410.202V55.1312H394.298V110.13Z" fill="#F7F6F7"></path>
    <path d="M394.298 55.8096H410.202V0.810383H394.298V55.8096Z" fill="#3D3D3B"></path>
    <path d="M426.039 0.796875H410.135V55.7961H426.039V0.796875Z" fill="#F7F6F7"></path>
    <path d="M426.039 55.1182H410.135V110.117H426.039V55.1182Z" fill="#3D3D3B"></path>
    <path d="M426.039 110.104H410.135V165.103H426.039V110.104Z" fill="#F7F6F7"></path>
    <path d="M425.946 165.116H441.85V110.117H425.946V165.116Z" fill="#3D3D3B"></path>
    <path d="M425.946 110.13H441.85V55.1312H425.946V110.13Z" fill="#F7F6F7"></path>
    <path d="M425.946 55.8096H441.85V0.810383H425.946V55.8096Z" fill="#3D3D3B"></path>
    <path d="M457.687 0.797363H441.783V55.7966H457.687V0.797363Z" fill="#F7F6F7"></path>
    <path d="M457.687 55.1182H441.783V110.117H457.687V55.1182Z" fill="#3D3D3B"></path>
    <path d="M457.687 110.104H441.783V165.103H457.687V110.104Z" fill="#F7F6F7"></path>
    <path d="M457.541 110.13H473.444V55.1312H457.541V110.13Z" fill="#F7F6F7"></path>
    <path d="M457.541 55.8096H473.444V0.810383H457.541V55.8096Z" fill="#3D3D3B"></path>
    <path d="M489.269 0.796875H473.365V55.7961H489.269V0.796875Z" fill="#F7F6F7"></path>
    <path d="M489.269 55.1182H473.365V110.117H489.269V55.1182Z" fill="#3D3D3B"></path>
    <path d="M489.269 110.104H473.365V165.103H489.269V110.104Z" fill="#F7F6F7"></path>
    <path d="M489.109 165.116H505.013V110.117H489.109V165.116Z" fill="#3D3D3B"></path>
    <path d="M489.109 110.13H505.013V55.1312H489.109V110.13Z" fill="#F7F6F7"></path>
    <path d="M489.109 55.8096H505.013V0.810383H489.109V55.8096Z" fill="#3D3D3B"></path>
    <path d="M520.85 0.796875H504.946V55.7961H520.85V0.796875Z" fill="#F7F6F7"></path>
    <path d="M520.85 55.1182H504.946V110.117H520.85V55.1182Z" fill="#3D3D3B"></path>
    <path d="M520.85 110.104H504.946V165.103H520.85V110.104Z" fill="#F7F6F7"></path>
    <path d="M520.677 110.13H536.581V55.1312H520.677V110.13Z" fill="#F7F6F7"></path>
    <path d="M520.677 55.8096H536.581V0.810383H520.677V55.8096Z" fill="#3D3D3B"></path>
    <path d="M552.418 0.796875H536.515V55.7961H552.418V0.796875Z" fill="#F7F6F7"></path>
    <path d="M552.418 55.1182H536.514V110.117H552.418V55.1182Z" fill="#3D3D3B"></path>
    <path d="M552.272 165.117H568.176V110.118H552.272V165.117Z" fill="#3D3D3B"></path>
    <path d="M552.272 110.13H568.176V55.1312H552.272V110.13Z" fill="#F7F6F7"></path>
    <path d="M552.272 55.8096H568.176V0.810383H552.272V55.8096Z" fill="#3D3D3B"></path>
    <path d="M584 0.796875H568.096V55.7961H584V0.796875Z" fill="#F7F6F7"></path>
    <path d="M584 55.1182H568.096V110.117H584V55.1182Z" fill="#3D3D3B"></path>
    <path d="M584 110.104H568.096V165.103H584V110.104Z" fill="#F7F6F7"></path>
  </svg>
</div>
