---

---

<div class="relative">
  <svg class="svg-anim" viewBox="0 0 390 61" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M390 0H376V11H390V0Z" fill="#FFFCEA"></path>
    <path d="M389.74 11.1699H376.41V24.3399H389.74V11.1699Z" fill="#19A538"></path>
    <path d="M389.74 24.1799H376.41V37.3499H389.74V24.1799Z" fill="#FFFCEA"></path>
    <path d="M389.74 37.3501H376.41V50.5201H389.74V37.3501Z" fill="#19A538"></path>
    <path d="M389.74 50.6401H376.41V55.1201H389.74V50.6401Z" fill="#FFFCEA"></path>
    <path d="M389.74 55.1201H376.41V59.6001H389.74V55.1201Z" fill="#19A538"></path>
    <path d="M336 59.5901L376.6 59.5901V55.1101L336 55.1101V59.5901Z" fill="#FFFCEA"></path>
    <path d="M336 55.1201L376.6 55.1201V50.6401L336 50.6401V55.1201Z" fill="#19A538"></path>
    <path d="M336 50.53L376.6 50.53V37.36L336 37.36V50.53Z" fill="#FFFCEA"></path>
    <path d="M336 37.3599L376.6 37.3599V24.1899L336 24.1899V37.3599Z" fill="#19A538"></path>
    <path d="M336 24.3501L376.6 24.3501V11.1801L336 11.1801V24.3501Z" fill="#FFFCEA"></path>
    <path d="M336 11L377 11V0L336 0V11Z" fill="#19A538"></path>
    <path d="M254.14 0.129883H213.54V13.2999H254.14V0.129883Z" fill="#FFFCEA"></path>
    <path d="M254.14 13.2998H213.54V26.4698H254.14V13.2998Z" fill="#19A538"></path>
    <path d="M254.16 26.47H213.56V39.64H254.16V26.47Z" fill="#FFFCEA"></path>
    <path d="M254.16 39.6399H213.56V52.8099H254.16V39.6399Z" fill="#19A538"></path>
    <path d="M254.16 52.6499H213.56V60.1299H254.16V52.6499Z" fill="#FFFCEA"></path>
    <path d="M173.15 60.1199L213.75 60.1199V52.6399L173.15 52.6399V60.1199Z" fill="#19A538"></path>
    <path d="M173.15 52.7998L213.75 52.7998V39.6298L173.15 39.6298V52.7998Z" fill="#FFFCEA"></path>
    <path d="M173.15 39.6299L213.75 39.6299V26.4599L173.15 26.4599V39.6299Z" fill="#19A538"></path>
    <path d="M119.08 26.47L213.72 26.47V13.3L119.08 13.3V26.47Z" fill="#FFFCEA"></path>
    <path d="M173.12 13.2998L213.72 13.2998V0.129807L173.12 0.129807V13.2998Z" fill="#19A538"></path>
    <path d="M92.36 60.1199L132.96 60.1199V52.6399L92.36 52.6399V60.1199Z" fill="#19A538"></path>
    <path d="M92.36 52.7998L132.96 52.7998V39.6298L92.36 39.6298V52.7998Z" fill="#FFFCEA"></path>
    <path d="M92.36 39.6299L132.96 39.6299V26.4599L92.36 26.4599V39.6299Z" fill="#19A538"></path>
    <path d="M92.3399 26.47L132.94 26.47V13.3L92.3399 13.3V26.47Z" fill="#FFFCEA"></path>
    <path d="M92.3399 13.2998L132.94 13.2998V0.129807L92.3399 0.129807V13.2998Z" fill="#19A538"></path>
    <path d="M92.93 0.129883H52.33V13.2999H92.93V0.129883Z" fill="#FFFCEA"></path>
    <path d="M92.93 13.2998H52.33V26.4698H92.93V13.2998Z" fill="#19A538"></path>
    <path d="M92.93 26.46H52.33V39.63H92.93V26.46Z" fill="#FFFCEA"></path>
    <path d="M92.95 39.6399H52.35V52.8099H92.95V39.6399Z" fill="#19A538"></path>
    <path d="M92.95 52.6499H52.35V60.1299H92.95V52.6499Z" fill="#FFFCEA"></path>
    <path d="M11.93 60.1199L52.53 60.1199V52.6399L11.93 52.6399V60.1199Z" fill="#19A538"></path>
    <path d="M11.93 52.7998L52.53 52.7998V39.6298L11.93 39.6298V52.7998Z" fill="#FFFCEA"></path>
    <path d="M11.92 39.6299L52.52 39.6299V26.4599L11.92 26.4599V39.6299Z" fill="#19A538"></path>
    <path d="M11.92 26.47L52.52 26.47V13.3L11.92 13.3V26.47Z" fill="#FFFCEA"></path>
    <path d="M11.92 13.2998L52.52 13.2998V0.129807L11.92 0.129807V13.2998Z" fill="#19A538"></path>
    <path d="M303.23 4H295.1V13.5H303.23V4Z" fill="#FFFCEA"></path>
    <path d="M303.23 13.5H295.1V23H303.23V13.5Z" fill="#19A538"></path>
    <path d="M287 23H295.13V13.5L287 13.5V23Z" fill="#FFFCEA"></path>
    <path d="M287 13.51L295.13 13.51V4.01001L287 4.01001V13.51Z" fill="#19A538"></path>
    <path d="M303.23 22.3601H295.1V31.8601H303.23V22.3601Z" fill="#FFFCEA"></path>
    <path d="M303.23 31.8501H295.1V41.3501H303.23V31.8501Z" fill="#19A538"></path>
    <path d="M303.23 41.4299H295.1V50.9299H303.23V41.4299Z" fill="#FFFCEA"></path>
    <path d="M303.23 50.9299H295.1V60.4299H303.23V50.9299Z" fill="#19A538"></path>
    <path d="M287 60.4299H295.13V50.9299H287V60.4299Z" fill="#FFFCEA"></path>
    <path d="M287 50.9399H295.13V41.4399H287V50.9399Z" fill="#19A538"></path>
    <path d="M287 41.3599H295.13V31.8599H287V41.3599Z" fill="#FFFCEA"></path>
    <path d="M287 31.8501H295.13V22.3501H287V31.8501Z" fill="#19A538"></path>
    <path d="M303 0V60H311V0H303Z" fill="#FFFCEA"></path>
    <path d="M320 0V60H328V0H320Z" fill="#FFFCEA"></path>
    <path d="M311 0V60H320V0H311Z" fill="#19A538"></path>
    <path d="M328 3.8147e-06V60H336V3.8147e-06H328Z" fill="#19A538"></path>
    <path d="M286.91 58.9401V0.0600586L278.69 0.0600586V58.9401H286.91Z" fill="#FFFCEA"></path>
    <path d="M278.69 58.9401V0.0600586L270.47 0.0600586V58.9401H278.69Z" fill="#19A538"></path>
    <path d="M270.4 58.9501V0.0700684L262.18 0.0700684V58.9501H270.4Z" fill="#FFFCEA"></path>
    <path d="M262.18 58.9501V0.0700684L253.96 0.0700684V58.9501H262.18Z" fill="#19A538"></path>
    <path d="M253.96 46.9501V60.1201H262.18V46.9501H253.96Z" fill="#FFFCEA"></path>
    <path d="M262.18 46.9501V60.1201H270.4V46.9501H262.18Z" fill="#19A538"></path>
    <path d="M270.47 46.9601V60.1301H278.69V46.9601H270.47Z" fill="#FFFCEA"></path>
    <path d="M278.69 46.9601V60.1301H286.91V46.9601H278.69Z" fill="#19A538"></path>
    <path d="M173.35 0.129883H132.75V13.2999H173.35V0.129883Z" fill="#FFFCEA"></path>
    <path d="M173.38 26.47V39.64H132.78V26.47" fill="#FFFCEA"></path>
    <path d="M173.38 39.6399H132.78V52.8099H173.38V39.6399Z" fill="#19A538"></path>
    <path d="M173.38 52.6499H132.78V60.1299H173.38V52.6499Z" fill="#FFFCEA"></path>
    <path d="M132 27.1699L172.6 27.1699V13.9999L132 13.9999V27.1699Z" fill="#19A538"></path>
    <path d="M287 0H295V5H287V0Z" fill="#FFFCEA"></path>
    <path d="M303 5L295 5V0L303 0V5Z" fill="#19A538"></path>
    <path d="M12.33 0.129883H0V13.2999H12.33V0.129883Z" fill="#FFFCEA"></path>
    <path d="M12.33 13.2998H0V26.4698H12.33V13.2998Z" fill="#19A538"></path>
    <path d="M12.33 26.46H0V39.63H12.33V26.46Z" fill="#FFFCEA"></path>
    <path d="M12.35 39.6399H0.0200195V52.8099H12.35V39.6399Z" fill="#19A538"></path>
    <path d="M12 52H0V60H12V52Z" fill="#FFFCEA"></path>
  </svg>
  <svg  viewBox="0 0 390 61" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M390 0.429932H376V11.4299H390V0.429932Z" fill="#FFFCEA"></path>
    <path d="M389.74 11.5999H376.41V24.7699H389.74V11.5999Z" fill="#19A538"></path>
    <path d="M389.74 24.6099H376.41V37.7799H389.74V24.6099Z" fill="#FFFCEA"></path>
    <path d="M389.74 37.78H376.41V50.95H389.74V37.78Z" fill="#19A538"></path>
    <path d="M389.74 51.0698H376.41V55.5498H389.74V51.0698Z" fill="#FFFCEA"></path>
    <path d="M389.74 55.5498H376.41V60.0298H389.74V55.5498Z" fill="#19A538"></path>
    <path d="M336 60.02L376.6 60.02V55.54L336 55.54V60.02Z" fill="#13A538"></path>
    <path d="M336 55.55L376.6 55.55V51.0701L336 51.0701V55.55Z" fill="#FFFCEA"></path>
    <path d="M336 50.96L376.6 50.96V37.79L336 37.79V50.96Z" fill="#13A538"></path>
    <path d="M336 37.79L376.6 37.79V24.62L336 24.62V37.79Z" fill="#FFFCEA"></path>
    <path d="M336 24.78L376.6 24.78V11.61L336 11.61V24.78Z" fill="#13A538"></path>
    <path d="M336 11.4299L377 11.4299V0.429932L336 0.429932V11.4299Z" fill="#FFFCEA"></path>
    <path d="M254.14 0.560059H213.54V13.7301H254.14V0.560059Z" fill="#FFFCEA"></path>
    <path d="M254.14 13.73H213.54V26.9H254.14V13.73Z" fill="#19A538"></path>
    <path d="M254.16 26.9001H213.56V40.0701H254.16V26.9001Z" fill="#FFFCEA"></path>
    <path d="M254.16 40.0701H213.56V53.2401H254.16V40.0701Z" fill="#19A538"></path>
    <path d="M254.16 53.0801H213.56V60.5601H254.16V53.0801Z" fill="#FFFCEA"></path>
    <path d="M173.15 60.55L213.75 60.55V53.07L173.15 53.07V60.55Z" fill="#19A538"></path>
    <path d="M173.15 53.23L213.75 53.23V40.06L173.15 40.06V53.23Z" fill="#FFFCEA"></path>
    <path d="M173.15 40.0601L213.75 40.0601V26.8901L173.15 26.8901V40.0601Z" fill="#19A538"></path>
    <path d="M131 27.1699L225.64 27.1699V13.9999L131 13.9999V27.1699Z" fill="#FFFCEA"></path>
    <path d="M173.12 13.73L213.72 13.73V0.559982L173.12 0.559982V13.73Z" fill="#19A538"></path>
    <path d="M92.36 60.55L132.96 60.55V53.07L92.36 53.07V60.55Z" fill="#19A538"></path>
    <path d="M92.36 53.23L132.96 53.23V40.06L92.36 40.06V53.23Z" fill="#FFFCEA"></path>
    <path d="M92.36 40.0601L132.96 40.0601V26.8901L92.36 26.8901V40.0601Z" fill="#19A538"></path>
    <path d="M92.3399 26.9001L132.94 26.9001V13.7301L92.3399 13.7301V26.9001Z" fill="#FFFCEA"></path>
    <path d="M92.3399 13.73L132.94 13.73V0.559982L92.3399 0.559982V13.73Z" fill="#19A538"></path>
    <path d="M92.93 0.560059H52.33V13.7301H92.93V0.560059Z" fill="#13A538"></path>
    <path d="M92.93 13.73H52.33V26.9H92.93V13.73Z" fill="#FFFCEA"></path>
    <path d="M92.93 26.8901H52.33V40.0601H92.93V26.8901Z" fill="#13A538"></path>
    <path d="M92.95 40.0701H52.35V53.2401H92.95V40.0701Z" fill="#FFFCEA"></path>
    <path d="M92.95 53.0801H52.35V60.5601H92.95V53.0801Z" fill="#13A538"></path>
    <path d="M11.93 60.55L52.53 60.55V53.07L11.93 53.07V60.55Z" fill="#19A538"></path>
    <path d="M11.93 53.23L52.53 53.23V40.06L11.93 40.06V53.23Z" fill="#FFFCEA"></path>
    <path d="M11.92 40.0601L52.52 40.0601V26.8901L11.92 26.8901V40.0601Z" fill="#19A538"></path>
    <path d="M11.92 26.9001L52.52 26.9001V13.7301L11.92 13.7301V26.9001Z" fill="#FFFCEA"></path>
    <path d="M11.92 13.73L52.52 13.73V0.559982L11.92 0.559982V13.73Z" fill="#19A538"></path>
    <path d="M303 0.429932V60.4299H311V0.429932H303Z" fill="#FFFCEA"></path>
    <path d="M320 0.429932V60.4299H328V0.429932H320Z" fill="#FFFCEA"></path>
    <path d="M311 0.429932V60.4299H320V0.429932H311Z" fill="#19A538"></path>
    <path d="M328 0.429935V60.4299H336V0.429935H328Z" fill="#19A538"></path>
    <path d="M286.91 59.37V0.48999L278.69 0.48999V59.37H286.91Z" fill="#FFFCEA"></path>
    <path d="M278.69 59.37V0.48999L270.47 0.48999V59.37H278.69Z" fill="#19A538"></path>
    <path d="M270.4 59.38V0.5L262.18 0.5V59.38H270.4Z" fill="#FFFCEA"></path>
    <path d="M262.18 59.38V0.5L253.96 0.5V59.38H262.18Z" fill="#19A538"></path>
    <path d="M253.96 47.38V60.55H262.18V47.38H253.96Z" fill="#FFFCEA"></path>
    <path d="M262.18 47.38V60.55H270.4V47.38H262.18Z" fill="#19A538"></path>
    <path d="M270.47 47.3901V60.5601H278.69V47.3901H270.47Z" fill="#FFFCEA"></path>
    <path d="M278.69 47.3901V60.5601H286.91V47.3901H278.69Z" fill="#19A538"></path>
    <path d="M173.35 0.560059H132.75V13.7301H173.35V0.560059Z" fill="#FFFCEA"></path>
    <path d="M173.38 26.9001V40.0701H132.78V26.9001" fill="#FFFCEA"></path>
    <path d="M173.38 40.0701H132.78V53.2401H173.38V40.0701Z" fill="#19A538"></path>
    <path d="M173.38 53.0801H132.78V60.5601H173.38V53.0801Z" fill="#FFFCEA"></path>
    <path d="M132 27.6001L172.6 27.6001V14.4301L132 14.4301V27.6001Z" fill="#19A538"></path>
    <path d="M303.23 4.42993H295.1V13.9299H303.23V4.42993Z" fill="#19A538"></path>
    <path d="M303.23 13.9299H295.1V23.4299H303.23V13.9299Z" fill="#FFFCEA"></path>
    <path d="M287 23.4299H295.13V13.9299L287 13.9299V23.4299Z" fill="#19A538"></path>
    <path d="M287 13.9399L295.13 13.9399V4.43994L287 4.43994V13.9399Z" fill="#FFFCEA"></path>
    <path d="M303.23 22.79H295.1V32.29H303.23V22.79Z" fill="#19A538"></path>
    <path d="M303.23 32.28H295.1V41.78H303.23V32.28Z" fill="#FFFCEA"></path>
    <path d="M303.23 41.8599H295.1V51.3599H303.23V41.8599Z" fill="#19A538"></path>
    <path d="M303.23 51.3599H295.1V60.8599H303.23V51.3599Z" fill="#FFFCEA"></path>
    <path d="M287 60.8599H295.13V51.3599H287V60.8599Z" fill="#19A538"></path>
    <path d="M287 51.3699H295.13V41.8699H287V51.3699Z" fill="#FFFCEA"></path>
    <path d="M287 41.79H295.13V32.29H287V41.79Z" fill="#19A538"></path>
    <path d="M287 32.28H295.13V22.78H287V32.28Z" fill="#FFFCEA"></path>
    <path d="M287 0.429932H295V5.42993H287V0.429932Z" fill="#19A538"></path>
    <path d="M303 5.42993L295 5.42993V0.429932L303 0.429932V5.42993Z" fill="#FFFCEA"></path>
    <path d="M12.33 0.560059H0V13.7301H12.33V0.560059Z" fill="#FFFCEA"></path>
    <path d="M12.33 13.73H0V26.9H12.33V13.73Z" fill="#19A538"></path>
    <path d="M12.33 26.8901H0V40.0601H12.33V26.8901Z" fill="#FFFCEA"></path>
    <path d="M12.35 40.0701H0.0200195V53.2401H12.35V40.0701Z" fill="#19A538"></path>
    <path d="M12 52.4302H0V60.4302H12V52.4302Z" fill="#FFFCEA"></path>
  </svg>
</div>
